<header id="header" class="header-container bg-white">
    <div class="top-header clearfix">
        <!-- Logo -->
        <div zafira-background-theme="header" class="logo bg-white"  ng-class="{ 'teal-dark': ['11','31'].indexOf($ctrl.mainData) >= 0,
                     'bg-white': $ctrl.mainData === '21',
                     'bg-primary': ['12','22','32'].indexOf($ctrl.mainData) >= 0,
                     'bg-success': ['13','23','33'].indexOf($ctrl.mainData) >= 0,
                     'bg-info': ['14','24','34'].indexOf($ctrl.mainData) >= 0,
                     'bg-warning': ['15','25','35'].indexOf($ctrl.mainData) >= 0,
                     'bg-danger': ['16','26','36'].indexOf($ctrl.mainData) >= 0 }">
            <a ui-sref="home">
                <span class="logo-icon"><img src="../../../../assets/images/2020/logo-white-x.svg" /></span>
            </a>
        </div>
    </div>
</header>
