<auth-component
    versions="$ctrl.versions"
    tenant-icon="$ctrl.application.tenantIcon">
    <form ng-if="!$ctrl.emailWasSent"
        name="forgot_form"
        class="md-form-login form-validation"
        ng-submit="$ctrl.resetPassword()">
        <fieldset>
            <md-input-container class="md-block">
                <label class="placeholder-label">Email</label>
                <input type="email"
                    name="email"
                    id="email"
                    required
                    ng-model="$ctrl.email" />
            </md-input-container>
            <div class="comment text-small">
                Please enter the email address associated with your account and we will send you the instructions for resetting your password.
            </div>
        </fieldset>

        <div  class="card-action no-border text-right">
            <md-button type="submit"
                class="md-raised"
                ng-disabled="forgot_form.$invalid || $ctrl.pendingSubmit">Send</md-button>
        </div>
    </form>
    <div ng-if="$ctrl.emailWasSent">
        <div class="message text-normal">
            Reset password instructions were successfully sent to <strong>{{ $ctrl.email }}</strong>. Please check your email.
        </div>
        <div class="card-action no-border text-right">
            <md-button type="button"
                ui-sref="signin"
                class="md-raised">Got it</md-button>
        </div>
    </div>
</auth-component>
