<div id="testrun-info-page" class="page-wrapper testrun-info page no-padding no-margin">
    <zf-sub-header>
        <zf-sub-header-button>
            <md-button name="testInfoBackBtn" aria-label="Go back"
                       ng-click="goToTestRuns();" class="md-icon-button back_button zf-icon-button">
                <md-icon class="material-icons">keyboard_backspace</md-icon>
            </md-button>
        </zf-sub-header-button>
        <zf-sub-header-title class="_flex">
            <span class="testrun-info__title-name">{{ test.name }}</span>
            <span class="testrun-info__title-name _mobile">{{ $ctrl.currentTitle }}</span>
            <span class="recording-icon" ng-if="MODE.name == 'live'">
                    <div class="red-point" ng-class="{'flash-point': true}"></div>
                </span>
        </zf-sub-header-title>
        <zf-sub-header-button>
            <button class="fixed-page-header__btn _launcher zf-primary-button"
                ng-click="$ctrl.downloadAllArtifacts();"
                ng-if="test.artifactsToDownload.length">
                    <md-icon aria-label="Download zip">archive</md-icon>
                <span>Artifacts</span>
            </button>
        </zf-sub-header-button>
    </zf-sub-header>
    <div class="row no-margin testrun-info__container">
        <div class="testrun-info__section col-md-12 no-padding">
            <div class="row no-margin" ng-cloak>
                <section class="panel panel-default no-margin">
                    <div class="panel-body no-padding">
                        <md-tabs ng-init="selectedTab = 0;" class="testrun-info__tabs" md-selected="selectedTab"
                            md-border-bottom md-autoselect>
                            <md-tab class="testrun-info__tab" ng-disabled="false" label="Overview" ng-click="selectedTab = 0;">
                                <div class="tab0">
                                    <div class="tab-content">
                                        <div class="history-tab">
                                            <div class="testrun-info__tab-video-section col-md-4 col-sm-12 col-md-push-8 no-padding">
                                                <md-chips ng-show="$ctrl.hasVideo">
                                                    <md-chip ng-repeat="driver in drivers" ng-click="switchDriver($index);"
                                                        ng-class="{'active': selectedDriver == $index}">Driver {{
                                                        $index + 1 }}</md-chip>
                                                </md-chips>
                                                <div>
                                                    <div ng-show="$ctrl.hasVideo" class="testrun-info__tab-video-wrapper">
                                                        <video preload="auto"
                                                            id="videoRecord"
                                                            ng-if="MODE.name == 'record'"
                                                            controls>
                                                            <source ng-src="{{ drivers[selectedDriver].link }}" type="video/mp4">
                                                            Your browser does not support the video tag.
                                                        </video>
                                                        <div ng-init="vncPained = true;" ng-if="MODE.name == 'live';"
                                                            id="vnc">
                                                            <i ng-click="$ctrl.toggleVNCFullScreen()" class="material-icons video-control">fullscreen</i>
                                                        </div>
                                                    </div>
                                                    <div ng-show="!$ctrl.hasVideo" class="testrun-info__tab-video-wrapper _no-video">
                                                        <div class="no-video__icon-wrapper">
                                                            <div class="material-icons icon">videocam_off</div>
                                                            <span class="icon__text">No video attached</span>
                                                        </div>
                                                        <div class="no-video__controls-wrapper">
                                                            <div class="controls _play">
                                                                <span class="material-icons">arrow_right</span>
                                                            </div>
                                                            <div class="controls _time">
                                                                <span>0:00</span>
                                                            </div>
                                                            <div class="controls _volume">
                                                                <span class="material-icons">volume_up</span>
                                                            </div>
                                                            <div class="controls _fullscreen">
                                                                <span class="material-icons">crop_free</span>
                                                            </div>
                                                            <div class="controls _options">
                                                                <span class="material-icons">more_vert</span>
                                                            </div>
                                                        </div>
                                                        <div class="no-video__controls-wrapper _progress-bar">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                    </div>
                                                    <div class="testrun-info__tab-additional" ng-class="{'__no-video': !$ctrl.hasVideo}">
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                <td>Status</td>
                                                                <td>
                                                                    <md-menu md-offset="30 20" class="tab-additional__menu">
                                                                        <div class="menu__button" aria-label="Additional menu" ng-click="$mdMenu.open($event)">
                                                                            <span class="button-text _{{test.status.split('_').join(' ').toLowerCase()}}">{{ test.status.split('_').join(' ').toLowerCase() }}</span>
                                                                            <span class="material-icons button-icon">arrow_drop_down</span>
                                                                        </div>
                                                                        <md-menu-content class="tab-additional__menu-content">
                                                                            <md-menu-item class="menu__item" ng-repeat="item in ['passed', 'failed']">
                                                                                <md-button ng-click="$ctrl.changeTestStatus(test, item)">
                                                                                    <span class="item-text {{item}}" md-menu-align-target>{{item}}</span>
                                                                                </md-button>
                                                                            </md-menu-item>
                                                                        </md-menu-content>
                                                                    </md-menu>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Started</td>
                                                                <td>
                                                                    <span>{{ test.startTime | date: 'HH:mm dd MMM yyyy'}}</span>
                                                                    <span>(<time am-time-ago="test.startTime" title="{{ est.startTime | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time>)</span>
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="test.finishTime && test.startTime && (test.finishTime - test.startTime) > 0">
                                                                <td>Duration</td>
                                                                <td>
                                                        <span>
                                                            {{(test.finishTime - test.startTime) / 1000 | number: 0}} seconds
                                                        </span>
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="$ctrl.testRun.normalizedPlatformData.browser || $ctrl.testRun.normalizedPlatformData.browserVersion">
                                                                <td>Browser</td>
                                                                <td>
                                                                    <span ng-if="$ctrl.testRun.normalizedPlatformData.browser" class="platform-icon {{$ctrl.testRun.normalizedPlatformData.browser}}"></span>
                                                                    <span ng-if="$ctrl.testRun.normalizedPlatformData.browserVersion">{{$ctrl.testRun.normalizedPlatformData.browserVersion}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="$ctrl.testRun.normalizedPlatformData.platform || $ctrl.testRun.normalizedPlatformData.platformVersion">
                                                                <td>Platform</td>
                                                                <td>
                                                                    <span ng-if="$ctrl.testRun.normalizedPlatformData.platform" class="platform-icon {{$ctrl.testRun.normalizedPlatformData.platform}}"></span>
                                                                    <span ng-if="$ctrl.testRun.normalizedPlatformData.platformVersion">{{$ctrl.testRun.normalizedPlatformData.platformVersion}}</span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="testrun-info__tab-table-wrapper col-md-8 col-sm-12 no-padding">
                                                <table data-table-loupe="currentLog.id" data-table-loupe-trigger="videoMode.mode == 'PLAYING'"
                                                    class="table table-striped no-margin testrun-info__tab-table">
                                                    <thead>
                                                        <tr class="testrun-info__tab-table-row">
                                                            <th class="testrun-info__tab-table-col _visuals">Visuals</th>
                                                            <th class="testrun-info__tab-table-col _start">Start</th>
                                                            <th class="testrun-info__tab-table-col _status">
                                                                <md-menu md-offset="-16 38">
                                                                    <div aria-label="Open demo menu" ng-click="$mdMenu.open($event); $ctrl.log($ctrl)" >
                                                                        <span class="testrun-info__status-button-icon _{{$ctrl.selectedLevel}}">Status</span>
                                                                        <span ng-if="$ctrl.selectedLevel === 'status'" class="material-icons _button-icon">filter_list</span>
                                                                        <md-icon md-svg-icon="checkedListIcon" ng-if="$ctrl.selectedLevel !== 'status'" class="material-icons selected-icon"></md-icon>
                                                                    </div>
                                                                    <md-menu-content width="2" class="_status dropdown-content">
                                                                        <md-menu-item ng-repeat="item in $ctrl.logLevels" class="dropdown__list">
                                                                            <md-button ng-click="$ctrl.filterResults($index)" class="listitem__button">
                                                                                <span class="testrun-info__status-icon _{{item}} button__text" ng-if="item !== 'status'">{{item}}</span>
                                                                                <span class="testrun-info__status-icon _{{item}} button__text" ng-if="item === 'status'">All</span>
                                                                            </md-button>
                                                                        </md-menu-item>
                                                                    </md-menu-content>
                                                                </md-menu>
                                                            </th>
                                                            <th class="testrun-info__tab-table-col _action">Action</th>
                                                            <th  class="testrun-info__tab-table-col _menu"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="logs">
                                                        <tr ng-dblclick="getVideoState(log);"
                                                            class="testrun-info__tab-table-row"
                                                            ng-attr-id="log-{{ $index }}"
                                                            ng-if="logs.length"
                                                            ng-repeat="log in $ctrl.filteredLogs">
                                                            <td class="testrun-info__tab-table-col _visuals testrun-info__tab-table-img-wrapper">
                                                                <span ng-show="log.driver" style="border-radius: 8px"
                                                                    class="label label-default">Driver {{
                                                                    log.driver.index + 1 }}</span>
                                                                <div ng-show="log.blobLog" class="log-wrapper" ng-class="{ 'image-placeholder': log.isImageExists === false }">
                                                                    <img ng-if="log.isImageExists"
                                                                        class="testrun-info__tab-table-img"
                                                                        ng-click="openImagesViewerModal($event, log.blobLog.image.path[0]);"
                                                                        ng-src="{{log.blobLog.thumb.path || log.blobLog.image.path[0]}}"
                                                                        title="log screen"
                                                                        alt="log screen" />
                                                                    <i ng-show="log.isImageExists === false;" class="material-icons">insert_photo</i>
                                                                </div>
                                                            </td>
                                                            <td class="testrun-info__tab-table-col _start" ng-click="selectLogRow($event, $index);">{{log.timestamp | date: 'HH:mm:ss'}}</td>
                                                            <td class="testrun-info__tab-table-col _status" ng-click="selectLogRow($event, $index);">
                                                                <span class="testrun-info__status-icon {{log.level ? '_' + (log.level | lowercase) : ''}}">{{log.level}}<md-tooltip ng-if="log.threadName" md-direction="right">{{log.threadName}}</md-tooltip></span>
                                                            </td>
                                                            <td class="testrun-info__tab-table-col _action" ng-click="selectLogRow($event, $index);" ng-attr-id="log.timestamp">
                                                                <div ng-if="log.showMore" class="log_message" name="logFullMessage">
                                                                    <div class="full" ng-bind-html="$ctrl.getFullLogMessage(log)"></div>
                                                                    <div><a href="#" ng-click="$ctrl.switchMoreLess($event, log)">Show less</a></div>
                                                                </div>
                                                                <div class="log_message" name="logMessage" ng-if="!log.showMore">{{log.message | cut:true:255:' ...'}} <a href="#" ng-if="log.message.length > 255" ng-click="$ctrl.switchMoreLess($event, log)">Show more</a></div>
                                                            </td>
                                                            <td ng-click="selectLogRow($event, $index);" class="testrun-info__tab-table-col _menu settings-cell">
                                                                <md-menu ng-if="selectedLogRow == $index">
                                                                    <md-button name="logsSetting" aria-label="Logs settings"
                                                                        class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                                                        <md-icon class="material-icons">more_vert</md-icon>
                                                                    </md-button>
                                                                    <md-menu-content width="2" class="fixed-md-menu-content">
                                                                        <md-menu-item>
                                                                            <md-button name="copyLine" ng-click="copyLogLine(log);">
                                                                                Copy line
                                                                            </md-button>
                                                                        </md-menu-item>
                                                                        <md-menu-item>
                                                                            <md-button name="copyPermalink" ng-click="copyLogPermalink();">
                                                                                Copy permalink
                                                                            </md-button>
                                                                        </md-menu-item>
                                                                    </md-menu-content>
                                                                </md-menu>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-tab>
                            <!--<md-tab ng-disabled="false" label="Screenshots" ng-click="selectedTab = 1;">
                                <div class="tab1">
                                    <div class="tab-content">
                                        <div>

                                        </div>
                                    </div>
                                </div>
                            </md-tab>-->
                            <!--<md-tab ng-disabled="false" label="Test details" ng-click="selectedTab = 2;">
                                <div class="tab2">
                                    <div class="test-info-tab">
                                        <ul>
                                            <li>
                                                Status
                                                <span style="text-transform: capitalize;">{{ test.status.split('_').join(' ').toLowerCase() }}</span>
                                            </li>
                                            <li>
                                                Started
                                                <span>{{ test.startTime | date: 'HH:mm Z dd MMM yyyy'}}</span>
                                            </li>
                                            <li ng-if="test.finishTime && test.startTime && (test.finishTime - test.startTime) > 0">
                                                Duration
                                                <span>
                                                    {{(test.finishTime - test.startTime) / 1000 | number: 0}} seconds
                                                </span>
                                            </li>
                                            <li>
                                                Platform
                                                <span>Mac OS</span>
                                            </li>
                                            <li>
                                                Browser
                                                <span data-ng-if="testRun.platform != ''" class="platform-icon {{testRun.platform | lowercase}}"/>
                                                <span data-ng-if="testRun.platform == ''" class="platform-icon unknown"></span>
                                                <span data-ng-if="testRun.browserVersion">{{ testRun.browserVersion }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </md-tab>-->
                        </md-tabs>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
