<table class="table table-striped test-log-table"
    infinite-scroll
    scrollable-elem="{{$ctrl.scrollableElemSelector}}"
    scroll-cb="$ctrl.onInfiniteScroll()">
    <thead>
    <tr class="test-log-table__row _header">
        <th class="test-log-table__col _visuals" ng-if="$ctrl.withVisuals">Visuals</th>
        <th class="test-log-table__col _start">Start</th>
        <th class="test-log-table__col _status">Status</th>
        <th class="test-log-table__col _action">Action</th>
        <th class="test-log-table__col _menu"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="test-log-table__row"
        ng-class="{ '_selected': log === $ctrl.selectedLog}"
        ng-attr-id="log-{{ $index }}"
        ng-repeat="log in $ctrl.logsToDisplay">
        <td class="test-log-table__col _visuals" ng-if="$ctrl.withVisuals">
            <span ng-if="log.driver" class="label label-default">Driver {{log.driver.index + 1 }}</span>
            <div ng-if="log.blobLog" class="log-wrapper" ng-class="{ 'image-placeholder': log.isImageExists === false }">
                <img ng-if="log.isImageExists"
                    class="test-log-table__img"
                    ng-click="openImagesViewerModal($event, log.blobLog.image.path[0]);"
                    ng-src="{{log.blobLog.thumb.path || log.blobLog.image.path[0]}}"
                    title="log screen"
                    alt="log screen" />
                <i ng-if="!log.isImageExists" class="material-icons">insert_photo</i>
            </div>
        </td>
        <td class="test-log-table__col _start"
            ng-click="$ctrl.switchLogSelection(log)">{{log.timestamp}}</td>
        <td class="test-log-table__col _status"
            ng-class="{ '_mobile-grow': !$ctrl.withVisuals }"
            ng-click="$ctrl.switchLogSelection(log)">
            <span class="test-log-table__status-icon {{log.level ? '_' + (log.level) : ''}}">
                {{log.level}}
                <md-tooltip ng-if="log.source" md-direction="right">{{log.source || log.threadName}}</md-tooltip>
            </span>
        </td>
        <td class="test-log-table__col _action"
            ng-click="$ctrl.switchLogSelection(log)"
            ng-attr-id="log.timestamp">
            <div ng-if="log.showMore" class="test-log-table__message">
                <div class="full" ng-bind-html="$ctrl.getFullLogMessage(log)"></div>
                <div><a href="#" ng-click="$ctrl.switchMoreLess($event, log)">Show less</a></div>
            </div>
            <div class="test-log-table__message" ng-if="!log.showMore">{{log.message | cut:true:255:' ...'}} <a href="#" ng-if="log.message.length > 255" ng-click="$ctrl.switchMoreLess($event, log)">Show more</a></div>
        </td>
        <td ng-click="$ctrl.switchLogSelection(log)"
            class="test-log-table__col _menu">
            <md-menu ng-if="log === $ctrl.selectedLog">
                <md-button name="logsSetting" aria-label="Logs settings"
                    class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                    <md-icon class="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content width="2" class="fixed-md-menu-content">
                    <md-menu-item>
                        <md-button name="copyLine" ng-click="$ctrl.copyLogLine(log);">
                            Copy line
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </td>
    </tr>
    </tbody>
</table>
