.page-err {
    margin-right: 0;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .err-container {
        padding: 20px 15px 125px;
        max-width: 370px;
        margin: auto;
        z-index: 3;
    }

    .err {
        h1 {
            color: $dark-new;
            font-size: 120px;
            font-weight: 100;
            font-style: normal;
            margin-bottom: 0;
        }

        h2 {
            color: $dark-new;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.56;
            letter-spacing: 0.18px;
            margin-top: 7px;
            margin-bottom: 32px;
        }
    }

    .err-entity {
        margin: auto;
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        &__wrapper {
            width: 100%;
            position: absolute;
            opacity: .2;
            &._man {
                bottom: 0;
                .err-entity {
                    max-width: 1041px;
                    &__inner {
                        background-size: contain;
                        width: 441px;
                        height: 433px;
                        background: url('../assets/images/404/404_dude.svg') right bottom no-repeat;    
                    }
                }
            }
            &._circles {
                top: -245px;
                .err-entity {
                    max-width: 1296px;
                    &__inner {
                        background-size: contain;
                        width: 680px;
                        height: 680px;
                        background: url('../assets/images/404/404_circles.svg') right bottom no-repeat;    
                    }
                }
            }
        }
        
        @media  (max-width: 1040px), (max-height: 870px) {
            justify-content: flex-end;
            &__wrapper {
                &._circles {
                    opacity: .07;
                }
            }
        }
        @media  (max-width: 830px) and (max-height: 870px), (max-width: 830px), (max-height: 870px) {
            justify-content: flex-end;
            &__wrapper {
                &._man {
                    .err-entity__inner {
                        width: 320px;
                        height: 310px;
                    }
                }
            }
        }
        @media  (max-height: 800px) {
            &__wrapper {
                &._circles {
                    top: -350px;
                }
            }
        }
        @media  (max-height: 640px) {
            &__wrapper {
                &._circles {
                    top: -220px;
                    .err-entity {
                        &__inner {
                            width: 400px;
                            height: 400px;  
                        }
                    }
                }
            }
        }
        @media  (max-width: 960px) and (max-height: 500px), (max-width: 790px) and (max-height: 670px){
            justify-content: flex-end;
            &__wrapper {
                &._man {
                    .err-entity__inner {
                        width: 220px;
                        height: 210px;
                    }
                }
                &._circles {
                    top: -150px;
                    .err-entity {
                        &__inner {
                            width: 300px;
                            height:300px;  
                        }
                    }
                }
            }
        }

        @media  (max-width: 600px) and (max-height: 490px){
            &__wrapper {
                &._man {
                    .err-entity__inner {
                        width: 160px;
                        height: 150px;
                    }
                }
            }
        }
        @media  (max-width: 638px) {
            &__wrapper {
                &._man {
                    .err-entity__inner {
                        width: 160px;
                        height: 150px;
                    }
                }
                &._circles {
                    top: -220px;
                    .err-entity {
                        &__inner {
                            width: 400px;
                            height: 400px;  
                        }
                    }
                }
            }
        }
        @media  (max-width: 638px) and (min-height: 550px){
            justify-content: center;
        }
    }

    @media (max-height: 670px) {
        .err-container {
            padding: 20px 15px 20px;
        }
        .err {
            h1 {
                font-size: 100px;
                font-weight: 80;
            }
    
            h2 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .err-body {
        padding: 20px 10px;
    }

    .btn-goback {
        color: $reverse;
        color: rgba(255,255,255,.8);
        background-color: transparent; 
        border-color: $reverse;
        border-color: rgba(255,255,255,.8);

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $reverse;
            background-color: rgba(255,255,255,.1);
        }
        .open & {
            &.dropdown-toggle {
                color: $reverse;
                background-color: rgba(255,255,255,.1);
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }

}