@import '../global/var-pages';
@import '../global/var';

.page-profile {

    padding: 60px 10px 20px 10px;
    max-width: 600px;
    margin: 0 auto;

    .profile-header {
        padding: 40px 0;
    }

    .profile-img {
        padding-right: 16px;
        img {
            border-radius: 8px;
            max-width: 48px;
            max-height: 48px;
        }
        .profile-photo {
            display: inline;
        }
    }

    .profile-social {
        display: inline-block;
        > a {
            margin-right: 15px;
            box-shadow: 0 0 5px rgba(0,0,0,.2);
        }
    }

    .profile__form {
        &-wrapper {
            padding: 48px 0 40px;
            justify-content: space-between;
            border-top: 1px solid rgba($dark-new, .15);
        }
        &-title {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: 0.16px;
            color: $dark-new;
            max-width: 70px;
        }
        &-row {
            margin-bottom: 12px;
            width: 434px;
            &:nth-child(2) {
                margin-bottom: 22px;
            }
            md-input-container {
                &:nth-child(2) {
                    margin-left: 25px;
                }
                width: 100%;
            }
        }
    }

    .label {
        height: 16px;
        background-color: rgba($dark-new, .1);
        border-radius: 8px;
        padding: 3px 8px;
        font-size: 8px;
        font-weight: normal;
        color: $dark-new;
    }

    .profile-info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.3);
        line-height: 20px;
        padding: 10px 30px;
        color: $bright;

        ul {
            margin: 0;
        }
    }

    .logout {
        padding-top: 8px;
    }

    img.media-object {
        border-radius: $border-radius-base;
    }

    @media(max-width: $breakpoint-mobile) {
        padding: 60px 0 20px 0;
        .profile-header {
            padding: 24px 16px;
        }
        .profile__form {
            &-wrapper {
                flex-direction: column;
                padding: 24px 16px 28px;
            }
            &-title {
                max-width: unset;
                width: 100%;
                margin-bottom: 12px;
            }
            &-row {
                margin-bottom: 12px;
                flex-direction: column;
                width: 100%;
                margin-bottom: 12px;
                md-input-container {
                    &:nth-child(2) {
                        margin-left: 0;
                    }
                    width: 100%;
                }
            }
        }
    }
}
