<div class="page-wrapper _overflow-hidden">
    <zf-sub-header>
        <zf-sub-header-title>
            {{ $ctrl.currentTitle }}
            <small id="itemsCount">({{ $ctrl.sr.totalResults }})</small>
        </zf-sub-header-title>
        <zf-sub-header-options>
            <md-input-container class="_search">
                <label class="placeholder-label">Search</label>
                <input type="text" ng-model="$ctrl.sc.query" ng-model-options="{debounce: 700}" ng-change="$ctrl.search();" autocomplete="off"/>
                <md-icon class="input-search-icon">search</md-icon>
                <md-icon class="input-close-icon" ng-click="$ctrl.reset()">close</md-icon>
            </md-input-container>
        </zf-sub-header-options>
        <zf-sub-header-button>
            <button class="fixed-page-header__btn zf-primary-button" ng-click="$ctrl.showInviteUsersDialog($event)" ng-if="$ctrl.userHasAnyPermission(['INVITE_USERS'])">
                <md-icon class="material-icons">add</md-icon>
                <span>Invite user</span>
            </button>
        </zf-sub-header-button>
    </zf-sub-header>
    <div class="page user-view-page">
        <div class="ui-section">
            <div class="user-view-page__search-header">
                <div class="user-view-page__search-input">
                    <md-icon class="search-icon">search</md-icon>
                    <input type="text" class="form-control"
                            placeholder="Search items" ng-model-options="{debounce: 700}" ng-model="$ctrl.sc.query" ng-change="$ctrl.search();" aria-label="Search items">
                    <md-icon class="close-icon" ng-click="$ctrl.reset();">close</md-icon>
                 </div>
            </div>
            <div ng-cloak>
                <article class="article">
                    <md-card class="no-margin-h">
                        <div class="invitations-table invitations-table__header">
                            <div class="invitations-table__row">
                                <div class="invitations-table__col">ID</div>
                                <div class="invitations-table__col _size-m">Email</div>
                                <div class="invitations-table__col">Group</div>
                                <div class="invitations-table__col">Source</div>
                                <div class="invitations-table__col">Registration/ last activity</div>
                                <div class="invitations-table__col _centered">Status</div>
                                <div class="invitations-table__col"></div>
                            </div>
                        </div>
                        <div class="invitations-table">
                            <div class="invitations-table__row" ng-repeat="invite in $ctrl.sr.results">
                                <div class="invitations-table__col" data-title="{{invite.username}}">
                                    <profile-photo name="userPhoto" squared="15" ng-model="invite.photoURL" size="34" class="grey-icon desktop-only" label="#{{::user.id}}"></profile-photo>
                                </div>
                                <div class="invitations-table__col _size-m" data-title="Email" name="userEmail">
                                    <span class="invitations-table__content">{{invite.email}}</span>
                                </div>
                                <div class="invitations-table__col" data-title="Group">
                                    <span class="invitations-table__content">{{ $ctrl.groups[$ctrl.groups.indexOfField('id', invite.groupId)].name }}</span>
                                </div>
                                <div class="invitations-table__col" data-title="Source">
                                    <span class="source-label label black_font">{{::invite.source.toLowerCase()}}</span>
                                </div>
                                <div data-title="Date" class="invitations-table__col">
                                    <div class="users-table__content-wrapper">
                                        <span class="invitations-table__content">{{ invite.createdAt | date }}</span>
                                        <span class="users-table__content-additional">sent by {{ invite.createdBy.username }}</span>
                                    </div>
                                    
                                </div>
                                <div class="invitations-table__col _centered" data-title="Status">
                                    <span class="status-label _size-s" ng-class="{'text-success': invite.status == 'ACCEPTED', 'text-info': invite.status == 'PENDING'}">{{ invite.status.toLowerCase() }}</span>
                                </div>
                                <div class="invitations-table__col">
                                    <md-menu ng-if="$ctrl.userHasAnyPermission(['MODIFY_INVITATIONS'])" class="pull-right">
                                        <md-button name="userMenu" aria-label="User settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                            <md-icon class="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item ng-if="invite.url && invite.status === 'PENDING'">
                                                <md-button data-ng-click="$ctrl.copyLink(invite);">
                                                    Copy link
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item ng-if="invite.status != 'ACCEPTED'">
                                                <md-button name="userEdit" data-ng-really-message="Do you really want to retry send the invitation?" data-ng-really-click="$ctrl.retryInvite(invite, $index);">
                                                    Resend
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item ng-if="invite.status != 'ACCEPTED'">
                                                <md-button name="userEdit" data-ng-really-message="Do you really want to revoke the invitation?" data-ng-really-click="$ctrl.takeOff(invite, $index);">
                                                    Revoke
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item ng-if="invite.status == 'ACCEPTED'">
                                                <md-button name="userEdit" ng-click="$ctrl.searchUser(invite);">
                                                    Profile
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>
                            <div class="invitations-table__row _centered _no-top-border" ng-if="$ctrl.sr.results.length == 0">
                                <span id="noData" class="invitations-table__message">No invitations</span>
                            </div>
                        </div>
                        <md-table-pagination id="pagination"
                            zafira-background-theme="pagination"
                            ng-if="!$ctrl.sr.results.length"
                            md-limit="$ctrl.sc.pageSize"
                            md-limit-options=false
                            md-page="$ctrl.sc.page"
                            md-total="{{$ctrl.sr.totalResults}}"
                            md-page-select=false
                            md-boundary-links=true
                            md-on-paginate="$ctrl.search"></md-table-pagination>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>
