<div>
    <zf-sub-header>
        <zf-sub-header-title>
            Invitations
            <small id="itemsCount">({{ $ctrl.sr.totalResults }})</small>
        </zf-sub-header-title>
        <zf-sub-header-options>
            <md-input-container class="no-padding">
                <label>Search</label>
                <input ng-model="$ctrl.sc.query" ng-model-options="{debounce: 700}" ng-change="$ctrl.search();" autocomplete="off"/>
                <md-icon>search</md-icon>
            </md-input-container>
        </zf-sub-header-options>
        <zf-sub-header-button>
            <button class="fixed-page-header__btn _dashboard zf-header-button" ng-click="$ctrl.showInviteUsersDialog($event)" has-any-permission="['INVITE_USERS']">
                <md-icon class="material-icons">add</md-icon>
                <span>Invite user</span>
            </button>
        </zf-sub-header-button>
    </zf-sub-header>
    <div class="page user-view-page">
        <div class="ui-section">
            <div class="user-view-page__search-header">
                <div class="user-view-page__search-input">
                    <md-icon class="search-icon">search</md-icon>
                    <input type="text" class="form-control"
                            placeholder="Search items" ng-model-options="{debounce: 700}" ng-model="$ctrl.sc.query" ng-change="$ctrl.search();" aria-label="Search items">
                    <md-icon class="close-icon" ng-click="$ctrl.reset();">close</md-icon>
                 </div>
            </div>
            <div ng-cloak>
                <article class="article">
                    <md-card class="no-margin-h">
                        <md-table-container>
                            <table class="table-hover" md-table zafira-background-theme="table">
                                <thead md-head style="position: parent;">
                                <tr md-row>
                                    <th md-column>
                                        Email
                                    </th>
                                    <th md-column>
                                        Group
                                    </th>
                                    <th md-column>
                                        Date
                                    </th>
                                    <th md-column>
                                        Sent by
                                    </th>
                                    <th md-column>
                                        Status
                                    </th>
                                    <th md-column></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="invite in $ctrl.sr.results">
                                    <td md-cell>
                                        <b>{{ invite.email }}</b>
                                    </td>
                                    <td md-cell>
                                        {{ $ctrl.groups[$ctrl.groups.indexOfField('id', invite.groupId)].name }}
                                    </td>
                                    <td md-cell>
                                        {{ invite.createdAt | date:'dd MMM, yyyy' }}
                                    </td>
                                    <td md-cell>
                                        {{ invite.createdBy.username }}
                                    </td>
                                    <td md-cell>
                                        <span ng-class="{'text-success': invite.status == 'ACCEPTED', 'text-info': invite.status == 'PENDING'}" class="label">{{ invite.status }}</span>
                                    </td>
                                    <td md-cell>
                                        <md-menu has-any-permission="['MODIFY_INVITATIONS']" class="pull-right">
                                            <md-button name="userMenu" aria-label="User settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                                <md-icon class="material-icons">more_vert</md-icon>
                                            </md-button>
                                            <md-menu-content width="2">
                                                <md-menu-item ng-if="invite.status != 'ACCEPTED'">
                                                    <md-button name="userEdit" data-ng-really-message="Do you really want to retry send the invitation?" data-ng-really-click="$ctrl.retryInvite(invite, $index);">
                                                        <md-icon class="material-icons">loop</md-icon>
                                                        Resend
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item ng-if="invite.status != 'ACCEPTED'">
                                                    <md-button name="userEdit" data-ng-really-message="Do you really want to revoke the invitation?" data-ng-really-click="$ctrl.takeOff(invite, $index);">
                                                        <md-icon class="material-icons">highlight_off</md-icon>
                                                        Revoke
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item ng-if="invite.status == 'ACCEPTED'">
                                                    <md-button name="userEdit" ng-click="$ctrl.searchUser(invite);">
                                                        <md-icon class="material-icons">account_circle</md-icon>
                                                        Profile
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </td>
                                </tr>
                                <tr md-row data-ng-if="$ctrl.sr.results.length == 0">
                                    <td id="noData" md-cell colspan="8" class="text-center">No invitations</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination id="pagination" zafira-background-theme="pagination" ng-if="$ctrl.sr.results.length"
                                             md-limit="$ctrl.sc.pageSize" md-limit-options=false md-page="$ctrl.sc.page" md-total="{{$ctrl.sr.totalResults}}"
                                             md-page-select=false md-boundary-links=true md-on-paginate="$ctrl.search"></md-table-pagination>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>
