<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <h1>500</h1>
            <h2>Sorry, server goes wrong</h2>
        </div>

        <div class="err-body">
            <md-button ng-click="$ctrl.backToSystem()" class="md-raised md-primary">
                Back to system
            </md-button>
        </div>
    </div>
    <div class="err-entity__wrapper _circles">
        <div class="err-entity">
            <div class="err-entity__inner"></div>
        </div>
    </div>
    <div class="err-entity__wrapper _man">
        <div class="err-entity">
            <div class="err-entity__inner"></div>
        </div>
    </div>
</div>
