
// Shared variables and mixins
@import "global/var";                        // global variables
@import "global/var-extra";                  // extra global variables
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";        // Bootstrap mixins

@import
    "global/shared"

// overrides 3rd party libs' style
,   "libs/angular-material"
,   "libs/angular-material-data-table"
,   "libs/angular-wizard"

// Pages
,   "global/var-pages"
,   "pages/dashboard"
,   "pages/pages"
,   "pages/error"
,   "pages/auth"
,   "pages/profile"
,   "pages/invoice"
,   "pages/features"
,   "pages/demo"
,   "pages/demo-material"
,   "pages/test-details"
,   "pages/tests-runs"

// sections
,   "layout/layouts"
,   "layout/nav"
,   "layout/nav-off-canvas"
,   "layout/nav-horizontal"
,   "layout/nav-min"
,   "layout/nav-color"
,   "layout/header"
,   "layout/body"
,   "layout/commons/commons"
,   "layout/commons/form-default"
,   "components/modals/modal-default/modal-default"
,   "components/modals/widget-wizard/widget_wizard"
,   "components/modals/search-modal/search-modal"
,   "components/modals/filter-modal/filter-modal"
,   "components/modals/ci-helper-modal/ci-helper-modal"
,   "components/modals/review-modal/review-modal"
;


.zeb-tutorials-container {
    position: fixed;
    bottom: -8px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    // transform: translateY(0);
}
.zeb-tutorial {
    transition: transform .2s ease-out;
    background: #011627;
    padding: 8px 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    transform: translateY(100%);
    md-icon {
        cursor: pointer;
        color: #F2F2F2;
        margin-left: 12px;
        margin-right: -8px;
    }
    &.entered {
        transform: translateY(0);
    }
}
.zeb-tutorials-container._hide:not(:hover) {
    .zeb-tutorial {
        transform: translateY(60%);
    }
}

.tutorials-modal {
    &__content {
        padding: 24px 24px 16px;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #011627;
        margin-bottom: 8px;
    }
    &__description {
        font-size: 14px;
        line-height: 24px;
        color: #011627;
        margin: 0;
    }
}
