.filter-modal {
    md-dialog-content {
        padding: 0 16px 16px 16px;
    }
    .test-run-group_group-items {
        padding-top: 18px;
    }

    @media (min-width: $md-screen-phone + 1) {
        min-width: 550px;
    }
}
