<div class="page-wrapper">
    <zf-sub-header>
        <zf-sub-header-title>
            {{ $ctrl.currentTitle }}
            <small id="itemsCount">({{ $ctrl.count }})</small>
        </zf-sub-header-title>
        <zf-sub-header-button ng-if="$ctrl.userHasAnyPermission(['MODIFY_USER_GROUPS'])">
            <button class="fixed-page-header__btn zf-primary-button" ng-click="$ctrl.showGroupDialog($event)">
                <md-icon class="material-icons">add</md-icon>
                <span>New group</span>
            </button>
        </zf-sub-header-button>
    </zf-sub-header>
    <div class="page user-view-page">
        <div class="ui-section">
            <div ng-cloak>
                <article class="article">
                    <md-card class="no-margin-h">
                        <div data-ng-if="$ctrl.groups.length" class="users-groups__list md-dialog-content">
                            <div class="users-groups__item"
                                 layout="column"
                                 data-ng-repeat="group in $ctrl.groups | orderBy:'name'">
                                <div flex name="groupRole" class="users-groups__item-header">
                                    <b name="groupName" class="ng-binding">{{::group.name}}</b>
                                    <span ng-if="group.users.length" name="groupSize">contains {{group.users.length}} users</span>
                                    <span ng-if="!group.users.length" name="groupSize">is empty</span>
                                    <md-menu class="pull-right">
                                        <md-button name="userMenu" aria-label="User settings" class="md-icon-button"
                                                   data-ng-click="$mdMenu.open($event);">
                                            <md-icon class="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button name="editGroup" ng-click="$ctrl.showGroupDialog($event, group);">
                                                    <md-icon class="material-icons">settings</md-icon>
                                                    Edit
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button name="deleteGroup" ng-really-click="$ctrl.deleteGroup(group)"
                                                           ng-really-message="Do you really want to delete this group?">
                                                    <md-icon class="material-icons">delete</md-icon>
                                                    Delete
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                                <md-input-container class="users-groups__item-content chips-input-container no-margin _with-img _no-label ">
                                    <md-chips ng-model="group.users"
                                              class="photo-chip users-groups__item-chips"
                                              md-require-match=true
                                              filter-selected=true
                                              md-autocomplete-snap
                                              md-on-add="$ctrl.addUserToGroup($chip, group)"
                                              md-on-remove="$ctrl.deleteUserFromGroup($chip, group)">
                                        <md-chip-template name="chip">
                                            <profile-photo ng-model="$chip.photoURL" size="40" squared="20" chip="true" auto-resize="false"></profile-photo>
                                            {{$chip.username}}
                                        </md-chip-template>
                                        <md-autocomplete md-search-text="searchText" md-items="user in $ctrl.querySearch(searchText, group)"
                                                         md-item-text="user.username" md-selected-item="selectedUser" md-autoselect md-no-cache="true"
                                                         placeholder="add user">
                                            <md-item-template style="z-index: 10000;">
                                                <span name="suggestion" class="chip-suggestion">
                                                    <profile-photo ng-model="user.photoURL" size="40" chip="true" squared="20"></profile-photo>
                                                    {{user.username}}
                                                </span>
                                            </md-item-template>
                                            <md-not-found id="notRecipients">
                                                No users matching "{{searchText}}" were found.
                                            </md-not-found>
                                        </md-autocomplete>
                                    </md-chips>
                                </md-input-container>
                            </div>
                        </div>
                        <div data-ng-if="!$ctrl.count" class="ng-hide users-groups__item _empty">No groups created</div>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>
