<aside id="nav-container" class="app-sidebar nav-container nav-vertical bg-dark">
    <div class="nav-wrapper" xmlns:font-size="http://www.w3.org/1999/xhtml">
        <ul id="nav" class="nav" data-slim-scroll data-collapse-nav>
            <li class="sidebar-menu-button bg-dark">
                <a md-button class="menu-btn toggle-min" toggle-nav-bottom aria-label="menu toggle-nul-collapsed-min">
                    <i class="material-icons nav-menu-icon">menu</i>
                    <i class="material-icons nav-close-icon">close</i>
                </a>
            </li>
            <li toggle-menu ng-class="{'active':$ctrl.$state.includes('dashboard')}">
                <a md-button aria-label="menu" ui-sref="dashboard.list" data-ng-click="$ctrl.loadDashboards();">
                    <i class="material-icons">equalizer</i><span>Boards</span>
                </a>
                <ul class="width-icon" toggle-nav-bottom>
                    <li class="nav-controls search_close-button">
                        <md-icon toggle-menu="close">close</md-icon>
                    </li>
                    <li toggle-menu="close" has-any-permission="['MODIFY_DASHBOARDS']" ng-if="!$ctrl.isMobile" class="nav-controls hide-phone">
                        <a class="nav__button _add" aria-label="menu" href="" data-ng-click="$ctrl.showDashboardSettingsModal($event, {}, true)"><i class="material-icons">add</i>Add dashboard</a>
                    </li>
                    <li class="sub-search nav-search">
                        <md-input-container class="no-margin no-padding">
                            <label>Search</label>
                            <input name="search" ng-model="navSC.title" autocomplete="off"/>
                            <md-icon>search</md-icon>
                        </md-input-container>
                    </li>
                    <li class="sub-search search-menu">
                        <ul>
                            <li data-ng-repeat="dashboard in $ctrl.dashboardList | orderBy:'position' | filter:navSC" ui-sref-active="active" class="show-on-hover">
                                <a toggle-menu="close" md-button aria-label="menu" class="show-part" ui-sref="dashboard.page({ dashboardId: dashboard.id })">
                                    <i data-ng-if="dashboard.hidden == true" style="font-size: 14px;" class="material-icons">visibility_off</i>
                                    <span class="menu-link__text">{{::dashboard.title}}</span>
                                </a>
                                <span has-any-permission="['MODIFY_DASHBOARDS']" class="edit show-icon-on-hover">
                                    <i style="font-size: 14px;" class="material-icons" toggle-menu="close" ng-click="$ctrl.showDashboardSettingsModal($event, dashboard);">edit</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li ng-class="{'active':$ctrl.$state.includes('tests')}" toggle-nav-bottom>
                <a md-button aria-label="menu" ui-sref="tests.runs">
                    <i class="material-icons">play_circle_outline</i>
                    <span>Runs</span>
                </a>
            </li>
            <li has-any-permission="['VIEW_TEST_RUN_VIEWS', 'MODIFY_TEST_RUN_VIEWS']" toggle-menu ui-sref-active="active">
                <a md-button aria-label="menu" ui-sref="views" data-ng-click="$ctrl.loadViews();">
                    <i class="material-icons">remove_red_eye</i><span>Views</span>
                </a>
                <ul class="width-icon" toggle-nav-bottom>
                    <li class="nav-controls search_close-button">
                        <md-icon toggle-menu="close">close</md-icon>
                    </li>
                    <li toggle-menu="close" ng-if="!$ctrl.isMobile" class="nav-controls hide-phone">
                        <a class="nav__button _add" aria-label="menu" href="" data-ng-click="$ctrl.showViewDialog($event)"><i class="material-icons">add</i>Add view</a>
                    </li>
                    <li class="sub-search nav-search">
                        <md-input-container class="no-margin no-padding">
                            <label>Search</label>
                            <input name="search" ng-model="navSCView.name" autocomplete="off"/>
                            <md-icon>search</md-icon>
                        </md-input-container>
                    </li>
                    <li class="sub-search search-menu">
                        <ul toggle-nav-bottom>
                            <li data-ng-repeat="view in $ctrl.views | orderBy:'name' | filter:navSCView" style="position: relative;" class="show-on-hover">
                                <a toggle-menu="close" md-button aria-label="menu" ui-sref="views({ id: view.id })" class="show-part">
                                    <span class="menu-link__text">{{::view.name}}</span>
                                </a>
                                <span class="edit show-icon-on-hover">
                                    <i style="font-size: 14px;" class="material-icons" toggle-menu="close" data-ng-click="$ctrl.showViewDialog($event, view)" has-any-permission="['MODIFY_TEST_RUN_VIEWS']">edit</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--li  ui-sref-active="active">
                <a md-button aria-label="menu" href="/tests/cases">
                  <i class="material-icons">library_books</i>
                  <span>Cases</span>
                </a>
            </li-->
            <li has-any-role="['ROLE_ADMIN']" ng-class="{'active':$ctrl.$state.includes('users')}" toggle-menu>
                <a md-button aria-label="menu" ui-sref="users.list"  has-any-permission="['VIEW_USERS', 'MODIFY_USERS', 'MODIFY_USER_GROUPS', 'INVITE_USERS', 'MODIFY_INVITATIONS']">
                    <i class="material-icons">supervisor_account</i>
                    <span>Users</span>
                </a>
                <ul class="width-icon">
                    <li class="nav-controls search_close-button">
                        <md-icon toggle-menu="close">close</md-icon>
                    </li>
                    <li class="sub-search search-menu">
                        <ul toggle-nav-bottom>
                            <li style="position: relative;" has-any-permission="['MODIFY_USERS', 'VIEW_USERS']">
                                <a toggle-menu="close" md-button aria-label="menu" ui-sref="users.list" class="show-part">
                                    <span>Users</span>
                                </a>
                            </li>
                            <li style="position: relative;" has-any-permission="['MODIFY_USER_GROUPS']">
                                <a toggle-menu="close" md-button aria-label="menu" ui-sref="users.groups" class="show-part">
                                    <span>Groups</span>
                                </a>
                            </li>
                            <li style="position: relative;" has-any-permission="['INVITE_USERS', 'MODIFY_INVITATIONS']">
                                <a toggle-menu="close" md-button aria-label="menu" ui-sref="users.invitations" class="show-part">
                                    <span>Invitations</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active" toggle-nav-bottom>
                <a md-button aria-label="menu" ui-sref="monitors" has-any-permission="['VIEW_MONITORS']">
                    <i class="material-icons">laptop_chromebook</i>
                    <span>Monitors</span>
                </a>
            </li>
            <li ui-sref-active="active" toggle-nav-bottom>
                <a md-button aria-label="menu" ui-sref="integrations" has-any-permission="['VIEW_INTEGRATIONS']">
                    <i class="material-icons">settings_input_component</i>
                    <span>Integrations</span>
                </a>
            </li>
            <li style="flex-grow: 1"></li>
            <li class="profile"  ng-class="{'active':$ctrl.$state.includes('userProfile')}" toggle-nav-bottom>
                <a md-button aria-label="menu" ui-sref="userProfile">
                    <div>
                        <profile-photo ng-model="$ctrl.currentUser.photoURL"
                                       squared="8"
                                       size="32"
                                       icon-visible="false"
                                       auto-resize="false">
                            <span ng-if="!$ctrl.currentUser.photoURL" class="app-sidebar__icon-wrapper _squared"><i class="material-icons">person</i></span>
                        </profile-photo>
                    </div>
                </a>
            </li>
            <li class="projects" toggle-menu>
                <a md-button aria-label="menu" class="_light" ui-sref="projects.list">
                    <div class="projects__selected">{{$ctrl.selectedProjectShortName}}</div>
                    <div style="display: inline-block;">
                        <profile-photo id="brandPhoto"
                                       ng-model="$ctrl.companyLogo.value"
                                       squared="8"
                                       size="32"
                                       auto-resize="false"
                                       icon-visible="false">
                            <span ng-if="!$ctrl.companyLogo.value" class="app-sidebar__icon-wrapper _squared"><i class="material-icons">flag</i></span>
                        </profile-photo>
                    </div>
                </a>
                <ul class="width-icon" toggle-nav-bottom>
                    <li class="nav-controls search_close-button">
                        <md-icon toggle-menu="close">close</md-icon>
                    </li>
                    <li class="sub-search search-menu">
                        <ul class="projects__wrapper">
                            <li toggle-menu="close" id="createProject" has-any-permission="['MODIFY_PROJECTS']">
                                <a class="nav__button _add" ng-click="$ctrl.showProjectDialog()" aria-label="menu" href=""><i class="material-icons">add</i>Add project</a>
                            </li>
                            <li name="projectName" class="projects__list" md-prevent-menu-close>
                                <md-radio-group ng-model="$ctrl.selectedProject" ng-change="$ctrl.chooseProject();">
                                    <md-radio-button data-ng-repeat="project in $ctrl.projects | orderBy:'name' track by project.id"
                                                     id="{{::project.id}}"
                                                     aria-label="project {{ ::project.id }}"
                                                     class="projects__list-item md-primary"
                                                     value="{{::project.id}}">{{::project.name}}</md-radio-button>
                                </md-radio-group>
                            </li>
                            <li toggle-menu="close" has-any-role="['ROLE_ADMIN']" class="nav__button _upload">
                                <a ng-click="$ctrl.showUploadImageDialog($event)" href=""><i class="material-icons">add_a_photo</i>Upload new logo</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
