<div class="test-run-group_tags">
    <md-chips ng-model="showingChips" md-removable="false" readonly="true">
        <input disabled>
        <md-chip-template>
            <div ng-class="{'item-default': $chip.default}" class="chip-item-template" name="{{$chip.value.split(' ').join('')}}" style="display: inline-block;" ng-click="selectGroup($event, $chip, $index);">
                <span><span ng-if="! options.hashSymbolHide">#</span>{{$chip.value}}</span>
            </div>
        </md-chip-template>
    </md-chips>
    <md-menu ng-if="chips.length > countToShow" md-position-mode="left bottom">
        <md-button aria-label="More tags" ng-click="$mdMenu.open($event);" md-ink-ripple="false" class="md-icon-button no-padding">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </md-button>
        <md-menu-content class="test-run-group_menu" style="z-index:99;"  width="3">
            <md-list class="md-dense">
                <md-list-item id="clearProject" class="md-2-line" ng-repeat="chip in chips" md-prevent-menu-close>
                    <md-checkbox md-prevent-menu-close class="md-primary" ng-model="chip.checked" aria-label="tag"></md-checkbox>
                    <div class="md-list-item-text">
                        {{chip.value}}
                    </div>
                </md-list-item>
                <md-list-item>
                    <button md-prevent-menu-close style="margin-right: 8px" class="md-button md-raised md-dark md-ink-ripple" type="button" ng-click="resetCheckedTags();">
                        RESET
                    </button>
                    <button  class="md-button md-primary md-raised md-ink-ripple" type="button" ng-click="addCheckedTags();">
                        APPLY
                    </button>
                </md-list-item>
            </md-list>
        </md-menu-content>
    </md-menu>
</div>