@import "../../../styles/global/var";

.p-welcome__toggle-container {
    position: relative;

    .toggle-el__message-container {
        position: absolute;
        display: flex;
        top: 65px;
        right: 150px;

        .toggle-el__message {
            position: relative;
            opacity: 0.65;

            &::after,
            &::before {
                position: absolute;
                display: block;
                content: "";
                transform: rotate(45deg);
            }

            &::after {
                width: 52px;
                height: 50px;
                border-radius: 50%;
                border-bottom: 1px solid transparent;
                border-right: 1px solid $gray-light;
                border-left: 1px solid transparent;
                border-top: 1px solid transparent;
                bottom: 10px;
                right: -40px;
            }

            &::before {
                width: 6px;
                height: 6px;
                bottom: 28px;
                right: -42px;
                border: 0;
                border-top: 1px solid $gray-light;
                border-left: 1px solid $gray-light;
            }
        }
    }
}

.page-content {
    &__wrapper {
        min-height: calc(100vh - 193px);
        margin-top: 35px;
    }

    &__cards-wrapper {
        display: flex;
    }

    &__card {
        padding: 5px;
        width: 570px;
        border-radius: 8px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
        background-color: #fff;
        align-items: center;
        text-align: center;
        position: relative;

        &:first-child {
            margin-right: 4%;
        }
    
        .card{
            &__icon {
                margin: 20px 0 24px;
                width: 120px;
                height: 120px;
                object-fit: cover;
            }
    
            &__subheader {
                margin: 2px 0 0 0;
                text-transform: uppercase;
                letter-spacing: 1.25px;
            }
        
            &__header {
                margin: 2px 0 6px;
                line-height: 36px;
                font-weight: bold;
            }
    
            &__text {
                margin: 20px 18px;
                letter-spacing: 0.5px;
            }
    
            &__list-container {
                margin-bottom: 30px;
                width: 100%;
            }
    
            &__list {
                padding-left: 20%;
                list-style-type: none;
                text-align: left;
                display: flex;
                flex-flow: row wrap;
                align-content: space-around;

                                    
                &._column {
                    display: block;
                    flex-wrap: nowrap;

                    & .card__list-item {
                        margin: 0 auto;
                    }
                }
    
                &-item {
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    line-height: 1.5rem;
                    position: relative;
                    padding: 0 0 6px 15px;
                    word-wrap: normal;
                    flex: 0 0 50%;
                    min-width: 50%;
                    max-width: 50%;
                    overflow: hidden;
                    text-overflow: ellipsis;
    
                    &::before {
                        content: '-';
                        position: absolute;
                        left: 0px;
                    }
                }
            }
    
            &__button {
                margin-bottom: 20px;
                margin-top: auto;
            }

            &__wrapper-buttons {
                width: 80%;
                margin-top: auto;
                margin-bottom: 5px;
            }
        }
    }
}


@media screen and (max-width: $screen-tablet-2) {
    .page-content {
        &__wrapper {
            height: auto;
            margin-top: 8%;
        }
        
        &__cards-wrapper {
            min-width: 300px;
            flex-direction: column;
            align-items: center;
        }

        &__card {
            width: auto;
            max-width: 570px;
        
            &:first-child {
                margin-right: 8px;
            }
        }
    }
}

@media screen and (max-width: $md-screen-phone) {
    .page-content {
        &__wrapper {
            height: auto;
            margin-top: 0;
        }

        &__card {
            width: auto;
            max-width: 343px;
            height: auto;
        
            .card{
                &__icon {
                    margin: 25px 0;
                    width: 80px;
                    height: 80px;
                }

                &__subheader {
                    font-size: 10px;
                    line-height: 16px;
                    letter-spacing: 1.5px;
                    margin: 0;
                }

                &__header {
                    font-size: 24px;
                    line-height: 36px;
                    margin-top: 0;
                }

                &__list-container {
                    margin-bottom: 0;
                }

                &__list {
                    padding-left: 0;
                    max-height: 0;
                    opacity: 0;
                    flex-flow: column wrap;
                    align-content: space-around;
                    height: auto;
                    transition: opacity 0.3s ease, max-height 0.3s ease;

                    &._expand {
                        max-height: 500px;
                        opacity: 1;
                    }

                    &-item {
                        margin: 0 auto;
                        font-size: 14px;
                    }
                }

                &__text {
                    margin: 20px 12px 10px;
                    font-size: 14px;
                    letter-spacing: 0.25px;
                    line-height: 20px;
                }

                &__button {
                    bottom: 8px;
                }
            }
        }
    }
}
