.app.nav-collapsed-min {
    // default
    .slimScrollDiv {
        overflow: visible !important; // overrides slimScroll plugin
        height: auto !important;

        .slimScrollBar,
        .slimScrollRail {
            display: none !important;
        }
    }

    #nav-container {
        width: $sidebar_width;
        @media(max-width: $screen-phone) {
            width: $sidebar_phone_width;
        }
        @media (max-width: $screen-phone) {
            &:not(.toggle-bottom) {
                width: 0;
                #nav {
                    > li:not(:first-child) {
                        display: none !important;
                    }
                    >li:first-child {
                        width: $sidebar_phone_width;
                    }
                }
            }
            &.toggle-bottom {
                animation: toggleBottom 0.1s linear;
                z-index: 1031;
                #nav {
                    >li:first-child {
                        transition: none !important;
                        width: $sidebar_width;
                        @media(max-width: $screen-phone) {
                            width: $sidebar_phone_width;
                        }
                    }
                    > li:not(:first-child) {
                        animation: iconsShowing 0.1s linear;
                    }
                }
            }
        }
    }

    @keyframes toggleBottom {
        from {
            width: 0;
        }
        to {
            width: $sidebar_phone_width;
        }
    }

    @keyframes iconsShowing {
        from {
            transform: translateX(-20px);
        }
        to {
            transform: translateX(0);
        }
    }

    #nav-wrapper {
        overflow: visible !important;
    }
    #nav {
        overflow: visible !important;
        .sidebar-menu-button {
            display: none;
            @media (max-width: $screen-phone) {
                display: block;
                height: $header_height;
            }
        }
        > li {
            &.li-small {
                > a > i {
                    font-size: 12px;
                }
            }
            > a,
            > .menu-btn {
                text-align: center;

                > i {
                    margin: 0;
                    font-size: 22px;
                }
                > span {
                    display: none;
                }
            }

            .nav-menu-icon {
                vertical-align: middle;
            }

            > ul {
                z-index: 9;
                position: absolute;
                height: 100%;
                left: 100%;
                top: 0;
                min-width: 280px;
                padding-top: 40px;

                @media (max-width: $screen-phone) {
                    position: fixed;
                    left: $sidebar_phone_width;
                    top: $header_height;
                    width: calc(100% - #{$sidebar_phone_width});
                    height: calc(100% - #{$sidebar_phone_width});
                    min-width: auto;
                    padding-top: 12px;
                }

                @include border-right-radius($border-radius-base);
                box-shadow: 1px 1px 3px rgba(0,0,0,.2);
                li.search-menu {
                    > ul:not(.projects__wrapper):not(.dashboards___list_wrapper) {
                        height: 100%;
                        overflow: auto;
                    }
                    > ul.dashboards___list_wrapper {
                        // 100% - search height - search margin - add dashboard height
                        height: calc(100% - 40px - 8px - 32px);
                        overflow: auto;

                        @media(max-width: $screen-phone) {
                            // 100% - search height - search margins
                            height: calc(100% - 40px - 8px - 18px);;
                        }
                    }
                    .fa-angle-down {
                        display: none !important;
                    }
                }

                > li:not(.nav-search):not(.nav-controls) {
                    height: 100%;
                }
            }

            &.open {
                > ul, li.search-menu > ul:not(.projects__wrapper) {
                    display: block !important;
                }
            }
        }
    }

    .nav-title {
        display: none;
    }


    // Horizontal menu
    .nav-horizontal {
        &#nav-container {
            width: auto;
        }

        & + .content-container {
            margin: 0;
        }

        &.nav-fixed + .content-container {
            margin: 50px 0 0;
        }

        #nav {
            > li {
                > ul {
                    left: 0;
                    top: 100%;
                }
            }
        }
    }

}

#app {
    @media (max-width: $screen-phone) {
        &.sidebar-toggled {
            #nav {
                .sidebar-menu-button {
                    i {
                        &.nav-menu-icon {
                            display: none;
                        }
                        &.nav-close-icon {
                            display: block;
                            animation: rotateRight 0.09s linear forwards;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotateRight {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }
}

.drag-actor {
    cursor: grab;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 16px;
    height: 100%;
    line-height: 40px;
    vertical-align: baseline;
    z-index: 100000;

    &:active {
        cursor: grabbing;
    }

}
