// Sidebar - Color
.nav-container {
    &:before {
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        width: 2px;
        z-index: 2;
    }

    &.bg-white {
        &:before {
            box-shadow: inset -1px 0 1px rgba(255, 255, 255, 0.3);
        }
        .nav {

            a {
                color: $text-color;
            }

            .nav-title {
                color: #999;
            }

            .nav-divider {
                border-color: $gray-lighter;
            }

            > li {
                &:hover {
                    > a {
                        background-color: $light_bg_link_hover_bg;
                        color: $light_bg_link_hover_color;
                    }
                }
                &.active {
                    > a {
                        color: $light_bg_link_active_color;
                    }                        
                }

                // overrides Bootstrap 
                > a:focus {
                    background-color: $light_bg_link_hover_bg;
                }
            }

            // sub menu
            ul {
                background-color: $light_bg_sub_nav_bg;

                > li {
                    &:hover,
                    &.active {
                        > a {
                            color: $brand-primary;
                        }
                    }           
                }
            }
        }

        // Vertical NAV only
        &.nav-vertical {
            .nav {
                > li {
                    &.open {
                        > a {
                            background-color: $light_bg_link_open_bg;
                            color: #ffffff;
                        }              
                    }
                }
            }
        }        
    }

    &.bg-dark {
        background-color: $dark-new;
        &:before {
            box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.3);
        }
        .nav {
            a {
                color: $dark_bg_link_color;
                line-height: 1.15;
                &.show-on-hover,
                &.show-part {
                    color: $dark_bg_link_hover_color;
                    &:hover {
                        color: #fff;
                    }
                }

                &._light {
                    color: $dark_bg_link_active_color;
                }
                ._dark {
                    color: $dark_bg_link_color;
                }
            }

            .nav-title {
                color: #666;
            }

            .nav-divider {
                border-color: darken($dark, 5%);
            }


            > li {
                &.active,
                &:hover {
                    > a {
                        color: $dark_bg_link_hover_color;
                        &._light {
                            color: $dark_bg_link_color_light_hover;
                        }
                    }
                }
                &:hover {
                    > a {
                        background-color: $dark_bg_link_hover_bg;
                    }
                }
                // overrides Bootstrap 
                > a:focus {
                    background-color: $dark_bg_link_hover_bg;
                }
            }

            // sub menu
            ul {
                background-color: $dark_light-new;

                > li {
                    &:hover,
                    &.active {
                        > a {
                            color: $dark_bg_sub_link_active_color;
                        }
                    }
                }
            }

        }

        // Vertical NAV only
        &.nav-vertical {
            .nav {
                > li {
                    &.open {
                        > a {
                            background-color: $dark_light-new;
                            color: $dark_bg_link_open_color;
                        }
                    }
                }
            }
        }  

    }

}


@media (min-width: $screen-sm) {
    .app.nav-collapsed-min {

        .nav-container {

            &.bg-white {
                .nav {
                    > li {
                        &:hover {
                            a {
                                background-color: $light_bg_link_active_bg;
                            }
                        }
                    }
                }
            }

            &.bg-dark {
                .nav {
                    > li {
                        &:hover {
                            a {
                                background-color: transparent;
                            }
                        }
                    }
                }                
            }
        }
    }

}


// make '.open' class effective mobile only
@media (max-width: $screen-sm-max ) { 
    .nav-horizontal {
        .nav {
            > li {
                &.open {
                    > a {
                        // background-color: $link_active_bg;
                        color: $brand-primary;
                    }
                    > i { color: $brand-primary; }                
                }

            }
        }
    }
}
