@import
    "../global/var",   
    "../global/var-extra";

.nav-container {
    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        .profile, .projects {
            a.md-button {
                padding: 14px !important;
            }
        }
        .show-part {
            display: flex;
            align-items: center;
            line-height: 1;
            min-height: 40px;

            @media (min-width: $screen-phone + 1) {
                max-width: 280px;
            }
            .menu-link__text {
                margin: 0;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;

                @media (max-width: $screen-phone) {
                    max-width: 100%;
                }
            }
        }
        .edit {
            position: absolute;
            right: 16px;
            top: 12px;
            @media (max-width: $screen-phone) {
                display: none;
                i {
                    display: none;
                }
            }
        }
        .projects {
            &__selected {
                min-width: 32px;
                text-align: center;
                position: absolute;
                top: 2px;
                left: 0;
                right: 0;
                font-size: 10px;
                margin: 0;
                max-width: 100%;
                text-transform: uppercase;
            }
            &__wrapper {
                display: flex !important;
                flex-direction: column;
                overflow: unset;
                height: 100%;
            }
            &__list {
                margin-top: 10px;
                overflow: auto;
                flex-grow: 1;
                @media (max-width: $screen-phone) {
                    margin-top: 15px;
                }
                &-item {
                    margin-left: 23px;
                    margin-bottom: 0;
                    padding: 10px 24px;
                    display: flex;
                    @media (max-width: $screen-phone) {
                        padding: 15px 24px;
                    }
                    &:hover {
                        .md-label {
                            color: #ffffff;
                        }
                    }
                    .md-label {
                        margin-left: 12px;
                        color: rgba(#ffffff, .8);
                        
                    }
                    &.md-checked {
                        .md-off {
                            border-color: #ffffff !important;
                        }
                    }
                    .md-off {
                        border-color: rgba(#ffffff, .25) !important;
                        &:hover {
                            border-color: rgba(#ffffff, .5) !important;
                        }
                    }
                    .md-on {
                        border-color: #ffffff !important;
                        background-color: #ffffff;
                    }
                }
            }
        }
        &-search {
            margin: 8px 56px 0px 24px;
            max-height: 40px;
            @media(max-width: $screen-phone) {
                margin: 8px 67px 18px 24px;
            }
            md-input-container, md-input-container.md-input-focused  {
                width: 100%;
                label {
                    padding-left: 0;
                    line-height: 1;
                    padding-bottom: 5px;
                    font-size: 14px;
                    font-weight: normal;
                    color: rgba(255, 255, 255, 0.25);
                    @media(max-width: $screen-phone) {
                        font-size: 16px;
                    }
                }
                &.md-input-focused, &.md-input-has-value {
                    label {
                        display: none !important;
                    }
                }
                input {
                    padding: 8px 0px;
                    min-height: 32px;
                    font-size: 14px;
                    font-weight: normal;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                    color: rgba(255, 255, 255, 0.25);
                    margin-bottom: 12px !important;
                }
                md-icon {
                    @media(max-width: $screen-phone) {
                        font-size: 18px;
                    }
                    font-size: 16px;
                    max-width: 14px;
                    min-width: 14px;
                    right: 0;
                    color: rgba(255, 255, 255, 0.25);
                }
            }
            &:hover, md-input-container.md-input-focused {
                md-input-container,
                label,
                md-icon,
                input {
                    color: rgba(255, 255, 255, 0.5);
                }
                input {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }
            }
        }
        .search_close-button {
            position: absolute;
            right: 12px;
            top: 12px;
            cursor: pointer;
            z-index: 2;
            md-icon {
                color: rgba(#ffffff, .4);
            }
            &:hover md-icon{
                color: rgba(#ffffff, .5);
            }
        }
        &__button {
            margin: 0px 56px 4px 24px;
            max-height: 32px;
            border: 1px #ffffff;
            i.material-icons {
                font-size: 20px;
                margin-right: 6px;
                margin-bottom: 1px;
            }
            &._add {
                color: rgba($medium-teal-light-new, .8) !important;
                font-weight: 500;
                letter-spacing: 0.3px;
                text-transform: uppercase;
                border-radius: 18px;
                border: solid 1px rgba($medium-teal-light-new, .8) !important;
                align-items: center;
                padding: 11px 18px 10px;
                padding-right: 18px !important;
                display: flex;
                justify-content: center;
                font-size: 12px;
                &:hover {
                    color: $medium-teal-light-new !important;
                    border: solid 1px $medium-teal-light-new !important;
                }
            }
            &._upload {
                margin: 0;
                min-height: $sidebar-width;
                background-color: #132336;
                a {
                    min-height: $sidebar-width;
                    padding: 22px 0 22px 24px;
                    @media (max-width: $screen-phone) {
                        padding: 17px 0 17px 24px;
                    }
                }
            }
            @media (max-width: $screen-phone) {
                margin: 8px 56px 17px 24px;
            }
        }
    }
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: $dark_light-new; 
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(#ffffff, .25); 
        border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(#ffffff, .5);
    }
}
