@import
    "../global/var",
    "../global/var-extra";

.nav-container {
    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        .profile, .projects {
            .app-sidebar__link {
                padding: 14px !important;
            }
        }
        .show-part {
            display: flex;
            align-items: center;
            line-height: 1.15;
            min-height: 40px;

            @media (min-width: $screen-phone + 1) {
                max-width: 280px;
            }
            .menu-link__text {
                margin: 0;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;

                @media (max-width: $screen-phone) {
                    max-width: 100%;
                }
            }
        }
        .edit {
            position: absolute;
            right: 16px;
            top: 12px;
            @media (max-width: $screen-phone) {
                display: none;
                i {
                    display: none;
                }
            }
        }
        .profile {
            &__wrapper {
                display: flex !important;
                flex-direction: column;
                overflow: unset;
                height: 100%;
            }
        }
        .projects {
            &__selected {
                min-width: 32px;
                text-align: center;
                position: absolute;
                bottom: 1px;
                left: 0;
                right: 0;
                font-size: 10px;
                margin: 0;
                max-width: 100%;
                text-transform: uppercase;
                color: #ffffff;
            }
            &__wrapper {
                display: flex !important;
                flex-direction: column;
                overflow: unset;
                height: 100%;
            }
            &__list {
                margin-top: 10px;
                overflow: auto;
                flex-grow: 1;
                @media (max-width: $screen-phone) {
                    margin-top: 15px;
                }
                &-wrapper {
                    position: relative;
                }
                &-item {
                    margin-left: 23px;
                    margin-bottom: 0;
                    padding: 10px 24px;
                    display: flex;
                    @media (max-width: $screen-phone) {
                        padding: 15px 24px;
                    }
                    &:hover {
                        .md-label {
                            color: #ffffff;
                        }
                    }
                    .md-label {
                        line-height: 20px;
                        margin-left: 12px;
                        color: rgba(#ffffff, .8);

                    }
                }
            }
        }
        &-search {
            margin: 8px 56px 0px 24px;
            max-height: 40px;
            @media(max-width: $screen-phone) {
                margin: 8px 67px 18px 24px;
            }
            md-input-container, md-input-container.md-input-focused  {
                width: 100%;
            }
        }
        .search_close-button {
            position: absolute;
            right: 12px;
            top: 12px;
            cursor: pointer;
            z-index: 2;
            md-icon {
                color: rgba(#ffffff, .8);
            }
            &:hover md-icon{
                color: #ffffff;
            }
        }
        &__button {
            margin: 0px 56px 4px 24px;
            max-height: 32px;
            &._upload,
            &._logout {
                margin: 0;
                min-height: $sidebar-width;
                background-color: #132336;
                a {
                    min-height: $sidebar-width;
                    padding: 22px 0 22px 24px;
                    line-height: 20px;
                    i.material-icons {
                        line-height: 20px;
                        font-size: 24px;
                    }
                    span {
                        font-size: 14px;
                        vertical-align: middle;
                    }
                    @media (max-width: $screen-phone) {
                        padding: 17px 0 17px 24px;
                    }
                }
            }
            @media (max-width: $screen-phone) {
                margin: 8px 56px 17px 24px;
            }
        }
    }
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: $dark_light-new;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(#ffffff, .25);
        border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(#ffffff, .5);
    }
}
