@import "../global/var";

#search {
    .tests-runs-filter {
        &__search {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            
            &-panel {
                background-color: white;
                padding: 18px 20px 14px 20px;
                @media(max-width: 1279px) {
                    padding-left: 15px;
                }
                &-body {
                    &._row-wrapper {
                        .form-control {
                            @extend %select; 
                            padding-left: 37px;
                        }
                    }
                }
            }
    
            &-select {
                width: 100%;
    
                md-checkbox {
                    min-width: 18px;
                    min-height: 100%;
                    margin: 0 8px 0 4px;
                    .md-container,
                    .md-icon {
                        width: 18px;
                        height: 18px;
                    }
                    .md-icon:after {
                        left: 3.66667px;
                        top: -0.77778px;
                    }
                    @media (max-width: 1279px) {
                        margin-left: 12px;
                        margin-right: 7px;
                    }
                }
    
                .form-control {
                    @extend %select;
                }
                
                .search {
                    &-fields {
                        padding: 0 16px;
    
                        .reviewed {
                            width: 36px !important;
                            height: 36px !important;
                            min-width: 36px;
                            border-radius: 4px;
                            border-width: 1px;
                            background-color: transparent;
                            color: black;
                            border-color: rgba(#011627, .1);
                            &:hover {
                                border-color: rgba(#011627, .2) !important;
                            }
                            &.label-primary {
                                background-color: $medium-teal-light-new;
                                color: #fff;
                            }
                        }
    
                        md-input-container {
                            @extend %select;
    
                            md-select {
                                border: none;
                                margin-top: -1px;
                                height: 36px;
                                padding: 0 0 0 12px;
                                md-select-value {
                                    padding: 0;
                                    border-bottom: transparent;
                                    .md-select-icon:after {
                                        font-size: 15px !important;
                                    }
                                }
                                &:focus {
                                    md-select-value {
                                        border-bottom: transparent;
                                    }
                                }
                            }
                        }
                        
                        &._additional {
                            md-input-container {
                                padding-top: 1px;
                                @extend %select;
                            }
                            .date-picker-container { 
                                span {
                                    line-height: 2.3;
                                }                             
                                button {
                                    max-height: 36px;
                                }
    
                                i {
                                    font-size: 20px;
                                    color: #000 !important;
                                }
                            }
                        }
                    }
                }
                .btn-check {
                    button.btn {
                        outline: none;
                        font-size: 10px;
                        font-weight: 500;
                        max-height: 24px;
                        border-radius: 14px;
                        background-color: #edeff0;
                        border: 1px solid #edeff0;
                        box-shadow: none;
                        color: #000;
                        text-transform: uppercase;
                        height: 28px;
                        line-height: 26px;
                        padding: 7px 10px !important;
                        margin: 6px 3px;
                        line-height: 1 !important;
                        display: inline-flex;
                        .material-icons {
                            color: white;
                            font-size: 20px;
                            line-height: 9px;
                            display: none;
                        }
                        &:hover, &.active, &.default-blue {
                            background-color: $medium-teal-light-new !important;
                            border: 1px solid $medium-teal-light-new !important;
                            color: white !important;
                        }
                        &.active, &.default-blue {
                            padding: 7px 7px 7px 10px !important;
                            .material-icons {
                                display: inline-block;
                            }
                        }
                    }
                }

                .search-reset-btn {
                    max-height: 36px;
                    border-radius: 4px;
                    box-shadow: none;
                    margin-right: 0;
                    margin-left: 12px;
                    font-size: 14px;
                    min-width: 80px;
                    background-color: $fog-gray;
                    color: $dark-coal-new;
                    &:hover {
                        background-color: rgba($dark-coal-new, .3);
                    }
                }
            }
        }
    
        @media screen and (min-width: $breakpoint-mobile + 1) {
            &__search {
                &-select {
                    #search-input {
                        padding-right: 300px;
                    }
    
                    .search {
                        &-fields {
                            padding: 0;
    
                            &._additional {
                                margin-bottom: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tests-runs-filter__search._mobile {
    &,
    &#search {
        position: fixed;
        top: 48px;
        left: 0;
        right: 0;
        z-index: 5;
        border: transparent;
        box-shadow: none;
        border-radius: 0;
        @media (min-width: 481px){ 
            left: 60px; 
        }
        .btn-check {
            button.btn {
                display: inline;
                max-width: 104px;
                padding-right: 10px;
                .material-icons {
                    display: none;
                }
            }
        }
        .tests-runs-filter__search-panel {
            padding: 0;
            &-body {
                &._row-wrapper {
                    overflow: hidden;
                    display: flex;
                    align-items: center;

                    #search-input {
                        margin: 16px 16px 7px;
                    }
    
                    .search-wrapper {
                        top: 16px;
                        left: 16px;
                        max-width: 40px;
                        max-height: 40px;
                        z-index: 3;
                        position: absolute;
                        i {
                            color: rgba(0, 0, 0, 0.5) !important;
                            font-size: 18px;
                            line-height: 40px;
                            text-align: center;
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }

        .tests-runs-filter__search-select {
            position: absolute;
            z-index: 4;
            background-color: #fff;
            left: 0;
            top: 59px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2);

            md-checkbox {
                display: none;
            }

            .reviewed {
                margin-right: 16px;
            }

            .search {
                &-fields {
                    .searchable.select {
                        margin-bottom: 16px !important;
                    }

                    &._main {
                        padding-top: 15px;
                    }

                    &._additional {
                        margin-bottom: 20px;
                        align-items: flex-start;
                    }
                }
            }
        }
    }

    .btn-check {
        position: relative;
        margin: 0;
        padding: 2px 14px 6px;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        border-bottom: 1px rgba(0, 0, 0, 0.10) solid;
        right: 0;

        button.btn {
            flex-grow: 1;
            margin-bottom: 14px;
        }
    }
}

%select {
    border-radius: 4px;
    border: solid 1px ;
    border-color: rgba(#011627, .1) !important;
    font-size: 14px !important;
    color: #000;
    letter-spacing: 0.28px;
    #search & {
        height: 36px !important;
        &:hover {
            border-color: rgba(#011627, .2) !important;
        }
    }
}
