@import "../global/var";

.testrun-info {
    background-color: #fff;
    &__title {
        margin: 0;
        font-size: 18px;
        display: flex;
        align-items: center;

        &-name {
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            &._mobile {
                display: none;
            }
            @media screen and (max-width: $screen-phone) {
                display: none;
                &._mobile {
                    display: inline-block;
                }
            }

            + .recording-icon {
                margin-left: 5px;
            }
        }

        .back_button {
            min-width: auto;
            min-height: auto;
            padding: 0;
            border-radius: 50%;
            display: flex;
            .material-icons {
                color: black;
            }
            &:hover {
                background-color: none;
            }

            @media screen and (max-width: $screen-phone) {
                display: none;
            }
        }

        @media screen and (max-width: $screen-phone) {
            font-size: 20px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            &-name {
                display: none;
                &._mobile {
                    display: inline-block;
                }
            }
        }
    }

    &__container {
        height: 100vh;
    }

    &__section {
        height: 100%;

        *[md-tabs-template]>div {
            height: 100%;
        }

        > div,
        section,
        .tab-content,
        .history-tab,
        table {
            height: inherit;

            >*:not(.testrun-info__tab-video-section):not(thead):not(tbody) {
                height: inherit;
            }
        }

        .panel {
            border: none;
            box-shadow: none;
        }

        md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
            overflow: hidden;
            height: inherit;

            md-tab-content-wrapper {
                height: inherit;
            }

            md-tab-content {
                height: inherit;
                overflow: hidden !important;
            }
        }
    }

    &__status {
        &-icon {
            display: inline-block;
            min-width: 44px;
            border-radius: 2px;
            height: 16px;
            text-align: center;
            text-transform: uppercase;

            &._debug {
                background-color: $green-new;
                color: #fff;
            }

            &._warn {
                background-color: $yellow-new;
                color: #fff;
            }

            &._error {
                background-color: $red-new;
                color: #fff;
            }

            &._info {
                background-color: rgba($dark-new, 0.07);
            }
        }
    }

    &__tab {
        color: $medium-gray;
        font-size: 14.5px;
        font-weight: 500;
        text-transform: capitalize;
        &.md-active {
            color: $coal !important;
        }

        &-table {
            overflow: unset;
            height: auto;
            width: 100%;
            table-layout: fixed;

            &-wrapper {
                margin-bottom: 0;
                height: 100%;
                overflow: auto;
            }

            &-col {
                font-size: 12px;
                line-height: 16px;
                word-wrap: break-word;

                &._start,
                &._visuals {
                    width: 80px;
                    text-align: center;
                }
                &._status {
                    width: 70px;
                    text-align: center;
                }
                &._action {
                    width: auto;

                    a {
                        white-space: nowrap;
                    }
                }
                &._menu {
                    width: 40px;
                    text-align: center;
                    padding: 6px !important;
                }
            }

            .md-button.md-icon-button {
                margin: auto;
            }
        }

        &-additional {
            position: relative;
            bottom: 0;
            
            table {
                margin: 16px 16px;
                padding-left: 33px;
                -webkit-padding-start: 33px;
                list-style: none;

                td {
                padding: 8px 8px 8px 0;
                color: $coal;
                font-size: 14.5px;

                    span{
                        font-weight: 500;
                    }
                }
            }
        }
        &-video {
            &-section {
                height: 560px;
                position: relative;
                h4 {
                    margin: 0;
                    padding: 18px 0 15px 16px;
                    font-size: 16px;
                    color: $dark;

                    span {
                        width: 12px;
                        height: 12px;
                        padding-top: -8px;

                        .red-point {
                            width: inherit;
                            top: -6px;
                        }
                    }
                }

                md-chips-wrap {
                    padding-left: 16px;
                    padding-bottom: 11px;
                    box-shadow: none !important;

                    md-chip {
                        background: $medium-gray;
                        color: #fff;

                        &.active {
                            background: $brand-primary;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            &-wrapper {
                margin: 0 16px 16px;
                background: #000;
                min-height: 465px;
                position: relative;
                top: 0;
                left: 0;
                display: flex;
                height: calc(100vh / 2);
                &.full-screen {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                }
                video {
                    height: calc(100vh / 2);
                    width: 100%;
                    min-height: 100%;
                    padding: 10px 8px;
                    position: absolute;
                }
            }
        }
    }

    @media (min-width: 992px) {
        &__tab {
            &-video-section {
                border-left: 1px solid $custom-gray;
                position: absolute;
                height: inherit;
                top: 0;
                right: 0;
                bottom: 0;
                height: auto;
                overflow: auto;
            }
             &-table-wrapper {
                table {
                    height: auto;
                    overflow: auto;
                    td, th {
                        padding: 10px !important;
                    }
                }                
            }
        }
    }

    @media (max-width: 991px) {
        &__section {
            .history-tab {
                overflow: auto;
            }
        }
        &__tab {
            &-table {
                &-img-wrapper {
                    white-space: nowrap !important;
                    .log-wrapper {
                        line-height: 1;
                    }
                }
                &-wrapper {
                    height: auto !important;
                }
            }
            &-video-section {
                border-bottom: 1px solid $custom-gray;
            }
            &-additional {
                display: none;
            }
        }
    }

    @media screen and (max-width: 599px) {
        &__tab {
            &-table {
                display: block;

                thead,
                tbody {
                    display: block;
                }

                &-row {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                }
    
                &-col {
                    display: block;
    
                    &._start {
                        flex: 0 0 80px;
                    }
                    &._visuals {
                        flex: 1 1 80px;
                        order: 2;
                    }
                    &._status {
                        flex: 0 0 70px;
                        order: 1;
                    }
                    &._action {
                        flex: 1 1 100%;
                        order: 4;
                        max-width: 100%;

                        thead & {
                            display: none;
                        }
                    }
                    &._menu {
                        flex: 0 0 40px;
                        order: 3;
                    }
                }
            }
        }
    }
}


