@import "../global/var";

.tests-runs-search {
    background-color: white;
    padding: 18px 20px;
    position: relative;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.12);
    
    &__top-section {
        align-items: center;
        max-width: 550px;
    }

    md-input-container.select-wrapper {
        margin-top: 0px;
        margin-left: 12px;
        padding-top: 0px;
        margin-bottom: 0;
        width: 144px;
    }

    &__helpers {
        .md-button {
            margin-left: 12px;
        }
    }

    &__input {
        &-label {
            position: relative;
            margin: 0 12px 0 0;
            font-weight: normal;
            flex-grow: 1;
            flex-shrink: 1;
        }
        
        &-btn {
            font-size: 0;
            line-height: 1;
            transition: all .25s;
            color: $dark-new;
            border: 1px solid rgba($dark-new, 0.2);
            background-color: transparent;
            border-radius: 8px;
            width: 32px;
            height: 32px;
            padding: 0;

            .material-icons {
                color: currentColor;
            }

            &._active {
                background-color: rgba($dark-new, .5);
                color: #fff;
            }

            @media screen and (min-width: 600px) {
                &:hover {
                    background-color: rgba($dark-new, .5);
                    color: #fff;
                }
            }
        }
    }

    md-checkbox {
        margin: 0 20px 0 4px;
        @media (max-width: $screen-phone) {
            margin: 0 8px 0 4px;
        }
    }

    .date-picker-container {
        i.material-icons {
            color: currentColor;
            display: none;
        }
    }

    @media (max-width: 1279px) {
        &__top-section {
            max-width: 100%;
        }
    }

    @media (min-width: $breakpoint-mobile ) and (max-width: 1279px) {
        &__top-section {
            margin-bottom: 8px;
        }
        &__input {
            &-label {
                margin-right: 0;
            }
        }
    }

    @media (min-width: 481px) and (max-width: $breakpoint-mobile - 1) {
        &__input {
            &-label {
                margin-right: 0;
            }
        }
    }

    @media (max-width: $breakpoint-mobile - 1) {
        box-shadow: none;
        position: fixed;
        top: calc(#{$header_height} + 72px); // 72px - filter section height
        left: 0;
        right: 0;
        z-index: 3;
        border-bottom: 2px solid $main_container_bg;
        padding: 20px 16px;

        ._no-filters & {
            top: $header-height;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: calc(100% + 2px);
            height: calc(100vh - #{$header-height} - 72px);
            width: 100%;
            left: 0;
            background-color: rgba($dark-new, .25);
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
        }

        &__input {
            &-label {
                margin-right: 0;
            }
        }

        &__helpers {
            &:first-of-type {
                flex-wrap: wrap;

                button + md-input-container {
                    max-width: calc(100% - 44px); //44px - button width + margin
                }
            }
            &:last-of-type {
                .date-picker-container {
                    width: 100%;

                    i.material-icons {
                        display: inline-block;
                        position: absolute;
                        right: 8px;
                        top: 9px;
                        font-size: 20px;
                    }

                }
            }
        }
    }

    @media (min-width: 481px) and (max-width: $breakpoint-mobile - 1) {
        left: $sidebar_width;
        margin: 0 20px;
    }
}

//TODO: clean if everything is ok after new mobile design implementation
//#search {
//    .tests-runs-filter {
//        &__search {
//            border-top-left-radius: 4px;
//            border-top-right-radius: 4px;
//
//            &-panel {
//                background-color: white;
//                padding: 18px 20px 14px 20px;
//                @media(max-width: 1279px) {
//                    padding-left: 15px;
//                }
//                &-body {
//                    &._row-wrapper {
//                        .form-control {
//                            @extend %select;
//                            padding-left: 37px;
//                            padding-right: 37px;
//                        }
//                    }
//                }
//            }
//
//            &-select {
//                width: 100%;
//
//                md-checkbox {
//                    margin: 0 8px 0 4px;
//                    @media (max-width: 1279px) {
//                        margin-left: 12px;
//                        margin-right: 7px;
//                    }
//                }
//
//                .form-control {
//                    @extend %select;
//                }
//
//                .search {
//                    &-fields {
//                        padding: 0 16px;
//
//
//
//                        md-input-container {
//                            @extend %select;
//
//                            md-select {
//                                border: none;
//                                margin-top: -1px;
//                                height: 36px;
//                                padding: 0 0 0 12px;
//                                md-select-value {
//                                    padding: 0;
//                                    border-bottom: transparent;
//                                    .md-select-icon:after {
//                                        font-size: 15px !important;
//                                    }
//                                }
//                                &:focus {
//                                    md-select-value {
//                                        border-bottom: transparent;
//                                    }
//                                }
//                            }
//                        }
//
//                        &._additional {
//                            md-input-container {
//                                padding-top: 1px;
//                                @extend %select;
//                            }
//                            .date-picker-container {
//                                span {
//                                    line-height: 2.3;
//                                }
//                                button {
//                                    max-height: 36px;
//                                }
//
//                                i {
//                                    font-size: 20px;
//                                    color: #000 !important;
//                                }
//                            }
//                        }
//                    }
//                }
//                .btn-check {
//                    button.btn {
//                        outline: none;
//                        font-size: 10px;
//                        font-weight: 500;
//                        max-height: 24px;
//                        border-radius: 14px;
//                        background-color: #edeff0;
//                        border: 1px solid #edeff0;
//                        box-shadow: none;
//                        color: #000;
//                        text-transform: uppercase;
//                        height: 28px;
//                        line-height: 26px;
//                        padding: 7px 10px !important;
//                        margin: 6px 3px;
//                        line-height: 1 !important;
//                        display: inline-flex;
//                        .material-icons {
//                            color: white;
//                            font-size: 20px;
//                            line-height: 9px;
//                            display: none;
//                        }
//                        &:hover, &.active, &.default-blue {
//                            background-color: $medium-teal-light-new !important;
//                            border: 1px solid $medium-teal-light-new !important;
//                            color: white !important;
//                        }
//                        &.active, &.default-blue {
//                            padding: 7px 7px 7px 10px !important;
//                            .material-icons {
//                                display: inline-block;
//                            }
//                        }
//                    }
//                }
//
//                .search-apply-btn {
//                    max-height: 36px;
//                    border-radius: 4px;
//                    box-shadow: none;
//                    font-size: 14px;
//                    width: 80px;
//                    margin: 0 16px 20px auto;
//                }
//            }
//        }
//
//        @media screen and (min-width: $breakpoint-mobile + 1) {
//            &__search {
//                &-select {
//                    #search-input {
//                        padding-right: 300px;
//                    }
//
//                    .search {
//                        &-fields {
//                            padding: 0;
//
//                            &._additional {
//                                margin-bottom: 0;
//                                padding: 0;
//                            }
//                        }
//                    }
//                }
//            }
//        }
//    }
//}

//.tests-runs-filter__search._mobile {
//    &,
//    &#search {
//        position: fixed;
//        top: 60px;
//        left: 0;
//        right: 0;
//        z-index: 5;
//        border: transparent;
//        box-shadow: none;
//        border-radius: 0;
//        @media (min-width: 481px){
//            left: 60px;
//        }
//        .btn-check {
//            button.btn {
//                display: inline;
//                max-width: 104px;
//                padding-right: 10px;
//                .material-icons {
//                    display: none;
//                }
//            }
//        }
//        .tests-runs-filter__search-panel {
//            padding: 0;
//            &-body {
//                &._row-wrapper {
//                    overflow: hidden;
//                    display: flex;
//                    align-items: center;
//
//                    #search-input {
//                        margin: 16px 64px 7px 16px;
//                    }
//
//                    $icon-size: 40px;
//
//                    .search-wrapper {
//                        left: 16px;
//                        &, &_close, &_filters {
//                            top: 14px;
//                            max-width: $icon-size;
//                            max-height: $icon-size;
//                            z-index: 3;
//                            position: absolute;
//
//                            i {
//                                color: rgba(0, 0, 0, 0.5) !important;
//                                font-size: 18px;
//                                line-height: $icon-size;
//                                text-align: center;
//                                width: $icon-size;
//                                height: $icon-size;
//                            }
//                        }
//
//                        &_close {
//                            right: 64px;
//                        }
//
//                        &_filters {
//
//                            $border-size: 1px;
//
//                            top: 14px + ($border-size * 2);
//                            right: 16px;
//                            border-radius: 8px;
//                            border: solid $border-size rgba(#000000, 0.15);
//                            height: 100%;
//                            width: 100%;
//                            max-width: $icon-size - ($border-size * 4);
//                            max-height: $icon-size - ($border-size * 4);
//
//                            i {
//                                color: black !important;
//                                font-size: 24px;
//                                width: $icon-size - ($border-size * 6);
//                                height: $icon-size - ($border-size * 6);
//                                line-height: $icon-size - ($border-size * 4);
//                            }
//
//                            &.__active {
//                                border-color: rgba(#011627, 0.5);
//                                background-color: rgba(#011627, 0.5);
//                                i {
//                                    color: $reverse !important;
//                                }
//                            }
//
//                        }
//                    }
//
//                }
//            }
//        }
//
//        .tests-runs-filter__search-select {
//            position: absolute;
//            z-index: 4;
//            background-color: #fff;
//            left: 0;
//            top: 59px;
//            border-bottom-left-radius: 10px;
//            border-bottom-right-radius: 10px;
//            box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2);
//
//            md-checkbox {
//                display: none;
//            }
//
//            .reviewed {
//                margin-right: 16px;
//            }
//
//            .search {
//                &-fields {
//                    .searchable.select {
//                        margin-bottom: 16px !important;
//                    }
//
//                    &._main {
//                        padding-top: 15px;
//                    }
//
//                    &._additional {
//                        margin-bottom: 20px;
//                        align-items: flex-start;
//                    }
//                }
//            }
//        }
//    }
//
//    .btn-check {
//        position: relative;
//        margin: 0;
//        padding: 2px 14px 6px;
//        display: flex;
//        justify-content: space-between;
//        flex-grow: 1;
//        border-bottom: 1px rgba(0, 0, 0, 0.10) solid;
//        right: 0;
//
//        button.btn {
//            flex-grow: 1;
//            margin-bottom: 14px;
//        }
//    }
//}

