@import "../global/var";

.tests-runs-filter {
    &__close-search-btn {
        background-color: #fff;
        border: 0;
    }
    #filter md-chips-wrap i.custom-chip-action {
        color: rgba(#011627, .5) !important;
    }
    #filter md-chips-wrap .md-focused i.custom-chip-action {
        color: white !important;
    }
    #filter .chip-operator {
        color: black !important;
    }
    #filter-editor md-chip:hover span {
        color: black !important;
    }
    &__actions {
        button#reset, 
        button#applySearch,
        button#createFilter,
        button#updateFilter,
        button#resetFilter,
        button#deleteFilter {
            border-radius: 4px;
            box-shadow: none;
            margin-left: 16px;
            font-size: 14px;
            min-width: 80px;
        }
        button#resetFilter, button#deleteFilter {
            background-color: transparent;
            &:hover {
                background-color: rgba(#011627, 0.1);
            }
        }

        button#reset {
            background-color: $fog-gray;
            color: $dark-coal-new;
            &:hover {
                background-color: rgba($dark-coal-new, .3);
            }
        }
        .filter-reset-btn {
            margin-right: 20px;
        }

        button#applySearch {
            background-color: $medium-teal-bright-new;
            color: #ffffff;
        } 
    }

    &__wrapper {
        &-panel-body {   
            padding: 24px 0 18px 0;
            position: relative;   
            @extend %chips-scrolling;
            &._lighter {
                opacity: .5;
            }
            .manage-chip {
                md-chips.filter-chip md-chips-wrap.md-chips md-chip {
                    background-color: rgba(#011627, .5) !important;
                    margin: 0 8px 0 0 !important;
                    width: 36px;
                    height: 36px;
                    border-radius: 8px;
                    padding: 0;
                    md-icon {
                        margin-top: 3px;
                        margin-left: 6px;
                        font-size: 24px;
                        color: white;
                    }
                } 
            }
        }
    }

    &__editor {
        background-color: rgba(#011627, .07) !important;
        margin-top: 18px;
        padding: 4px;
        form {
            width: auto !important;
            margin-right: 20px;
        }
        &-info {
            max-width: 300px;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
        }
        &-text {
            vertical-align: top;
            padding-bottom: 16px;
            
            &-state{
                padding-left: 9px;
                margin: 0;
                min-width: 100px;
            }
        }
        &-chips-wrapper {
            flex-grow: 1;
        }
        .filter {
            &-input-container {
                min-width: 184px;
            }
            &-state {
                padding: 7px 20px;
                border-right: 1px solid rgba(black, .5);
                label {
                    padding-right: 8px;
                }
                md-checkbox {
                    margin-bottom: 0;
                    &.md-checked .md-icon {
                        background-color: #011627;
                    }
                }
            }
            &-name {
                max-width: 240px;
                max-height: 36px;
            }
            &-control {
                max-height: 36px;
                border-radius: 4px;
            }
            &-select {
                max-width: 100% !important;
                md-select {
                    border-radius: 4px;
                }
            }
        }
        #add-button {
            background-color: rgba(#011627, 0.2) !important;
            border-radius: 4px;
            min-width: 64px;
            color: black;
            margin-bottom: 15px;
            &[disabled] {
                background-color: rgba(#011627, 0.1) !important;
            }
        }
        .panel-body {
            padding-bottom: 20px !important;
            .filter-chip md-chip,
            .filter-chip md-chip:hover {
                background-color: transparent !important;
                border: 1px solid rgba(#011627, 0.2) !important;
                .md-chip-content {
                    line-height: 30px;
                }
                span {
                    color: black;
                }
                button {
                    background-color: transparent;
                    md-icon {
                        font-size: 22px;
                        color: black;
                    }
                }
            }
        }

        md-input-container.filter-input-container.select {
            width: 144px !important;
            border-radius: 4px;
            margin-bottom: 15px !important;
        }
    }

    &__filter-mobile {
        background-color: $main_container_bg;
        position: fixed;
        top: $header-height;
        left: 0;
        right: 0;
        max-width: 100%;
        z-index: 5;
        border: 0;

        @media (min-width: 481px) { 
            left: $sidebar_width;
        }
    }
    
    @media screen and (max-width: $breakpoint-mobile) {
        &__wrapper{
            &-panel-body {
                padding: 20px 0;
            }
        }

        &__actions {
            height: 48px;
            background-color: #fff;
            position: fixed;
            top: 48px;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 5;
            padding: 0 16px !important;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row-reverse;
            border: 1px solid rgba($coal, .1);
            border-right: 0;
            border-left: 0;
            border-top-color: #fff;
            
            button {
                margin: 0 !important;
            }
            button + button {
                margin-right: 12px !important;
            }
        }
        
        &__modal-bg {
            position: fixed;
            top: 48px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
}

%chips-scrolling {
    md-chips.filter-chip.custom-filter {
        @media screen and (min-width: $breakpoint-mobile + 1) {
            min-width: auto;
            padding-top: 2px;
            overflow-x: auto;
            overflow-y: hidden;
            max-width: calc(100vw - 255px);
            &._wide {
                max-width: calc(100vw - 155px);
            }
        }
        @media screen and (max-width: $breakpoint-mobile) {
            overflow-x: scroll;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            &::-webkit-scrollbar { 
                display: none;
            }
        }
        
        md-chips-wrap.md-chips{
            display: flex;
            align-items: center;
            height: 100%;
            md-chip {
                background-color: transparent !important;
                letter-spacing: 0.1px;
                border-radius: 8px;
                color: $dark-new !important;
                font-size: 14px;
                font-weight: 500;
                border: solid 1px rgba(#011627, .2);
                margin-bottom: 2px;
                margin-left: 0;
                margin-right: 8px;
                max-height: 32px;
                position: relative;

                &.md-focused {
                    background-color: #011627 !important;
                    color: white !important;
                    padding-right: 36px;

                    .close-button {
                        position: absolute;
                        top: 50%;
                        right: 8px;
                        transform: translateY(-50%);
                        border: 2px solid #fff;
                        background: transparent;
                        border-radius: 50%;
                        padding: 8px;
                        cursor: pointer;
                        margin: 0 auto 0 8px;
                        height: 20px;
                        width: 20px;
                        display: inline-block;
                        opacity: .5;

                        &:after,
                        &:before {
                            position: absolute;
                            top: 3px;
                            right: 3px;
                            bottom: 0;
                            left: 50%;
                            transform: rotate(45deg) translateX(0) translateY(0);
                            height: 10px;
                            width: 2px;
                            background-color: #fff;
                            content: '';
                            display: block;
                            margin: 0 0 0 -1px;
                        }
                        &:before {
                            transform: rotate(-45deg) translateX(0) translateY(0);
                        }
                    }
                }
            }

            @media screen and (max-width: 599px) {
                display: inline-block;
                white-space: nowrap;
                padding: 0 16px;
                box-shadow: none;
                line-height: 0;

                md-chip {
                    margin: 0;
                    float: none;
                    display: inline-block;
                    font-size: 14px;
                    max-height: 32px;
                    line-height: 32px;
                }

                md-chip + md-chip {
                    margin-left: 8px;
                }
            }
        }
    }
}
