@import "../global/var";

.p-tests-run-details {
    &__sticky-header {
        position: sticky;
        top: $header_height;
        z-index: 4;
        box-shadow: 0 4px 8px 0 rgba(4, 0, 0, 0.2);
        @media (max-width: $md-screen-phone) {
            box-shadow: none;
            margin-bottom: 2px;
        }
        .test-run-group-row {
            &.groups {
                height: 40px;
            }
            .sort-new.test-run-group-column {
                @media(max-width: $md-screen-phone) {
                    padding: 0 10px !important;
                }
                .test-run-group {
                    display: flex;
                    align-items: center;
                    &_wrapper {
                        display: flex;
                        align-items: center;
                        &._left {
                            flex-grow: 1;
                            @media(max-width: $md-screen-phone) {
                                overflow-x: scroll;
                                display: none;
                            }
                        }
                        &._right {
                            justify-content: flex-end;
                            @media (max-width: 956px) {
                                flex-grow: 1;
                            }
                        }
                        @media (max-width: 956px) {
                            margin: 10px 0;
                        }
                    }
                    @media (max-width: 956px) {
                        flex-wrap: wrap;
                    }
                    &_controls-buttons {
                        margin-right: 40px;
                        flex: 1 1 auto;
                        @media (max-width: 998px) {
                            margin-right: 10px;
                        }
                        @media(max-width: $md-screen-phone) {
                            display: none;
                        }

                        button {
                            border-radius: 0;
                            &:first-child {
                                border-radius: 4px 0 0 4px;
                            }
                            &:last-child {
                                border-radius: 0 4px 4px 0;
                            }
                        }
                    }
                    &_sorts {
                        @extend %detailsItems;
                        background-color: $dark-coal-light-new-op01;
                        padding: 3px 15px;
                        min-width: 90px;
                        margin-left: 17px;
                        &:hover {
                            background-color: rgba(0, 0, 0, .35);
                        }
                        & .pointer {
                            display: flex;
                            md-icon.md-sort-icon.md-asc {
                                transform: rotate(0deg);
                            }
                            md-icon.md-sort-icon.md-desc {
                                transform: rotate(180deg);
                            }
                        }

                        @media(max-width: $md-screen-phone) {
                            padding: 3px 0;
                            min-width: auto;
                            & .pointer {
                                padding-right: 0;
                                & span {
                                    display: none;
                                }
                            }
                        }
                    }
                    &_group-items {
                        min-width: auto;
                        width: auto;
                    }
                    &_tags {
                        min-width: 260px;
                        width: auto;
                        @media(max-width: $md-screen-phone) {
                            display: flex;
                            max-width: calc(100vw - 20px);
                        }
                        md-chips {
                            md-chips-wrap.md-chips {
                                @media(max-width: $md-screen-phone) {
                                    display: flex;
                                }
                                md-chip {
                                    @extend %detailsItems;
                                    background-color: $dark-coal-light-new-op01 !important;
                                    line-height: 24px;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                        button {
                            top: 0;
                        }
                    }
                    &_other-buttons {
                        margin-left: 40px;
                        @media (max-width: $breakpoint-mid-tablet) {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .page {
        padding-left: 0;
        padding-right: 0;
    }
    .content-container {
        overflow: visible !important;
    }
    md-table-container {
        background-color: $gray-bg-light-new;
        overflow: unset;
        .table {
            margin-bottom: 0;
            .test {
                position: relative;
                display: flex;
                @media(max-width: $md-screen-phone) {
                    flex-wrap: wrap;
                    width: calc(100vw - 60px);
                }
                @media (max-width: 480px) {
                    width: 100vw;
                }
                &.active-highlight:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    animation: change-color 3s ease-in-out 1;
                }
                &-empty,
                &-loading {
                    padding: 20px !important;
                    text-align: center;
                }
                &:not(:nth-last-child(2)){
                    margin-bottom: 2px;
                }
                &__clickable-wrapper {
                    @media(min-width: $breakpoint-mobile + 1) {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(0,0,0,.05);
                        }
                    }
                }
                &.success {
                    & .test-selection,
                    & .test-info,
                    & .test-label,
                    & .test-settings {
                        background-color: $green-bg-light-new;
                    }
                }
                &.danger {
                    & .test-selection,
                    & .test-info,
                    & .test-label,
                    & .test-settings {
                        background-color: $pink-bg-light-new;
                    }
                }
                &-selection {
                    width: 50px;
                    font-size: 14px;
                    padding: 7px 0 5px 0;
                    text-align: center;
                    @media (max-width: 599px) {
                        display: none;
                    }
                }
                &-info {
                    width: 50vw;
                    flex-grow: 1;
                    padding-left: 0;
                    @media (max-width:670px) {
                        width: 45vw;
                    }
                    @media (max-width: 959px) {
                        padding-left: 0;
                    }
                    @media(max-width: $md-screen-phone) {
                        width: 100%;
                        border-top: 0 !important;
                        padding-bottom: 0 !important;
                        padding-left: 15px;
                    }
                    &__name {
                        margin-bottom: 0;
                        font-weight: 500;
                    }
                    &__wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 12px;

                        @media(max-width: $md-screen-phone) {
                            margin-top: 5px;
                        }
                        .material-icons,
                        .fa {
                            margin-right: 3px;
                            font-size: 12px;
                            display: inline-block;
                            width: 12px;
                            min-width: 12px;
                            height: 12px;
                            min-height: 12px;
                            text-align: center;
                        }
                        .light_text {
                            display: flex;
                            align-items: center;
                        }
                    }
                    &__item {
                        margin-right: 10px;
                        line-height: 16px;
                    }
                    & .result_error {
                        word-wrap: break-word;
                        [id^="more"], [id^="less"] {
                            z-index: 3;
                            position: relative;
                        }
                        &.FAILED {
                            background-color: $pink-bg-new;
                            & .test-error {
                                word-wrap: break-word;
                            }
                        }
                    }

                    &__tags {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        background-color: transparent;
                        padding-left: 0;
                        margin-left: 0;
                        min-height: 25px;
                        @media(max-width: $md-screen-phone) {
                            margin-top: 10px;
                            margin-left: 0 !important;
                        }
                        &-tag {
                            margin: 2px 4px 2px 0;
                            display: inherit;
                            &-inner {
                                @extend %detailsItems;
                                background-color: #00000026;
                                padding: 4px 8px;
                                &._link {
                                    &:hover {
                                        background-color: rgba(0, 0, 0, .35);
                                    }
                                }
                            }
                        }
                    }
                }
                &-label {
                    max-width: 110px;
                    width: 110px;
                    padding: 15px 5px;
                    @extend %noBorderPadding;
                    .work-items {
                        font-size: 0;
                        .badge {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 100px;
                        }
                        &:not(:last-of-type) .badge {
                            margin-bottom: 12px;
                        }
                    }

                    @media (max-width: $md-screen-phone) {
                        padding: 15px;
                        width: 100%;
                        max-width: 100%;
                        text-align: left;
                        .work-items {
                            display: inline-block;
                            margin-right: 4px;
                            .badge {
                                margin-top: 8px;
                            }
                            &:not(:last-of-type) .badge {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                &-settings {
                    max-width: 100px;
                    padding: 8px 8px 15px 15px;
                    .divider {
                        width: 28px;
                        height: 2px;
                        background-color: #c9d6ca;
                        transform: rotate(-90deg);
                        @media(max-width: $md-screen-phone) {
                            display: none;
                        }
                    }
                    @media(max-width: $md-screen-phone) {
                        flex-grow: 1;
                        padding: 0 9px 5px 15px;
                        max-width: unset;
                    }
                    &__attachment {
                        display: flex;
                        align-items: flex-end;
                        color: rgba(0,0,0,0.54);
                        margin: 5px 0;
                        md-icon {
                            min-height: 12px;
                            height: 12px;
                            font-size: 12px;
                            min-width: 12px;
                            width: 12px;
                        }
                        span {
                            font-size: 12px;
                            margin: 0 15px 0 3px;
                            max-width: 100px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    &__button {
                        button {
                            margin: 0 2px;
                        }
                    }
                    &__wrapper {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                    }
                    &__menu {
                        button.md-icon-button.md-button.md-ink-ripple {
                            padding: 0;
                            margin: 0;
                            height: auto;
                            @media (max-width: $md-screen-phone) {
                                md-icon {
                                    font-size: 20px;
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                    min-width: 20px;
                                    min-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
            > tbody {
                > tr {
                    > th,
                    > td {
                        border-top: 0;
                    }
                }
            }
        }
    }
    .test-run-group-row {
        &.groups {
            height: 40px;
            th {
                font-size: 14px;
                font-weight: 700;
                vertical-align: middle;
            }
            i {
                font-size: 14px;
                padding-right: 5px;
                opacity: 0.5;
                position: relative;
                vertical-align: middle;

                &.checked {
                    transform: rotate(-180deg);
                }
                &.unchecked {
                    transform: rotate(0deg);
                }
                &.checked,
                &.unchecked {
                    transform-origin: 40% 50%;
                    transition: all 0.2s linear;
                }
            }
        }

    }
    md-table-pagination {
        border: 0;
        padding: 0 15px;
        font-size: 14px;
        font-weight: normal;
        .limit-select {
            margin-left: 0;
            margin-right: auto;
            .label {
                padding-right: 0;
            }
        }
        .md-table-select {
            min-width: 45px;
        }
        .buttons {
            margin-right: 0;
        }
    }
    @media (min-width: $breakpoint-mobile) {
        .ui-section {
            padding: 0 20px;
        }
    }
    .test-settings__menu-content,
    .test-settings__submenu-content,
    .test-settings__descmenu-content {
        @media (min-width: $breakpoint-mobile + 1) {
            .overview {
                display: none;
            }
        }
        md-menu-item, md-menu {
            display: flex;
            align-items: center;
            padding: 0;
            .md-button {
                min-width: 40px;
                width: 100%;
                display: flex;
                text-transform: none;
                font-weight: 400;
                .point-icon {
                    font-size: 14px;
                    min-height: 14px;
                    max-height: 14px;
                    min-width: 14px;
                    max-width: 14px;
                    margin-left: 5px;
                    margin-right: 20px;
                    &._red {
                        color: $red-new;
                    }
                    &._green {
                        color: $green-new;
                    }
                }
                .assignment {
                    transform: scale(-1, 1);
                }
                md-icon {
                    margin-right: 16px;
                }
                .point-icon {
                    font-size: 14px;
                    min-height: 14px;
                    max-height: 14px;
                    min-width: 14px;
                    max-width: 14px;
                    margin-left: 5px;
                    margin-right: 20px;
                    &._red {
                        color: $red-new;
                    }
                    &._green {
                        color: $green-new;
                    }
                }
                .assignment {
                    transform: scale(-1, 1);
                }
            }
            span {
                padding-left: 16px;
                color: rgba(0,0,0,0.87);
                font-weight: normal;
                text-transform: none;
            }
        }
    }
    @media (max-width: $md-screen-phone) {
        .page {
            padding: 0;
            md-card {
                box-shadow: none;
            }
        }
    }

    .test-details {
        &__header {
            &-actions {
                padding: 12px 20px;
                border-top: 1px solid $main_container_bg;
                background-color: white;

                &-wrapper{
                    position: relative;
                }
                &._bulk {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }
                &-btns {
                    .md-button {
                        display: flex;
                        align-items: center;
                        height: 24px;
                        min-height: 24px;
                        font-size: 0;
                        line-height: 1;
                        padding: 4px 8px 4px 26px;
                        color: #979797;
                        border-radius: 12px;
                        border: 1px solid #e9e9e9;
                        background-color: white;
                        transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;
                        position: relative;
                        margin-right: 12px;
                        min-width: 130px;

                        .btn-icon {
                            position: absolute;
                            top: 50%;
                            left: 2px;
                            transform: translateY(-50%);
                            display: block;
                            width: 18px;
                            height: 18px;
                            border-radius: 50%;
                            background-color: #e9e9e9;
                            border: 1px solid #e9e9e9;
                            transition: all .25s ease-in-out;
                            &::before {
                                content:'';
                                display: block;
                                position: absolute;
                                border: 2px solid white;
                                border-top: 0;
                                border-right: 0;
                                height: 6px;
                                width: 11px;
                                transform: translate(-50%, -50%) rotate(-45deg);
                                left: 7px;
                                top: 7px;
                                opacity: 0;
                                transition: opacity .25s ease-in-out;
                            }
                        }
                        .btn-txt {
                            font-size: 12px;
                            line-height: 1;
                            text-transform: none;
                        }
                        &._green-icon {
                            .btn-icon{
                                background-color: $green-new;
                                border-color: $green-new;

                            }
                        }
                        &._red-icon {
                            .btn-icon {
                                background-color: $red-new;
                                border-color: $red-new;
                            }
                        }

                        &._completed {
                            color: #fff;
                            .btn-icon {
                                background-color: transparent;
                                border-color: transparent;
                                &::before {
                                    opacity: 1;
                                }
                            }
                            &._green-icon {
                                background-color: $green-new;
                                border-color: $green-new;
                            }
                            &._red-icon {
                                background-color: $red-new;
                                border-color: $red-new;
                            }
                        }

                        &:hover,
                        &:active,
                        &.md-focused,
                        &:focus {
                            &:not(._completed) {
                                color: darken(#979797, 15%);
                                border-color: darken(#e9e9e9, 15%);
                                &._green-icon {
                                    .btn-icon{
                                        background-color: darken($green-new, 15%);
                                        border-color: darken($green-new, 15%);
                                    }
                                }
                                &._red-icon {
                                    .btn-icon {
                                        background-color: darken($red-new, 15%);
                                        border-color: darken($red-new, 15%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &__test {
            &-selection {
                display: flex;
                width: 100%;
                justify-content: center;
                &._all {
                    width: 50px;
                }
                md-checkbox {
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                    .md-container {
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0);
                        backface-visibility: hidden;
                    }
                }
            }
            &-header {
                &-selection {
                    display: none;
                }
            }
        }
        &__status-filter {
            display: flex;
        }

        @media (max-width: 959px) {
            &__test {
                &-selection {
                    &._all {
                        width: 55px;
                    }
                }

            }
        }

        @media (max-width: $md-screen-phone) {
            &__test {
                &-header {
                    display: flex;
                    align-items: flex-start;
                    &-selection {
                        display: flex;
                        flex: none;
                        width: auto;
                        font-size: 14px;
                        padding: 0;
                        margin-top: -9px;
                        margin-left: -11px;
                    }
                }
            }
        }
    }
    md-fab-actions .fa-times-circle {
        color: $red-new;
    }
    md-fab-actions .fa-check-circle {
        color: $green-new;
    }

    .status-button {
        &,
        &:not([disabled]).md-focused  {
            display: flex;
            align-items: center;
            height: 24px;
            min-height: 24px;
            font-size: 0;
            line-height: 1;
            padding: 4px 8px 4px 26px;
            color: $dark-coal-light-new;
            border-radius: 12px;
            border: 1px solid #e9e9e9;
            background-color: white;
            transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;
            position: relative;
            margin-right: 12px;
            min-width: 80px;
        }

        &__icon {
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #e9e9e9;
            border: 1px solid #e9e9e9;
            transition: all .25s ease-in-out;
            &::before,
            &::after {
                position: absolute;
                left: 7px;
                top: 2px;
                content: '';
                height: 12px;
                width: 2px;
                background-color: white;
                opacity: 0;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
        &__txt {
            font-size: 12px;
            line-height: 1;
            text-transform: none;
        }

        &.failed {
            .status-button__icon {
                background-color: $red-new;
                border-color: $red-new;
            }
        }
        &.skipped {
            .status-button__icon {
                background-color: $yellow-light-new;
                border-color: $yellow-light-new;
            }
        }
        &.passed {
            .status-button__icon {
                background-color: rgba($green-light-new, .5);
                border-color: rgba($green-light-new, .1);
            }
        }
        &.aborted {
            .status-button__icon {
                background-color: rgba($gray-light-new, .5);
                border-color: rgba($gray-light-new, .1);
            }
        }
        &.queued {
            .status-button__icon {
                background-color: white;
                border-color: rgba($gray-light-new, .5);
            }
        }
        &.in-progress {
            .status-button__icon {
                background-color: rgba($blue-light-new, .5);
                border-color: rgba($blue-light-new, .1);
            }
        }

        &:hover,
        &:active,
        &.md-focused,
        &:focus {
            &:not(._active),
            &:not([disabled]):not(._active) {
                color: darken($dark-coal-light-new, 15%);
                border-color: darken(#e9e9e9, 15%);
                &.failed {
                    .status-button__icon {
                        background-color: darken($red-new, 15%);
                        border-color: darken($red-new, 15%);
                    }
                }
                &.skipped {
                    .status-button__icon {
                        background-color: darken($yellow-light-new, 15%);
                        border-color: darken($yellow-light-new, 15%);
                    }
                }
                &.passed {
                    .status-button__icon {
                        background-color: darken(rgba($green-light-new, .5), 15%);
                        border-color: darken(rgba($green-light-new, .1), 15%);
                    }
                }
                &.aborted {
                    .status-button__icon {
                        background-color: darken(rgba($gray-light-new, .5), 15%);
                        border-color: darken(rgba($gray-light-new, .1), 15%);
                    }
                }
                &.queued {
                    .status-button__icon {
                        background-color: darken(white, 15%);
                        border-color: darken(rgba($gray-light-new, .5), 15%);
                    }
                }
                &.in-progress {
                    .status-button__icon {
                        background-color: darken(rgba($blue-light-new, .5), 15%);
                        border-color: darken(rgba($blue-light-new, .1), 15%);
                    }
                }
            }
        }

        &._active  {
            &,
            &:not([disabled]).md-focused {
                color: white;
            }

            .status-button__icon {
                background-color: transparent;
                border-color: transparent;
                &::before,
                &::after {
                    opacity: 1;
                }
            }

            &.failed {
                background-color: $red-new;
                border-color: $red-new;
            }
            &.skipped {
                background-color: $yellow-light-new;
                border-color: $yellow-light-new;
            }
            &.passed {
                background-color: rgba($green-light-new, .5);
                border-color: rgba($green-light-new, .1);
            }
            &.aborted {
                background-color: rgba($gray-light-new, .5);
                border-color: rgba($gray-light-new, .1);
            }
            &.queued {
                background-color: white;
                border-color: rgba($gray-light-new, .5);
            }
            &.in-progress {
                background-color: rgba($blue-light-new, .5);
                border-color: rgba($blue-light-new, .1);
            }
        }
    }
}

%detailsItems {
    max-height: 28px;
    border-radius: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: $dark-coal-light-new;

    &.md-focused,
    &.active {
        background-color: $dark-coal-light-new;
        color: #ffffff;
    }
}

%noBorderPadding {
    @media(max-width: $md-screen-phone) {
        border-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

@keyframes change-color {
    0% { background-color: transparent; }
    25% { background-color: rgba(0,0,0,.05); }
    100% { background-color: transparent; }
}
