@import "../global/var";

.testrun-info {
    background-color: #fff;
    &.page {
        &-wrapper {
            overflow: hidden;
        }
    }
    &__title {
        margin: 0;
        font-size: 18px;
        display: flex;
        align-items: center;

        &-name {
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            &._mobile {
                display: none;
            }
            @media screen and (max-width: $screen-phone) {
                display: none;
                &._mobile {
                    display: inline-block;
                }
            }

            + .recording-icon {
                margin-left: 5px;
            }
        }

        .back_button {
            min-width: auto;
            min-height: auto;
            padding: 0;
            border-radius: 50%;
            display: flex;
            .material-icons {
                color: black;
            }
            &:hover {
                background-color: none;
            }

            @media screen and (max-width: $screen-phone) {
                display: none;
            }
        }

        @media screen and (max-width: $screen-phone) {
            font-size: 20px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            &-name {
                display: none;
                &._mobile {
                    display: inline-block;
                }
            }
        }
    }

    &__container {
        height: 100%;
    }

    &__section {
        height: 100%;

        *[md-tabs-template]>div {
            height: 100%;
        }

        > div,
        section,
        .tab-content,
        .history-tab,
        table {
            height: inherit;

            >*:not(.testrun-info__tab-video-section):not(thead):not(tbody) {
                height: inherit;
            }
        }

        .panel {
            border: none;
            box-shadow: none;
        }

        md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
            overflow: hidden;
            height: inherit;

            md-tab-content-wrapper {
                height: inherit;
            }

            md-tab-content {
                height: inherit;
                overflow: hidden !important;
            }
        }
    }

    &__status {
        &-icon {
            display: inline-block;
            min-width: 44px;
            border-radius: 2px;
            height: 16px;
            text-align: center;
            text-transform: uppercase;

            &._debug {
                background-color: $green-new;
                color: #fff;
            }

            &._warn {
                background-color: $yellow-new;
                color: #fff;
            }

            &._error,
            &._fatal {
                background-color: $red-new;
                color: #fff;
            }

            &._info,
            &._trace {
                background-color: rgba($dark-new, 0.07);
            }

            &._status {
                text-transform: capitalize;
            }

            &.button__text {
                font-size: 12px;
                line-height: 1.42857;
            }
        }
    }

    &__tab {
        color: $medium-gray;
        font-size: 14.5px;
        font-weight: 500;
        text-transform: capitalize;
        &.md-active {
            color: $coal !important;
        }

        &-table {
            overflow: unset;
            height: auto;
            width: 100%;
            table-layout: fixed;

            &-wrapper {
                margin-bottom: 0;
                height: 100%;
                overflow: auto;
                padding-bottom: 10px !important;
            }

            &-col {
                font-size: 12px;
                line-height: 16px;
                word-wrap: break-word;

                &._start,
                &._visuals {
                    width: 80px;
                    text-align: center;
                }
                &._status {
                    width: 100px;
                    text-align: center;

                    & ._button-icon {
                        margin-left: 2px;
                        transform: translateY(2px);
                        font-size: 14px;
                    }
                }
                &._action {
                    width: auto;

                    a {
                        white-space: nowrap;
                    }
                }
                &._menu {
                    width: 40px;
                    text-align: center;
                    padding: 6px !important;
                }
                &._visuals .image-placeholder {
                    position: relative;
                    height: #{$line-height-base}em;

                    .material-icons {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            &-img {
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
                max-width: 66%;
                max-height: 29px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .md-button.md-icon-button {
                margin: auto;
            }
        }

        &-additional {
            position: relative;
            bottom: 0;

            table {
                margin: 16px 16px;
                padding-left: 33px;
                -webkit-padding-start: 33px;
                list-style: none;

                td {
                padding: 8px 8px 8px 0;
                color: $coal;
                font-size: 14.5px;

                    span{
                        font-weight: 500;
                    }
                }
            }

            &.__no-video {
                table {
                    margin-top: 5px;
                }
            }

            & .tab-additional__menu {
                .menu__button {
                    display: inline-block;
                    position: relative;
                    padding-left: 22px;

                    .button-text {
                        font-size: 14.5px;
                        line-height: 26px;
                        text-transform: capitalize;
                        vertical-align: top;

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 6px;
                            left: 0;
                            height: 12px;
                            width: 12px;
                            border-radius: 50%;
                        }

                        &._failed {
                            &::before {
                                background-color: #eb4554;
                            }
                        }

                        &._passed {
                            &::before {
                                background-color: #43c480;
                            }
                        }
                    }

                    .button-icon {
                        color: $dark-coal-new;
                        font-size: 20px;
                        transform: translateY(2px);
                    }
                }
            }
        }
        &-video {
            &-section {
                position: relative;
                h4 {
                    margin: 0;
                    padding: 18px 0 15px 16px;
                    font-size: 16px;
                    color: $dark;

                    span {
                        width: 12px;
                        height: 12px;
                        padding-top: -8px;

                        .red-point {
                            width: inherit;
                            top: -6px;
                        }
                    }
                }

                md-chips-wrap {
                    padding-left: 16px;
                    padding-bottom: 11px;
                    box-shadow: none !important;

                    md-chip {
                        background: $medium-gray;
                        color: #fff;

                        &.active {
                            background: $brand-primary;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            &-wrapper {
                margin: 0 16px 16px;
                background: #000;
                min-height: 465px;
                position: relative;
                top: 0;
                left: 0;
                display: flex;
                height: calc(100vh / 2);
                &.full-screen {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                }
                video {
                    height: calc(100vh / 2);
                    width: 100%;
                    min-height: 100%;
                    padding: 10px 8px;
                    position: absolute;
                }

                &._no-video {
                    margin-top: 9px;
                    display: block;

                    & .no-video__icon-wrapper {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);

                        & .icon {
                            display: block;
                            color: #fff;
                            font-size: 66px;
                            opacity: 0.5;
                            text-align: center;
                            position: relative;

                            &::before {
                                position: absolute;
                                display: block;
                                content: '';
                                top: 22px;
                                left: 38px;
                                height: 23px;
                                width: 28px;
                                border-radius: 2px;
                                opacity: 1;
                                background-color: #000;
                            }

                            &::after {
                                position: absolute;
                                display: block;
                                content: '';
                                top: 30px;
                                left: 21px;
                                height: 6px;
                                width: 70px;
                                transform: rotate(45deg);
                                opacity: 1;
                                background-color: #fff;
                            }
                        }

                        & .icon__text {
                            font-weight: 500;
                            color: #fff;
                            opacity: 0.5;
                        }
                    }

                    & .no-video__controls-wrapper {
                        position: absolute;
                        padding: 0 5%;
                        height: 30px;
                        width: 100%;
                        bottom: 40px;
                        display: flex;

                        & .controls {
                            color: #808080;

                            &._play{
                                flex: 0 0 32px;

                                & > span {
                                    font-size: 32px;
                                    transform: translate(-10px, -5px);
                                }
                            }

                            &._time {
                                flex: 1 1 auto;

                                & > span {
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }

                            &._fullscreen,
                            &._volume,
                            &._options {
                                flex: 0 1 20px;
                                margin-left: 5%;

                                & > span {
                                    font-size: 20px;
                                    text-align: end;
                                }
                            }
                        }

                        &._progress-bar {
                            height: 40px;
                            bottom: 0;
                            justify-content: center;

                            & .progress-bar {
                                width: 100%;
                                margin-top: 5px;
                                height: 4px;
                                background-color: #fff;
                                opacity: 0.5;
                                border-radius: 1px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        &__tab {
            &-video-section {
                border-left: 1px solid $custom-gray;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                height: auto;
                overflow: auto;
            }
            &-table-wrapper {
                table {
                    height: auto;
                    td, th {
                        padding: 10px !important;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        &__section {
            .history-tab {
                overflow: auto;
            }
        }
        &__tab {
            &-table {
                &-img-wrapper {
                    white-space: nowrap !important;
                    .log-wrapper {
                        line-height: 1;
                    }
                }
                &-wrapper {
                    height: auto !important;
                    overflow: visible;
                }
            }
            &-video {
                &-section {
                    border-bottom: 1px solid $custom-gray;
                }
                &-wrapper {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
    }

    @media screen and (max-width: 599px) {
        &__tab {
            &-table {
                display: block;

                thead,
                tbody {
                    display: block;
                }

                &-row {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                }

                &-col {
                    display: block;

                    &._start {
                        flex: 0 0 80px;
                    }
                    &._visuals {
                        flex: 1 1 80px;
                        order: 2;
                    }
                    &._status {
                        flex: 0 0 100px;
                        order: 1;
                    }
                    &._action {
                        flex: 1 1 100%;
                        order: 4;
                        max-width: 100%;

                        thead & {
                            display: none;
                        }
                    }
                    &._menu {
                        flex: 0 0 40px;
                        order: 3;
                    }
                }
            }
        }
    }
}

._status.dropdown-content {
    max-height: none;

    & .listitem__button {
        text-align: center;
    }
}

.tab-additional__menu-content {
    & .menu__item {
        & .item-text {
            text-transform: capitalize;
            position: relative;
            margin-left: 20px;

            &.passed {
                &::before {
                    background-color: #43c480;
                }
            }

            &.failed {
                &::before {
                    background-color: #eb4554;
                }
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                height: 12px;
                width: 12px;
                top: 3px;
                left: -22px;
                border-radius: 50%;
            }
        }
    }
}