@import '../../styles/global/var';
@import '../../styles/global/var-pages';

.p-integrations {
    md-chips .md-chips {
        box-shadow: none;
    }
    md-chips.filter-chip.custom-filter md-chips-wrap.md-chips {
        display: block;
    }
    .page {
    }
    @media screen and (max-width: $screen-phone) {
        .page {
            display: flex;
            flex-direction: column;
            padding: $header_height + 10px 0 0;
        }
    }
    md-fab-actions {
        .integration-tool__item-icon {
            margin-right: 0;
            margin-bottom: 3px;
        }
    }
}

.integration-tool {
    &__list {
        margin: 20px 0 0;
    }
    &__item {
        padding: 20px 30px;
        margin: 0;
        &-content {
            padding: 15px 0 0;
            border-radius: 0;
        }
        &-header {
            md-input-container {
                margin: 0 0 0 auto;
                width: auto;
            }
            md-switch {
                margin: 0;
                .md-container {
                    margin-right: 0;
                }
            }

        }
        &-title {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: #000;
        }
        &-loader {
            display: inline-block;

            path {
                stroke: currentColor
            }
        }
        &-footer {
            padding-bottom: 10px;
            .md-button {
                margin-left: 12px;
            }
        }
        &-icon {
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            margin-right: 10px;

            &.email {
                background-image: url(../../assets/images/_icons_tools/email.svg);
            }
            &.amazon {
                background-image: url(../../assets/images/_icons_tools/amazon_s3.svg);
            }
            &.google {
                background-image: url(../../assets/images/_icons_tools/google.svg);
            }
            &.jenkins {
                background-image: url(../../assets/images/_icons_tools/jenkins.svg);
            }
            &.jira {
                background-image: url(../../assets/images/_icons_tools/jira.svg);
            }
            &.ldap {
                background-image: url(../../assets/images/_icons_tools/ldap.svg);
            }
            &.rabbitmq {
                background-image: url(../../assets/images/_icons_tools/rabbitmq.svg);
            }
            &.slack {
                background-image: url(../../assets/images/_icons_tools/slack.svg);
            }
            &.selenium {
                background-image: url(../../assets/images/_icons_tools/selenium.svg);
            }
            &.qtest {
                background-image: url(../../assets/images/_icons_tools/qtest.svg);
            }
            &.testrail {
                background-image: url(../../assets/images/_icons_tools/testrail.svg);
            }
            &.zebrunner {
                background-image: url(../../assets/images/_icons_tools/zebrunner.svg);
            }
            &.browserstack {
                background-image: url(../../assets/images/_icons_tools/browserstack.svg);
            }
            &.mcloud {
                background-image: url(../../assets/images/_icons_tools/MCloud.svg);
            }
            &.saucelabs {
                background-image: url(../../assets/images/_icons_tools/saucelabs.svg);
            }
            &.aerokube {
                background-image: url(../../assets/images/_icons_tools/aerokube.svg);
            }
        }
        &-status {
            margin-left: 5px;
        }
        &-wrapper {
            padding: 0 10px 20px;
            &._new-tool {
                opacity: 1;
                visibility: visible;
                &, .integration-tool__item {
                    height: 100%;
                }
                &._hidden {
                    opacity: 0;
                    visibility: hidden;
                    padding: 0;
                    &:not(._mobile) {
                        max-width: 0;
                    }
                    &._mobile {
                        max-height: 0;
                    }
                }
            }
            @media screen and (max-width: $screen-phone) {
                &:last-of-type {
                    border-bottom: 0;
                }
                .card {
                    margin: 0;
                }

            }
        }
    }

    @media screen and (max-width: 959px) {
        &__item {
            padding-right: 20px;
            padding-left: 20px;
            &-wrapper {
                &:last-child,
                &:nth-last-child(2):nth-child(odd) {
                    padding-bottom: 0;
                }
            }
        }
    }

    @media screen and (max-width: 599px) {
        &__item {
            padding-right: 16px;
            padding-left: 16px;
            &-wrapper {
                padding: 0;
                border-bottom: 2px solid $main_container_bg;
                .large-card-content {
                    min-height: 0;
                }
                .card {
                    box-shadow: none;
                }
            }
        }
        &__list {
            margin: 0;
        }
    }
}
