<div>
    <zf-sub-header>
        <zf-sub-header-title>
            Integrations
            <small id="itemsCount">({{::$ctrl.tools.length}})</small>
        </zf-sub-header-title>
        <zf-sub-header-button>
            <div has-any-permission="['MODIFY_INTEGRATIONS']">
                <button class="fixed-page-header__btn _dashboard zf-header-button"  data-ng-really-message="Do you really want to regenerate encrypt key? All values will be reencrypted!" data-ng-really-click="regenerateKey()">
                    <md-icon class="material-icons">refresh</md-icon>
                    <span>Re-encrypt secrets</span>
                </button>
            </div>
        </zf-sub-header-button>
    </zf-sub-header>
    <div class="page page-dashboard">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 integration-tool__item-wrapper" data-ng-repeat="tool in ::$ctrl.tools track by tool.name">
                        <div class="card bg-white integration-tool__item" zafira-background-theme ng-show="!$ctrl.isLoading">
                            <div ng-class="{'large-card-content': tool.enabled}" class="card-content">
                                <i ng-class="{'highlight_red': !$ctrl.isToolConnected(tool.name) && tool.enabled, 'highlight_green': $ctrl.isToolConnected(tool.name) && tool.enabled, 'highlight_gray': !tool.enabled}"
                                   ng-if="!tool.connectionChecking"
                                   class="material-icons material-icon-16px integration-tool__item-icon">fiber_manual_record</i>
                                <md-progress-circular md-diameter="16px"
                                                      ng-if="tool.connectionChecking"
                                                      ng-class="{'highlight_red': !$ctrl.isToolConnected(tool.name) && tool.enabled, 'highlight_green': $ctrl.isToolConnected(tool.name) && tool.enabled, 'highlight_gray': !tool.enabled}"
                                                      class="integration-tool__item-loader"></md-progress-circular>
                                <span name="toolName" class="card-title">{{ ::tool.name }}</span>
                                <md-input-container has-any-permission="['MODIFY_INTEGRATIONS']" style="float: right; margin-top: 0">
                                    <md-switch name="toolEnabled" style="margin-top: 0" class="md-primary" ng-model="tool.enabled" ng-change="$ctrl.changeStatus(tool)" aria-label="integr-switch"></md-switch>
                                </md-input-container>
                                <div data-ng-if="tool.enabled" class="row col-lg-12" ng-repeat="setting in tool.settings track by setting.id">
                                    <div class="col-lg-11" style="padding: 0">
                                        <md-input-container class="md-block" style="margin-bottom: 0">
                                            <label name="settingNameLabel">{{ ::setting.name.replace(tool.name + '_', '') }}</label>
                                            <input name="settingName" type="text" ng-if="!setting.valueForEncrypting" ng-model="setting.value" ng-disabled="!tool.enabled || setting.notEditable" />
                                            <input name="settingName" type="password" ng-if="setting.valueForEncrypting" ng-model="setting.value" ng-disabled="!tool.enabled || setting.notEditable" autocomplete="new-password" />
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div has-any-permission="['MODIFY_INTEGRATIONS']" data-ng-if="tool.enabled" class="card-action integration-actions text-right" style="border-top: none;">
                                <md-button ng-if="tool.name === 'GOOGLE' || tool.name === 'CLOUD_FRONT'" ng-click="$ctrl.showUploadFileDialog($event, tool, $ctrl.FILE_TYPE_SETTINGS[tool.name]);" class="md-raised btn-w-md md-primary">
                                    Upload {{ ::$ctrl.FILE_TYPE_SETTINGS[tool.name].replace(tool.name + '_', '').split('_').join(' ')}}
                                </md-button>
                                <md-button ng-if="tool.name !== 'GOOGLE'" name="save" ng-click="$ctrl.saveTool(tool)" class="md-raised btn-w-md md-primary" ng-disabled="!tool.enabled">Save</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

