<md-dialog class="modal-default tutorials-modal" flex="50" aria-label="Zafira Help" zafira-background-theme="modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 id="modalTitle">
                Zafira Help
            </h2>
            <span flex></span>
            <md-button id="close" class="md-icon-button _default-md-style" data-ng-click="$ctrl.close()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="tutorials-modal__content">
        <tutorials-slider slides="$ctrl.tutorials" slide-index="$ctrl.currentSlideIndex"></tutorials-slider>

        <h2 class="tutorials-modal__title">{{ $ctrl.activeSlide.title }}</h2>
        <p class="tutorials-modal__description">{{ $ctrl.activeSlide.description }}</p>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
        <md-button has-any-permission="['MODIFY_DASHBOARDS']" id="delete" data-ng-if="! isNew && dashboard.editable" type="button" class="md-warn"
                    ng-disabled="dashboard_form.info.$invalid" data-ng-click="deleteDashboard(dashboard);">
            Delete
        </md-button>
            <md-button id="create" data-ng-if="isNew" type="submit" class="md-raised md-primary"
                    ng-disabled="dashboard_form.info.$invalid" data-ng-click="createDashboard(dashboard)">
            Create
        </md-button>
        <md-button id="save" data-ng-if="!isNew" type="submit" class="md-raised md-primary" ng-disabled="dashboard_form.info.$invalid" data-ng-click="updateDashboard(dashboard)">
            Save
        </md-button>
    </md-dialog-actions> -->
</md-dialog>
