<auth-component
    versions="$ctrl.versions"
    tenant-icon="$ctrl.application.tenantIcon">
    <form name="reset_form" class="md-form-login form-validation" ng-submit="$ctrl.resetPassword()">
        <fieldset>
            <md-input-container>
                <label class="placeholder-label">New password</label>
                <input type="password"
                    name="password"
                    required
                    ng-model="$ctrl.model.password"
                    ng-minlength="::$ctrl.validations.getValue('password', 'minlength')"
                    ng-maxlength="::$ctrl.validations.getValue('password', 'maxlength')"
                    ng-pattern="::$ctrl.validations.getValue('password', 'pattern')" />
                <div ng-messages="reset_form.password.$error" ng-if="reset_form.password.$dirty">
                    <div ng-repeat="validation in ::$ctrl.validations.getValidations('password')"
                        ng-message="{{ validation.name }}">
                        <span ng-if="validation.additional">
                            <md-tooltip md-direction="top">{{ validation.additional }}</md-tooltip>
                            {{ validation.message }}
                        </span>
                        <span ng-if="!validation.additional">{{ validation.message }}</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label class="placeholder-label">Confirm new password</label>
                <input type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                    required
                    ng-model="$ctrl.model.confirmPassword"
                    ng-minlength="$ctrl.validations.getValue('confirmPassword', 'minlength')"
                    ng-maxlength="$ctrl.validations.getValue('confirmPassword', 'maxlength')"
                    identical-to="$ctrl.model.password" />
                <div ng-messages="reset_form.confirmPassword.$error" ng-if="reset_form.confirmPassword.$dirty">
                    <div ng-repeat="validation in ::$ctrl.validations.getValidations('confirmPassword')"
                        ng-message="{{validation.name}}">
                        <span ng-if="validation.additional">
                            <md-tooltip md-direction="top">{{ validation.additional }}</md-tooltip>
                            {{ validation.message }}
                        </span>
                        <span ng-if="!validation.additional">{{ validation.message }}</span>
                    </div>
                </div>
            </md-input-container>
            <div class="comment text-center text-small">
                <!-- Text for this new password page -->
            </div>
        </fieldset>
        <div class="card-action no-border text-right">
            <md-button type="submit"
                class="md-raised"
                ng-disabled="reset_form.$invalid">Apply</md-button>
        </div>
    </form>
</auth-component>
