<md-dialog class="modal-default dashboard-dialog" ng-class="{'__new-dialog': isNew, '__editable-dashboard': dashboard.editable}" flex="50" aria-label="Dashboard settings" zafira-background-theme="modal">
    <form class="form-validation" novalidate name="dashboard_form" ng-submit="UtilService.untouchForm(dashboard_form)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 id="modalTitle">
                    <span ng-if="isNew">
                        New dashboard
                    </span>
                    <span ng-if="! isNew">
                        Edit dashboard
                    </span>
                </h2>
                <span flex></span>
                <md-button id="close" class="md-icon-button _default-md-style" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content dashboard-dialog-container">
                <ng-form name="info" layout="row">
                    <md-input-container>
                        <label class="placeholder-label">Name</label>
                        <input type="text" name="title" data-ng-model="dashboard.title" ng-change="checkDuplicateDashboardTitle(dashboard.title, dashboard_form.info)" autofocus="true" ng-required="true" ng-disabled="!isNew && !dashboard.editable">
                        <div ng-messages="dashboard_form.info.$error" role="alert" ng-if="dashboard_form.info.$dirty">
                            <div ng-message="required">Title required</div>
                            <div ng-message="duplicateKey">Duplicate title forbidden</div>
                        </div>
                    </md-input-container>
                    <div class="dashboard-dialog-container_hidden" has-any-permission="['VIEW_HIDDEN_DASHBOARDS']">
                        <div class="dashboard-dialog-container_hidden_label">Hidden</div>
                        <md-switch class="md-primary" ng-model="dashboard.hidden" ng-change="!dashboard.hidden" ng-required aria-label="integr-switch" ng-disabled="!isNew && !dashboard.editable"></md-switch>
                    </div>
                </ng-form>
                <div class="dashboard-attributes-items-container">
                        <md-chips class="dashboard-attributes-items-container_chips" ng-model="dashboard.attributes" md-on-remove="deleteAttribute($chip)" md-removable="true" readonly="true">
                            <md-chip-template>
                                <div class="dashboard-attributes-items-container_chips_template" ng-click="">
                                    <span>{{$chip.key}} = {{$chip.value}}</span>
                                </div>
                                <div class="md-chip-remove-container ng-scope" tabindex="-1">
                                    <button md-chip-remove class="md-primary md-chip-remove filter-slice-chip-button ng-scope" tabindex="-1" aria-hidden="true">
                                        <md-icon aria-label="Close dialog" class="material-icons" role="img">close</md-icon>
                                    </button>
                                </div>
                            </md-chip-template>
                        </md-chips>
                    </div>
            </div>
            <div class="md-dialog-content dashboard-dialog-attributes--container" data-ng-if="!isNew">
                <ng-form name="attributes">
                    <div class="dashboard-attributes-container" layout="row">
                        <md-input-container class="dashboard-attributes-container_key _gray-bg">
                            <label>Key</label>
                            <input type="text" ng-change="checkDuplicateAttributeKey(newAttribute.key, dashboard_form.attributes);" data-ng-model="newAttribute.key" ng-required="true"/>
                            <div ng-messages="dashboard_form.attributes.$error">
                                <div ng-message="duplicateKey">Duplicate key forbidden</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="dashboard-attributes-container_value _gray-bg">
                            <label>Value</label>
                            <input type="text" data-ng-model="newAttribute.value" ng-required="true"/>
                        </md-input-container>
                        <div class="dashboard-attributes-container_add-button">
                            <md-button type="submit" class="md-raised" data-ng-click="createAttribute(newAttribute, dashboard_form.attributes);" data-ng-disabled="dashboard_form.attributes.$invalid">ADD</md-button>
                        </div>
                    </div>
                </ng-form>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button has-any-permission="['MODIFY_DASHBOARDS']" id="delete" data-ng-if="! isNew && dashboard.editable" type="button" class="md-warn"
                       ng-disabled="dashboard_form.info.$invalid" data-ng-click="deleteDashboard(dashboard);">
                Delete
            </md-button>
             <md-button id="create" data-ng-if="isNew" type="submit" class="md-raised md-primary"
                       ng-disabled="dashboard_form.info.$invalid" data-ng-click="createDashboard(dashboard)">
                Create
            </md-button>
            <md-button id="save" data-ng-if="!isNew" type="submit" class="md-raised md-primary" ng-disabled="dashboard_form.info.$invalid" data-ng-click="updateDashboard(dashboard)">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
