<div class="page-wrapper">
    <zf-sub-header>
        <zf-sub-header-title>
            Users
        </zf-sub-header-title>
        <zf-sub-header-options>
            <md-input-container class="_search">
                <label class="placeholder-label">Search</label>
                <input type="text" ng-model="$ctrl.sc.query" ng-model-options="{debounce: 700}" ng-change="$ctrl.search();" autocomplete="off"/>
                <md-icon class="input-search-icon">search</md-icon>
                <md-icon class="input-close-icon" ng-click="$ctrl.reset()">close</md-icon>
            </md-input-container>
        </zf-sub-header-options>
        <zf-sub-header-button>
            <button class="fixed-page-header__btn zf-primary-button" ng-click="$ctrl.showCreateUserDialog($event)" has-any-permission="['MODIFY_USERS']">
                <md-icon class="material-icons">add</md-icon>
                <span>New user</span>
            </button>
        </zf-sub-header-button>
    </zf-sub-header>
    <div class="page user-view-page">
        <div class="ui-section">
            <div class="user-view-page__search-header">
                <div class="user-view-page__search-input">
                    <md-icon class="search-icon">search</md-icon>
                    <input type="text" class="form-control"
                            placeholder="Search items" ng-model-options="{debounce: 700}" ng-model="$ctrl.sc.query" ng-change="$ctrl.search();" aria-label="Search items">
                    <md-icon class="close-icon" ng-click="$ctrl.reset();">close</md-icon>
                </div>
            </div>
            <div ng-cloak>
                <article class="article">
                    <md-card class="no-margin-h">
                        <div>
                            <md-table-container>
                                <table class="table-hover users-table" md-table zafira-background-theme="table">
                                    <thead md-head style="position: parent;">
                                        <tr md-row>
                                            <th md-column>ID</th>
                                            <th md-column>Username</th>
                                            <th md-column>Email</th>
                                            <th md-column>First/Last name</th>
                                            <th md-column>Status</th>
                                            <th md-column>Source</th>
                                            <th md-column class="no-padding">Registration date</th>
                                            <th md-column></th>
                                        </tr>
                                    </thead>
                                    <tbody md-body name="usersTable">
                                        <tr md-row ng-repeat="user in $ctrl.sr.results">
                                            <td data-title="ID" md-cell>
                                                <profile-photo name="userPhoto" squared="15" ng-model="user.photoURL" size="34" class="grey-icon desktop-only" label="#{{::user.id}}"></profile-photo>
                                                <span class="mobile-only">{{::user.id}}</span>
                                            </td>
                                            <td data-title="Username" md-cell>
                                                <b name="userUsername">{{user.username}}</b>
                                            </td>
                                            <td data-title="Email" name="userEmail" md-cell>{{user.email}}</td>
                                            <td data-title="First/Last name" name="userFirstLastName" md-cell>{{user.firstName}} {{user.lastName}}</td>
                                            <td data-title="Status" md-cell>
                                                <span name="status" ng-class="{'text-success': user.status == 'ACTIVE', 'text-error': user.status == 'INACTIVE'}" class="label">{{ user.status}}</span>
                                            </td>
                                            <td data-title="Source" md-cell>
                                                <span name="status" class="label black_font">{{::user.source}}</span>
                                            </td>
                                            <td data-title="Registration date" md-cell style="padding-right: 0;">
                                                <div>
                                                    <span name="userCreated">{{::user.createdAt | date}}</span>
                                                    <span class="time" data-ng-if="user.lastLogin">last login <time name="lastLogin" am-time-ago="user.lastLogin" title="{{ main.time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time></span>
                                                    <span class="time" data-ng-if="!user.lastLogin">never logged in</span>
                                                </div>
                                            </td>
                                            <td md-cell>
                                                <md-menu class="pull-right">
                                                    <md-button name="userMenu" aria-label="User settings" class="md-icon-button"
                                                               data-ng-click="$mdMenu.open($event);">
                                                        <md-icon class="material-icons">more_vert</md-icon>
                                                    </md-button>
                                                    <md-menu-content width="2">
                                                        <md-menu-item has-any-permission="['MODIFY_USERS']">
                                                            <md-button name="userEdit" data-ng-click="$ctrl.showEditProfileDialog($event, user, $index)">
                                                                <md-icon class="material-icons">settings</md-icon>
                                                                Edit
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item ng-if="user.source == 'INTERNAL'" has-any-permission="['MODIFY_USERS']">
                                                            <md-button name="userChangePassword" data-ng-click="$ctrl.showChangePasswordDialog($event, user, false)">
                                                                <md-icon class="material-icons">lock_outline</md-icon>
                                                                Change password
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item ng-if="$ctrl.currentUser.pefrDashboardId">
                                                            <md-button name="userPerformance" ui-sref="dashboard.page({ dashboardId: {{$ctrl.currentUser.pefrDashboardId}}, userId:{{user.id}} })" style="padding-top: 12px">
                                                                <md-icon class="material-icons">timeline</md-icon>
                                                                Performance
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </td>
                                        </tr>
                                        <tr md-row data-ng-if="$ctrl.sr.results.length == 0">
                                            <td id="noData" md-cell colspan="8" class="text-center">No users</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <md-table-pagination id="pagination" zafira-background-theme="pagination" ng-if="$ctrl.sr.results.length != 0"
                                                 md-limit="$ctrl.sc.pageSize" md-limit-options=false md-page="$ctrl.sc.page" md-total="{{$ctrl.sr.totalResults}}"
                                                 md-page-select=false md-boundary-links=true md-on-paginate="$ctrl.search"></md-table-pagination>
                        </div>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>
