.search-modal{
    &__content {
        padding: 24px 16px 20px;

        md-input-container {
            margin-top: 0;
            margin-bottom: 24px;
        }
        .reviewed {
            margin-right: 12px;
        }
        .date-picker-container {
            width: 100%;

            i.material-icons {
                display: inline-block;
                position: absolute;
                right: 8px;
                top: 9px;
                font-size: 20px;
            }
        }
    }

    &__input-wrapper {
        position: relative;
        margin: 0 0 24px 0;
        font-weight: normal;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
