<md-dialog flex="50" class="tests-runs-search__modal" aria-label="User profile" zafira-background-theme="modal" class="modal-min-width">
    <div class="tests-runs-search__modal__wrapper">
        <div class="md-toolbar-tools">
            <h2>Parameters</h2>
            <span flex></span>
            <md-button id="close" class="md-icon-button" ng-click="$ctrl.closeModal()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
        <md-dialog-content>
            <div class="tests-runs-search__bottom-section">
                <div layout="column" class="tests-runs-search__helpers search-fields _main">
                    <div layout="row">
                        <button class="quadro-btn reviewed" data-ng-class="{'label-blank': !$ctrl.searchParams.reviewed, 'label-primary': !!$ctrl.searchParams.reviewed}"
                            ng-click="$ctrl.searchParams.reviewed = !$ctrl.searchParams.reviewed; $ctrl.onChangeSearchCriteria()">R
                        <md-tooltip ng-if="!$ctrl.isMobile()" md-direction="bottom">Reviewed</md-tooltip>
                        </button>
                        <md-input-container class="no-padding" flex="grow">
                            <md-select id="searchStatus" ng-model="$ctrl.searchParams.status" class="form-fields__select" ng-change="$ctrl.onChangeSearchCriteria()" name="status" placeholder="Status">
                                <md-option value="">None</md-option>
                                <md-option ng-repeat="status in ::$ctrl.statuses" ng-value="::status">{{ status }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container flex="grow" class="no-padding">
                        <md-select id="searchEnv" ng-model="$ctrl.searchParams.environment" class="form-fields__select"
                                    ng-change="$ctrl.onChangeSearchCriteria()"
                                    name="environment" placeholder="Environment">
                            <md-option value="">None</md-option>
                            <md-option ng-repeat="env in $ctrl.environments" ng-value="env">{{env}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="grow" class="no-padding">
                        <md-select id="searchPlatform" ng-model="$ctrl.searchParams.platform" class="form-fields__select" name="platform" placeholder="Platform" ng-change="$ctrl.onChangeSearchCriteria()">
                            <md-option value="">None</md-option>
                            <md-option ng-repeat="platform in $ctrl.platforms" ng-value="platform">{{platform}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="none end" layout-align-sm="space-between end" class="tests-runs-search__helpers search-fields _additional" layout-xs="column">
                    <md-input-container class="date-picker-container form-fields__input" flex="grow" flex-sm="33" flex-xs="100">
                        <span data-ng-if="!$ctrl.selectedRange.dateStart && !$ctrl.selectedRange.dateEnd">Date</span>
                        <span data-ng-if="$ctrl.selectedRange.dateStart && $ctrl.selectedRange.dateEnd && !$ctrl.isEqualDate()">{{$ctrl.selectedRange.dateStart | date : 'dd MMM'}} - </span>
                        <span>{{$ctrl.selectedRange.dateEnd | date : 'dd MMM'}}</span>
                        <i class="material-icons">date_range</i>
                        <md-button id="searchCalendar" ng-click="$ctrl.openDatePicker($event, true)"></md-button>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button class="tests-runs-search__reset-btn md-button md-ink-ripple pull-right" type="button" ng-click="$ctrl.onModalReset();"><span>RESET</span></button>
            <button class="tests-runs-search__apply-btn md-button md-ink-ripple pull-right" type="button" ng-click="$ctrl.onModalApply();"><span>APPLY</span></button>
        </md-dialog-actions>
    </div>  
</md-dialog>