<md-dialog flex="50" class="search-modal main-modal modal-min-width" aria-label="Tests runs modal" zafira-background-theme="modal">
    <div class="main-modal__wrapper">
        <md-button id="close" class="md-icon-button main-modal__close-btn" ng-click="$ctrl.closeModal()">
            <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
        <md-dialog-content>
            <div class="main-modal__header">
                <h2 class="main-modal__header-text">Parameters</h2>
            </div>
            <div class="search-modal__content main-modal__content">
                <div layout="column" class="search-fields">
                    <div layout="row">
                        <md-input-container class="search-modal__input-wrapper _with-icon _without-animation">
                            <label class="placeholder-label">Search items</label>
                            <input ng-model-options="{debounce: 700}"
                                    ng-model="$ctrl.searchParams.query"
                                    ng-change="$ctrl.onChangeSearchCriteria()"
                                    aria-label="Search items"
                                    aria-describedby="basic-addon2">
                            <i class="material-icons">
                                search
                            </i>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <button class="quadro-btn reviewed" data-ng-class="{'label-blank': !$ctrl.searchParams.reviewed, 'label-primary': !!$ctrl.searchParams.reviewed}"
                                ng-click="$ctrl.searchParams.reviewed = !$ctrl.searchParams.reviewed; $ctrl.onChangeSearchCriteria()">R
                        </button>
                        <md-input-container class="no-padding without-animation" flex="grow">
                            <md-select id="searchStatus" ng-model="$ctrl.searchParams.status" ng-change="$ctrl.onChangeSearchCriteria()" name="status" placeholder="Status">
                                <md-option value="">None</md-option>
                                <md-option ng-repeat="status in ::$ctrl.statuses" ng-value="::status">{{ status }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container flex="grow" class="no-padding without-animation">
                        <md-select id="searchEnv" ng-model="$ctrl.searchParams.environment"
                                    ng-change="$ctrl.onChangeSearchCriteria()"
                                    name="environment" placeholder="Environment">
                            <md-option value="">None</md-option>
                            <md-option ng-repeat="env in $ctrl.environments" ng-value="env">{{env}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="grow" class="no-padding without-animation">
                        <md-select id="searchPlatform" ng-model="$ctrl.searchParams.platform" name="platform" placeholder="Platform" ng-change="$ctrl.onChangeSearchCriteria()">
                            <md-option value="">None</md-option>
                            <md-option ng-repeat="platform in $ctrl.platforms" ng-value="platform">{{platform}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="none end" layout-align-sm="space-between end" class="search-fields" layout-xs="column">
                    <md-input-container class="date-picker-container" flex="grow" flex-sm="33" flex-xs="100">
                        <span data-ng-if="!$ctrl.selectedRange.dateStart && !$ctrl.selectedRange.dateEnd">Date</span>
                        <span data-ng-if="$ctrl.selectedRange.dateStart && $ctrl.selectedRange.dateEnd && !$ctrl.isEqualDate()">{{$ctrl.selectedRange.dateStart | date : 'dd MMM'}} - </span>
                        <span>{{$ctrl.selectedRange.dateEnd | date : 'dd MMM'}}</span>
                        <i class="material-icons">date_range</i>
                        <md-button id="searchCalendar" ng-click="$ctrl.openDatePicker($event, true)"></md-button>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-raised pull-right" type="button" ng-click="$ctrl.onModalReset();"><span>RESET</span></md-button>
            <md-button class="md-raised md-primary pull-right" type="button" ng-click="$ctrl.onModalApply();"><span>APPLY</span></md-button>
        </md-dialog-actions>
    </div>  
</md-dialog>