<div id="search" class="md-row tests-runs-filter__search" ng-hide="$ctrl.isMobile() && !$ctrl.isMobileSearchActive"
    ng-class="{ '_mobile': $ctrl.isMobile() }">
    <div class="tests-runs-filter__search-panel">
        <div ng-show="$ctrl.fastSearchBlockExpand" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
            <div id="search-header" ng-if="$ctrl.isMobile()" class="tests-runs-filter__search-panel-body" flex="auto">
                <div class="tests-runs-filter__search-panel-body _row-wrapper">
                    <div ng-class="{'disable-layer': $ctrl.isFilterActive()}"></div>
                    <input type="text" id="search-input" class="form-control pull-left" placeholder="Search items"
                        ng-model="$ctrl.searchParams.query" ng-model-options="{debounce: 700}" ng-change="$ctrl.onChangeSearchCriteria('query')"
                        ng-model-options="{debounce: 500}" aria-label="Search items" aria-describedby="basic-addon2">
                    <div class="search-wrapper" role="button" ng-if="$ctrl.isMobile()">
                        <i class="material-icons">
                            search
                        </i>
                    </div>
                </div>
            </div>
            <div id="search-select" class="tests-runs-filter__search-select" layout="row" layout-md="column" layout-sm="column"
                layout-xs="column">
                <div ng-class="{'disable-layer': $ctrl.isFilterActive()}"></div>
                <div id="search-container" flex="auto" layout="row">
                    <ng-transclude></ng-transclude>
                    <div layout="row" flex="auto" layout-xs="column">
                        <input type="text" id="search-input" ng-if="!$ctrl.isMobile()" class="form-control pull-left"
                            placeholder="Search items" ng-model-options="{debounce: 700}" ng-model="$ctrl.searchParams.query"
                            ng-change="$ctrl.onChangeSearchCriteria('query')" ng-model-options="{debounce: 200}" aria-label="Search items"
                            aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="row-wrapper" layout="row" layout-sm="column" layout-xs="column">
                    <div layout="row" class="search-fields _main" layout-xs="column">
                        <div layout="row">
                            <button class="quadro-btn pull-left reviewed" data-ng-class="{'label-blank': !$ctrl.searchParams.reviewed, 'label-primary': !!$ctrl.searchParams.reviewed}"
                                ng-click="$ctrl.searchParams.reviewed = !$ctrl.searchParams.reviewed; $ctrl.onChangeSearchCriteria('reviewed')">R
                                <md-tooltip md-direction="bottom">Reviewed</md-tooltip>
                            </button>
                            <md-input-container class="searchable select pull-left no-padding" flex="nogrow">
                                <md-select id="searchStatus" ng-change="$ctrl.onChangeSearchCriteria('status')"
                                    ng-model="$ctrl.searchParams.status" name="status" placeholder="Status">
                                    <md-option value="">None</md-option>
                                    <md-option ng-repeat="status in ::$ctrl.statuses" ng-value="::status">{{ status }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-input-container class="searchable select pull-left no-padding no-margin-l" flex="grow">
                            <md-select id="searchEnv" ng-change="$ctrl.onChangeSearchCriteria('environment')" ng-model="$ctrl.searchParams.environment"
                                name="environment" placeholder="Environment">
                                <md-option value="">None</md-option>
                                <md-option ng-repeat="env in $ctrl.environments" ng-value="env">{{env}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="searchable select selectPlatform pull-left" flex="grow">
                            <md-select id="searchPlatform" ng-change="$ctrl.onChangeSearchCriteria('platform')"
                                ng-model="$ctrl.searchParams.platform" name="platform" placeholder="Platform">
                                <md-option value="">None</md-option>
                                <md-option ng-repeat="platform in $ctrl.platforms" ng-value="platform">{{platform}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="none end" class="search-fields _additional">
                        <md-input-container class="date-picker-container pull-left" flex="grow">
                            <span data-ng-if="!$ctrl.selectedRange.dateStart && !$ctrl.selectedRange.dateEnd">Date</span>
                            <span data-ng-if="$ctrl.selectedRange.dateStart && $ctrl.selectedRange.dateEnd && !$ctrl.isEqualDate()">{{$ctrl.selectedRange.dateStart | date : 'dd MMM'}} - </span>
                            <span>{{$ctrl.selectedRange.dateEnd | date : 'dd MMM'}}</span>
                            <md-button id="searchCalendar" ng-click="$ctrl.openDatePicker($event, true)">
                            </md-button>
                        </md-input-container>
                        <button id="reset" class="search-reset-btn md-button md-raised md-warn md-ink-ripple pull-right" type="button" ng-click="$ctrl.onReset();"><span>RESET</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
