<form name="launcher_form">
    <zf-modal modal-class="ci-runner" class="ci-runner-container">
        <zf-modal-helper-container class="ci-runner-container_helper" ng-show="! isMobile || cardNumber === 0">
            <div class="ci-runner-container_helper_title hide-phone">
                <span>Launcher</span>
                <button type="button" ng-click="addRepo();" has-any-permission="['MODIFY_LAUNCHERS']" class="zf-primary-button">
                    <i class="material-icons">add</i>
                    <span>ADD REPO</span>
                </button>
            </div>
            <div class="ci-runner-container_helper_title show-phone">Choose template</div>
            <div class="ci-runner-container_helper_search">
                <md-input-container class="no-margin _search">
                    <label>Search template</label>
                    <input type="text" name="search" ng-model="filerSc.name" ng-model-options="{debounce: 700}" ng-change="onFilterSearchChange(filerSc.name)" autocomplete="off"/>
                    <md-icon class="input-search-icon">search</md-icon>
                    <md-icon class="input-close-icon" ng-click="onFilterSearchChange(filerSc.name = '')">close</md-icon>
                </md-input-container>
            </div>
            <div class="ci-runner-container_helper_section">
                <ul class="folder-container folder-container-{{scmAccount.id}}" ng-repeat="scmAccount in scmAccounts | orderBy: 'repositoryName' track by scmAccount.id">
                    <li class="folder-container_folder">
                        <i class="material-icons folder-container_folder_icon hide-phone" ng-click="switchFolder($event)">arrow_drop_down</i>
                        <span has-any-permission="['MODIFY_LAUNCHERS']">
                            <i class="material-icons folder-container_folder_icon_settings hide-phone" ng-click="manageFolder(scmAccount)">settings</i>
                        </span>
                        <div class="folder-container_folder_name hide-phone" ng-click="switchFolder($event)">{{scmAccount.repositoryName}}</div>
                        <div class="folder-container_folder_name show-phone" ng-click="switchFolderMobile($event, scmAccount.id)">{{scmAccount.repositoryName}}</div>
                    </li>
                    <li class="folder-container_item">
                        <ul class="folder-container_item_list">
                            <li class="folder-container_item_list_item hide-phone launcher-{{launcher.id}}" ng-click="chooseLauncher(launcher)" ng-repeat="launcher in scmAccount.launchers | orderBy: 'name' | filter: filerSc track by launcher.id">
                                <md-icon class="folder-container_item_list_item_icon" ng-if="! launcher.autoScan" md-svg-src="../../../assets/images/launcher_manual.svg"></md-icon>
                                {{launcher.name}}
                            </li>
                            <li class="folder-container_item_list_item show-phone launcher-{{launcher.id}}" ng-click="selectLauncher(launcher)" ng-repeat="launcher in scmAccount.launchers | orderBy: 'name' | filter: filerSc track by launcher.id">
                                <md-icon class="folder-container_item_list_item_icon" ng-if="! launcher.autoScan" md-svg-src="../../../assets/images/launcher_manual.svg"></md-icon>
                                {{launcher.name}}
                            </li>
                            <li ng-if="! scmAccount.launchers" class="folder-container_item_list_item-empty">
                                No templates added
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="! scmAccounts.length" class="folder-container-empty">
                    No repositories added
                </ul>
                <!--<div> &lt;!&ndash;do scrollable&ndash;&gt;
                    <div ng-repeat="l in launchers | orderBy:'name' track by l.id" class="ci-runner-container_helper_section_item show-phone" ng-class="{'ci-runner-container_helper_section_item_selected': launcher.id === l.id}">
                        <div ng-click="chooseLauncher(l);" class="ci-runner-container_helper_section_item_container hide-phone">
                            {{l.name}}
                        </div>
                        <div ng-click="chooseLauncherPhone(l);" class="ci-runner-container_helper_section_item_container show-phone">
                            {{l.name}}
                        </div>
                        <i ng-click="editLauncher(l);" has-any-permission="['MODIFY_LAUNCHERS']" class="material-icons hide-phone">edit</i>
                    </div>
                </div>-->
            </div>
            <div class="ci-runner-container_content_actions show-phone">
                <md-button class="md-raised md-primary pull-right" ng-click="chooseLauncherPhone(launcher);"
                           ng-disabled="! launcher.id">
                    Next
                </md-button>
            </div>
        </zf-modal-helper-container>
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="needServer && cardNumber !== 0 && !scmAccount.launchers">
            <ng-form name="info">
                <div class="ci-runner-container_content_block _server-selection">
                    <zf-radio-button class="selection-blocks_container_elements_item" on-change="onChange(server);" ng-repeat="server in servers track by server.id" ng-model="currentServerId" value="server">
                        <zf-radio-button-body>
                            <div class="selection-blocks_container_elements_item_container">
                                <div class="selection-blocks_container_elements_item_container_title"><show-part text="::server.name" limit="50"></show-part></div>
                                </div>
                                <div class="selection-blocks_container_elements_item_icon" ng-switch="::server.type.name">
                                    <md-icon ng-switch-when="JENKINS" md-svg-src="../../../assets/images/_icons_tools/jenkins.svg"></md-icon>
                                </div>
                        </zf-radio-button-body>
                    </zf-radio-button>
                </div>
            </ng-form>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="cardNumber === 1 && !needServer">
            <ng-form name="info">
                <div class="ci-runner-container_content_block">
                    <div class="ci-runner-container_content_block_title">
                        Add repository to work with
                    </div>
                    <div class="ci-runner-container_content_scm-connector_items_add">
                        <md-input-container>
                            <label>Organization</label>
                            <md-select ng-model="scmAccount.organization" ng-change="getRepositories();" ng-disabled="! organizations.length">
                                <md-option ng-repeat="organization in organizations track by $index" ng-value="organization">
                                    {{organization.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Repository</label>
                            <md-select ng-model="scmAccount.repository" ng-disabled="! repositories.length">
                                <md-option ng-repeat="repository in repositories track by $index" ng-value="repository">
                                    {{repository.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-raised" md-no-ink ng-click="addScmAccount(scmAccount);" ng-disabled="! scmAccount.organization || !scmAccount.repository">
                            Add
                        </md-button>
                    </div>
                </div>
            </ng-form>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-class="{'__info-edit-mode': launcher.id}" ng-if="cardNumber === 2 && (!needServer || scmAccount.launchers)">
            <ng-form ng-if="! launcher.id" name="scanInfo">
                <div class="ci-runner-container_content_block">
                    <div ng-if="scmAccount.id" class="ci-runner-container_content_block_title __ci-runner-lg-title __scan-repo">
                        <span>{{scmAccount.repositoryName}}</span>
                    </div>
                    <div class="ci-runner-container_content_block_title">
                        Select branch to add templates
                    </div>
                    <div class="ci-runner-container_content_launcher-add ci-runner-container_inline-input">
                        <md-input-container class="_gray-bg">
                            <label class="placeholder-label">Branch</label>
                            <input type="text" ng-model="launcherScan.branch" autofocus ng-required="true" />
                        </md-input-container>
                        <md-button class="md-raised" md-no-ink ng-click="scanRepository(launcherScan)" ng-if="! hasAutoScannedLaunchers(scmAccount.launchers)" ng-disabled="launcher_form.scanInfo.$invalid">
                            SCAN
                        </md-button>
                        <md-button class="md-raised" md-no-ink ng-click="scanRepository(launcherScan, true)" ng-if="hasAutoScannedLaunchers(scmAccount.launchers)" ng-disabled="launcher_form.scanInfo.$invalid">
                            RE-SCAN
                        </md-button>
                    </div>
                </div>
            </ng-form>
            <div ng-if="! launcher.id" class="divider"></div>
            <ng-form name="manualInfo">
                <div class="ci-runner-container_content_block __lancher-add">
                    <div ng-if="! launcher.id" class="ci-runner-container_content_block_title">
                        <span>Add template manually</span>
                    </div>
                    <div ng-if="launcher.id" class="ci-runner-container_content_block_title __ci-runner-lg-title">
                        <span ng-if="launcher.id">{{launcher.name}}</span>
                    </div>
                    <div class="ci-runner-container_content_manual-launcher-add ci-runner-container_inline-input">
                        <md-input-container class="_gray-bg">
                            <label class="placeholder-label">Name</label>
                            <input type="text" ng-model="launcher.name" />
                        </md-input-container>
                    </div>
                    <div class="ci-runner-container_content_code" ng-cloak>
                        <md-input-container class="no-margin">
                            <div id="aceEditor" required class="ci-runner-container_content_code_editor" ui-ace="{{aceOptions}}" ng-model="launcher.model"></div>
                            <md-input-container class="no-margin">
                                <label>Platform</label>
                                <md-select ng-change="mergeTemplate(DEFAULT_TEMPLATES.model.json);" ng-model="DEFAULT_TEMPLATES.model">
                                    <md-option ng-repeat="dt in DEFAULT_TEMPLATES.variants track by $index" ng-value="dt">{{dt.name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </md-input-container>
                    </div>
                </div>
                <div class="ci-runner-container_content_actions">
                    <md-button ng-really-click="deleteRepository(launcher.scmAccountType.id);" ng-really-message="Do you really want to delete repository?" class="md-warn" ng-if="scmAccount.id && ! launcher.id">
                        DELETE REPO
                    </md-button>
                    <md-button ng-really-click="deleteLauncher(launcher.id);" ng-really-message="Do you really want to delete template?" class="md-warn" ng-if="launcher.id">
                        DELETE
                    </md-button>
                    <md-button ng-click="cancelLauncher();" ng-if="launcher.id">
                        CANCEL
                    </md-button>
                    <md-button class="md-raised md-primary pull-right" ng-click="addLauncher(launcher);" ng-if="! launcher.id" ng-disabled="!launcher.name || !launcher.model">
                        ADD
                    </md-button>
                    <md-button class="md-raised md-primary pull-right" ng-click="updateLauncher(launcher);" ng-if="launcher.id" ng-disabled="!launcher.name || !launcher.model">
                        SAVE
                    </md-button>
                </div>
            </ng-form>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content" ng-if="cardNumber === 3 || cardNumber === 4" ng-show="launcher">
            <div class="ci-runner-container_content_title __ci-runner-lg-title">
                <show-part class="hide-phone" text="launcher.name" limit="40"></show-part>
                <show-part class="show-phone" text="launcher.name" limit="20"></show-part>
                <div class="ci-runner-container_content_title_action">
                    <i ng-click="toEditLauncher(launcher);" has-any-permission="['MODIFY_LAUNCHERS']" class="material-icons hide-phone">edit</i>
                </div>
            </div>
            <div class="ci-runner-container_content_builder zf-display-table">
                <div class="ci-runner-container_content_builder_container builder-{{builtLauncher.type[key]}}" ng-repeat="(key, item) in jsonModel track by $index">
                    <div class="zf-label">
                        <show-part text="key" limit="30">
                            <md-tooltip md-direction="top">{{key}}</md-tooltip>
                        </show-part>
                    </div>
                    <div class="ci-runner-container_content_builder_container_item" ng-if="['string', 'int'].indexOf(builtLauncher.type[key]) !== -1">
                        <md-input-container class="_gray-bg no-margin">
                            <label>{{key}}</label>
                            <input type="number" ng-if="builtLauncher.type[key] === 'int'" ng-model="builtLauncher.model[key]"/>
                            <input type="text" ng-if="builtLauncher.type[key] !== 'int'" ng-model="builtLauncher.model[key]"/>
                        </md-input-container>
                    </div>
                    <div class="ci-runner-container_content_builder_container_item" ng-if="builtLauncher.type[key] === 'array'">
                        <md-input-container class="no-margin _gray-bg">
                            <label>{{key}}</label>
                            <md-select ng-model="builtLauncher.model[key]">
                                <md-option ng-repeat="val in item" ng-value="val">
                                    {{val}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="ci-runner-container_content_builder_container_item" ng-if="builtLauncher.type[key] === 'boolean'">
                        <md-checkbox ng-model="builtLauncher.model[key]" aria-label="checkbox"></md-checkbox>
                    </div>
                </div>
            </div>
            <div class="ci-runner-container_content_actions">
                <md-button ng-click="cancelLauncher();" class="md-raised" ng-if="cardNumber === 2">
                    Cancel
                </md-button>
                <md-button class="md-raised" ng-click="navigateBack();" ng-if="cardNumber === 3 && isMobile">
                    Back
                </md-button>
                <md-button class="md-raised md-primary pull-right" ng-click="build(launcher);" ng-disabled="! launcher.job.jobURL" ng-if="cardNumber === 2 || cardNumber === 3">
                    Launch
                </md-button>
                <div ng-if="! launcher.job.jobURL" class="ci-runner-container_content_actions_error">Launcher job is not configured, contact admin.</div>
            </div>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="cardNumber === 0">
            <div class="ci-runner-container_content_title no-data">
                <span ng-if="! scmAccounts.length">
                    <div>There is nothing to launch:(</div>
                    <div>Add repository to start.</div>
                </span>
                <span ng-if="scmAccounts.length">
                    <div>Choose template to launch.</div>
                </span>
            </div>
        </zf-modal-content-container>
        <md-icon class="close-button" ng-click="cancel()" aria-label="Close dialog">close</md-icon>
        <div class="ci-runner-container_loader" ng-if="launcherLoaderStatus.started || launcherLoaderStatus.finished">
            <div class="ci-runner-container_loader_container">
                <div class="ci-runner-container_loader_container_title">
                    <div ng-if="launcherLoaderStatus.started">Keep calm and have a cup of tea.</div>
                    <div ng-if="launcherLoaderStatus.started">It may take a few minutes.</div>
                    <div ng-if="launcherLoaderStatus.finished">Done!</div>
                </div>
                <div class="ci-runner-container_loader_container_bar">
                    <div class="ci-runner-container_loader_container_bar_progress">
                        <md-progress-linear md-mode="{{launcherLoaderStatus.finished ? 'determinate' : 'indeterminate'}}" value="{{launcherLoaderStatus.determinateValue}}"></md-progress-linear>
                    </div>
                    <div class="ci-runner-container_loader_container_bar_status" ng-if="launcherLoaderStatus.started">
                        Adding data...
                    </div>
                    <div class="ci-runner-container_loader_container_bar_status" ng-if="launcherLoaderStatus.finished">
                        Now you can start launching!
                    </div>
                </div>
                <div class="ci-runner-container_loader_container_action">
                    <md-button ng-click="cancelScanRepository()" class="md-raised" ng-if="launcherLoaderStatus.started" ng-disabled="! launcherLoaderStatus.buildNumber">
                        CANCEL
                    </md-button>
                    <md-button ng-click="backToLaunchersList();" class="md-raised md-primary" ng-if="launcherLoaderStatus.finished">
                        BACK TO LIST
                    </md-button>
                </div>
            </div>
        </div>
    </zf-modal>
</form>