<form name="launcher_form">
    <zf-modal modal-class="ci-runner" class="ci-runner-container">
        <zf-modal-helper-container class="ci-runner-container_helper" ng-show="$ctrl.shouldBeDisplayed('helper')">
            <div class="ci-runner-container_helper_title hide-phone">
                <span>Launcher</span>
                <button type="button"
                    ng-click="addRepo();"
                    ng-disabled="!clientId"
                    ng-if="$ctrl.userHasAnyPermission(['MODIFY_LAUNCHERS'])"
                    class="zf-primary-button">
                    <i class="material-icons">add</i>
                    <span>ADD REPO</span>
                </button>
            </div>
            <div class="ci-runner-container_helper_title show-phone">Choose template</div>
            <div class="ci-runner-container_helper_search">
                <md-input-container class="no-margin _search">
                    <label>Search template</label>
                    <input type="text" name="search" ng-model="filerSc.name" ng-model-options="{debounce: 700}" ng-change="onFilterSearchChange(filerSc.name)" autocomplete="off"/>
                    <md-icon class="input-search-icon">search</md-icon>
                    <md-icon class="input-close-icon" ng-click="onFilterSearchChange(filerSc.name = '')">close</md-icon>
                </md-input-container>
            </div>
            <div class="ci-runner-container_helper_section">
                <ul class="folder-container folder-container-{{scmAccount.id}}"
                    ng-repeat="scmAccount in scmAccounts | orderBy: 'repositoryName' track by scmAccount.id">
                    <li class="folder-container_folder" ng-class="{ '_with-buttons': $ctrl.userHasAnyPermission(['MODIFY_LAUNCHERS']) }">
                        <i class="material-icons folder-container_folder_icon hide-phone" ng-click="switchFolder($event)">arrow_drop_down</i>
                        <div class="folder-container_folder_name hide-phone"
                            ng-class="{'chosen-launcher': scmAccount.isActive}"
                            ng-click="switchFolder($event)">{{scmAccount.repositoryName}}</div>
                        <div class="folder-container_folder_name show-phone"
                            ng-class="{'chosen-launcher': scmAccount.isActive}"
                            ng-click="switchFolderMobile($event, scmAccount.id)">{{scmAccount.repositoryName}}</div>
                        <div class="folder-container_folder-buttons hide-phone" ng-if="$ctrl.userHasAnyPermission(['MODIFY_LAUNCHERS'])">
                            <i class="material-icons folder-container_folder_icon_settings" ng-click="manageFolder(scmAccount, true)">add_circle_outline</i>
                            <i class="material-icons folder-container_folder_icon_settings" ng-click="manageFolder(scmAccount)">settings</i>
                        </div>
                    </li>
                    <li class="folder-container_item">
                        <ul class="folder-container_item_list">
                            <li class="folder-container_item_list_item hide-phone launcher-{{launcher.id}}"
                                ng-class="{
                                    '_no-padding-bottom': $ctrl.activeLauncherId === launcher.id && launcher.presets.length,
                                    'chosen-launcher': launcher.isActive,
                                }"
                                ng-click="chooseLauncher(launcher)"
                                ng-repeat="launcher in scmAccount.launchers | orderBy: ['!preference.favorite', 'name'] | filter: filerSc track by launcher.id">
                                <md-icon class="folder-container_item_list_item_icon" ng-if="!launcher.autoScan" md-svg-src="../../../assets/images/launcher_manual.svg"></md-icon>
                                <span>{{launcher.name}}</span>
                                <i ng-if="launcher.preference.favorite && !launcher.isSavedConfig" class="material-icons folder-container_item_list_item_icon-favorite">star</i>
                                <ul class="folder-container_item_list" ng-if="$ctrl.activeLauncherId === launcher.id">
                                    <li class="folder-container_item_list_item hide-phone launcher-{{preset.id}}"
                                        ng-click="$ctrl.chooseSavedLauncherConfig(preset, false); $event.stopPropagation();"
                                        ng-class="{'chosen-launcher': preset.isActive}"
                                        ng-repeat="preset in launcher.presets | orderBy: ['!preference.favorite', 'name']">
                                        <span>{{preset.name}}</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="folder-container_item_list_item show-phone launcher-{{launcher.id}}"
                                ng-class="{
                                    '_no-padding-bottom': $ctrl.activeLauncherId === launcher.id && launcher.presets.length,
                                    'chosen-launcher': launcher.isActive || $ctrl.activeLauncherId === launcher.id,
                                }"
                                ng-click="selectLauncher(launcher)" ng-repeat="launcher in scmAccount.launchers | orderBy: ['!preference.favorite', 'name'] | filter: filerSc track by launcher.id">
                                <md-icon class="folder-container_item_list_item_icon" ng-if="!launcher.autoScan" md-svg-src="../../../assets/images/launcher_manual.svg"></md-icon>
                                <span>{{launcher.name}}</span>
                                <i ng-if="launcher.preference.favorite && !launcher.isSavedConfig" class="material-icons folder-container_item_list_item_icon-favorite">star</i>
                                <ul class="folder-container_item_list" ng-if="$ctrl.activeLauncherId === launcher.id">
                                    <li class="folder-container_item_list_item show-phone launcher-{{preset.id}}"
                                        ng-class="{'chosen-launcher': preset.isActive}"
                                        ng-click="$ctrl.chooseSavedLauncherConfig(preset, true); $event.stopPropagation();"
                                        ng-repeat="preset in launcher.presets | orderBy: ['!preference.favorite', 'name']">
                                        <span>{{preset.name}}</span>
                                    </li>
                                </ul>
                            </li>
                            <li ng-if="!scmAccount.launchers.length" class="folder-container_item_list_item-empty">
                                No templates added
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="! scmAccounts.length" class="folder-container-empty">
                    No repositories added
                </ul>
                <!--<div> &lt;!&ndash;do scrollable&ndash;&gt;
                    <div ng-repeat="l in $ctrl.launchers | orderBy:'name' track by l.id" class="ci-runner-container_helper_section_item show-phone" ng-class="{'ci-runner-container_helper_section_item_selected': launcher.id === l.id}">
                        <div ng-click="chooseLauncher(l);" class="ci-runner-container_helper_section_item_container hide-phone">
                            {{l.name}}
                        </div>
                        <div ng-click="chooseLauncherPhone(l);" class="ci-runner-container_helper_section_item_container show-phone">
                            {{l.name}}
                        </div>
                        <i ng-click="editLauncher(l);" ng-if="$ctrl.userHasAnyPermission(['MODIFY_LAUNCHERS'])" class="material-icons hide-phone">edit</i>
                    </div>
                </div>-->
            </div>
            <div class="ci-runner-container_content_actions show-phone">
                <md-button class="md-raised md-primary pull-right" ng-click="chooseLauncherPhone($ctrl.activeLauncher);" ng-disabled="!$ctrl.activeLauncher.id">
                    Next
                </md-button>
            </div>
        </zf-modal-helper-container>
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="$ctrl.shouldBeDisplayed('server-select')">
            <ng-form name="info">
                <div class="ci-runner-container_content_block _server-selection">
                    <div ng-if="scmAccount.id" class="ci-runner-container_content_block_title __ci-runner-lg-title __scan-repo">
                        <span>{{scmAccount.repositoryName}}</span>
                        <a ng-if="scmAccount.repositoryURL" href="{{scmAccount.repositoryURL}}" target="_blank"><md-icon>open_in_new</md-icon></a>
                    </div>
                    <div class="ci-runner-container_content_block_title">
                        Choose automation server
                    </div>
                    <zf-radio-button class="selection-blocks_container_elements_item" on-change="onChange(server);" ng-repeat="server in servers track by server.id" ng-model="currentServerId" value="server">
                        <zf-radio-button-body>
                            <div class="selection-blocks_container_elements_item_container">
                                <div class="selection-blocks_container_elements_item_container_title"><show-part text="::server.name" limit="50"></show-part></div>
                                </div>
                                <div class="selection-blocks_container_elements_item_icon" ng-switch="::server.type.name">
                                    <md-icon ng-switch-when="JENKINS" md-svg-icon="tools:jenkins"></md-icon>
                                </div>
                        </zf-radio-button-body>
                    </zf-radio-button>
                    <div class="ci-runner-container_content_actions">
                        <md-button ng-really-click="deleteRepository($ctrl.activeLauncher.scmAccountType.id);" ng-really-message="Do you really want to delete repository?" class="md-warn" ng-if="scmAccount.id && !$ctrl.activeLauncher.id">
                            DELETE REPO
                        </md-button>
                        <md-button ng-click="$ctrl.cancelFolderManaging();" ng-if="scmAccount.id && !$ctrl.activeLauncher.id">
                            CANCEL
                        </md-button>
                    </div>
                </div>
            </ng-form>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="$ctrl.shouldBeDisplayed('add-repo')">
            <ng-form name="info">
                <div class="ci-runner-container_content_block">
                    <div class="ci-runner-container_content_block_title">
                        Add repository to work with
                    </div>
                    <div class="ci-runner-container_content_scm-connector_items_add">
                        <md-input-container>
                            <label>Organization</label>
                            <md-select ng-model="scmAccount.organization" ng-change="getRepositories(scmAccount.organization.name);" ng-disabled="! organizations.length">
                                <md-option ng-repeat="organization in organizations track by $index" ng-value="organization">
                                    {{organization.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Repository</label>
                            <md-select ng-model="scmAccount.repository" ng-disabled="! repositories.length">
                                <md-option ng-repeat="repository in repositories | orderBy: 'name' track by $index" ng-value="repository">
                                    {{repository.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-raised" md-no-ink ng-click="addScmAccount(scmAccount);" ng-disabled="! scmAccount.organization || !scmAccount.repository">
                            Add
                        </md-button>
                    </div>
                </div>
            </ng-form>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="$ctrl.shouldBeDisplayed('scan-repo')">
            <ng-form name="scanInfo">
                <div class="ci-runner-container_content_block">
                    <div ng-if="scmAccount.id" class="ci-runner-container_content_block_title __ci-runner-lg-title __scan-repo">
                        <span>{{scmAccount.repositoryName}}</span>
                        <a ng-if="scmAccount.repositoryURL" href="{{scmAccount.repositoryURL}}" target="_blank"><md-icon>open_in_new</md-icon></a>
                    </div>
                    <div class="ci-runner-container_content_block_title">
                        Provide the branch for automatic scanner
                    </div>
                    <div class="ci-runner-container_content_launcher-add ci-runner-container_inline-input">
                        <md-input-container class="_gray-bg">
                            <label class="placeholder-label">Branch</label>
                            <input type="text" ng-model="launcherScan.branch" autofocus ng-required="true" />
                        </md-input-container>
                    </div>
                    <div class="ci-runner-container_content_actions">
                        <md-button ng-really-click="deleteRepository($ctrl.activeLauncher.scmAccountType.id);" ng-really-message="Do you really want to delete repository?" class="md-warn" ng-if="scmAccount.id && !$ctrl.activeLauncher.id">
                            DELETE REPO
                        </md-button>
                        <md-button ng-click="$ctrl.cancelFolderManaging();" ng-if="scmAccount.id && !$ctrl.activeLauncher.id">
                            CANCEL
                        </md-button>
                        <md-button class="md-raised md-primary pull-right" md-no-ink ng-click="scanRepository(launcherScan)" ng-if="!hasAutoScannedLaunchers(scmAccount.launchers)" ng-disabled="launcher_form.scanInfo.$invalid">
                            SCAN
                        </md-button>
                        <md-button class="md-raised md-primary pull-right" md-no-ink ng-click="scanRepository(launcherScan, true)" ng-if="hasAutoScannedLaunchers(scmAccount.launchers)" ng-disabled="launcher_form.scanInfo.$invalid">
                            RE-SCAN
                        </md-button>
                    </div>
                </div>
            </ng-form>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="$ctrl.shouldBeDisplayed('create-launcher')">
            <ng-form name="manualInfo">
                <div class="ci-runner-container_content_block">
                    <div ng-if="scmAccount.id" class="ci-runner-container_content_block_title __ci-runner-lg-title __scan-repo">
                        <span>{{scmAccount.repositoryName}}</span>
                        <a ng-if="scmAccount.repositoryURL" href="{{scmAccount.repositoryURL}}" target="_blank"><md-icon>open_in_new</md-icon></a>
                    </div>
                    <div class="ci-runner-container_content_block_title">
                        <span>Create launcher manually</span>
                    </div>
                    <div class="ci-runner-container_content_manual-launcher-add ci-runner-container_inline-input">
                        <md-input-container class="_gray-bg">
                            <label class="placeholder-label">Name</label>
                            <input type="text" ng-model="$ctrl.activeLauncher.name" />
                        </md-input-container>
                    </div>
                    <div class="ci-runner-container_content_code" ng-cloak>
                        <md-input-container class="no-margin">
                            <div id="aceEditor" required class="ci-runner-container_content_code_editor" ui-ace="{{aceOptions}}" ng-model="$ctrl.activeLauncher.model"></div>
                            <md-input-container class="no-margin">
                                <label>Platform</label>
                                <md-select ng-change="mergeTemplate(DEFAULT_TEMPLATES.model.json);" ng-model="DEFAULT_TEMPLATES.model">
                                    <md-option ng-repeat="dt in DEFAULT_TEMPLATES.variants track by $index" ng-value="dt">{{dt.name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </md-input-container>
                    </div>
                </div>
                <div class="ci-runner-container_content_actions">
                    <md-button ng-click="$ctrl.cancelFolderManaging();">
                        CANCEL
                    </md-button>
                    <md-button class="md-raised md-primary pull-right" ng-click="addLauncher($ctrl.activeLauncher);" ng-disabled="!$ctrl.activeLauncher.name || !$ctrl.activeLauncher.model">
                        CREATE
                    </md-button>
                </div>
            </ng-form>
        </zf-modal-content-container>
        <!-- save launher -->
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="$ctrl.shouldBeDisplayed('save-launcher-config')">
            <ng-form name="manualInfo">
                <div class="ci-runner-container_content_block __lancher-save">
                    <div class="ci-runner-container_content_block_title __ci-runner-lg-title">
                        <span ng-if="$ctrl.activeLauncher.id">{{ $ctrl.activeLauncher.name }} > {{$ctrl.selectedLauncherConfig.name}}</span>
                    </div>
                    <div class="ci-runner-container_content_manual-launcher-add ci-runner-container_inline-input">
                        <md-input-container class="_gray-bg">
                            <label class="placeholder-label">Name</label>
                            <input type="text" ng-model="$ctrl.selectedLauncherConfig.name" />
                        </md-input-container>
                    </div>
                    <div class="ci-runner-container_content_code" ng-cloak>
                        <md-input-container class="no-margin">
                            <div id="aceEditor" required class="ci-runner-container_content_code_editor" ui-ace="{{aceOptions}}" ng-model="$ctrl.selectedLauncherConfig.model"></div>
                            <md-input-container class="no-margin">
                            </md-input-container>
                        </md-input-container>
                    </div>
                </div>
                <div class="ci-runner-container_content_actions">
                    <md-button ng-click="cancelLauncher();">
                        CANCEL
                    </md-button>
                    <md-button class="md-raised md-primary pull-right" ng-click="$ctrl.saveLauncherConfig();" ng-disabled="!$ctrl.selectedLauncherConfig.name || !$ctrl.activeLauncher.model">
                        SAVE
                    </md-button>
                </div>
            </ng-form>
        </zf-modal-content-container>
        <!-- end of save launcher -->
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="$ctrl.shouldBeDisplayed('edit-launcher')">
            <ng-form name="manualInfo">
                <div class="ci-runner-container_content_block __lancher-add">
                    <div class="ci-runner-container_content_block_title __ci-runner-lg-title">
                        <span ng-if="$ctrl.activeLauncher.id">{{ $ctrl.activeLauncher.name }}</span>
                    </div>
                    <div class="ci-runner-container_content_manual-launcher-add ci-runner-container_inline-input">
                        <md-input-container class="_gray-bg">
                            <label class="placeholder-label">Name</label>
                            <input type="text" ng-model="$ctrl.activeLauncher.name" />
                        </md-input-container>
                    </div>
                    <div class="ci-runner-container_content_code" ng-cloak>
                        <md-input-container class="no-margin">
                            <div id="aceEditor" required class="ci-runner-container_content_code_editor" ui-ace="{{aceOptions}}" ng-model="$ctrl.activeLauncher.model"></div>
                            <md-input-container class="no-margin" ng-if="!$ctrl.activeLauncher.isSavedConfig">
                                <label>Platform</label>
                                <md-select ng-change="mergeTemplate(DEFAULT_TEMPLATES.model.json);" ng-model="DEFAULT_TEMPLATES.model">
                                    <md-option ng-repeat="dt in DEFAULT_TEMPLATES.variants track by $index" ng-value="dt">{{dt.name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </md-input-container>
                    </div>
                </div>
                <div class="ci-runner-container_content_actions">
                    <md-button ng-really-click="deleteLauncher($ctrl.activeLauncher.id);" ng-really-message="Do you really want to delete template?" class="md-warn" ng-if="!$ctrl.activeLauncher.isSavedConfig">
                        DELETE LAUNCHER
                    </md-button>
                    <md-button ng-really-click="$ctrl.deleteLauncherConfig($ctrl.activeLauncher)" ng-really-message="Do you really want to delete config?" class="md-warn" ng-if="$ctrl.activeLauncher.isSavedConfig">
                        DELETE CONFIG
                    </md-button>
                    <md-button ng-click="cancelLauncher();">
                        CANCEL
                    </md-button>
                    <md-button class="md-raised md-primary pull-right" ng-click="updateLauncher($ctrl.activeLauncher);" ng-disabled="!$ctrl.activeLauncher.name || !$ctrl.activeLauncher.model" ng-if="!$ctrl.activeLauncher.isSavedConfig">
                        SAVE
                    </md-button>
                    <md-button class="md-raised md-primary pull-right" ng-click="$ctrl.updateLauncherConfig($ctrl.activeLauncher);" ng-disabled="!$ctrl.activeLauncher.name || !$ctrl.activeLauncher.model" ng-if="$ctrl.activeLauncher.isSavedConfig">
                        UPDATE
                    </md-button>
                </div>
            </ng-form>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content" ng-if="$ctrl.shouldBeDisplayed('launcher')" ng-show="$ctrl.activeLauncher">
            <div class="ci-runner-container_content_title __ci-runner-lg-title">
                <show-part class="hide-phone" text="$ctrl.activeLauncher.name" limit="40" ng-if="!$ctrl.activeLauncher.isSavedConfig"></show-part>
                <show-part class="show-phone" text="$ctrl.activeLauncher.name" limit="20"></show-part>
                <show-part class="hide-phone" text="$ctrl.activeLauncherName + ' > ' + $ctrl.activeLauncher.name" limit="40" ng-if="$ctrl.activeLauncher.isSavedConfig"></show-part>
                <span class="ci-runner-container_content_title_action">
                    <i ng-click="$ctrl.setFavouriteLauncher($ctrl.activeLauncher);" ng-if="!$ctrl.activeLauncher.preference.favorite && !$ctrl.activeLauncher.isSavedConfig" class="material-icons icon hide-phone">star_border</i>
                    <i ng-click="$ctrl.setFavouriteLauncher($ctrl.activeLauncher);" ng-if="$ctrl.activeLauncher.preference.favorite && !$ctrl.activeLauncher.isSavedConfig" class="material-icons icon hide-phone _active">star</i>
                    <i ng-click="toEditLauncher($ctrl.activeLauncher);" ng-if="$ctrl.userHasAnyPermission(['MODIFY_LAUNCHERS'])" class="material-icons icon hide-phone _settings-icon">settings</i>
                </span>
            </div>
            <div class="ci-runner-container__scrollable">
                <div class="ci-runner-container__providers">
                    <div class="warning-block" ng-if="$ctrl.providersFail">
                        Unable to load provider configs, contact your administrator!
                    </div>
                    <md-chips ng-if="$ctrl.providers.length"
                        class="filter-chip custom-filter"
                        ng-model="$ctrl.providers"
                        md-removable="false"
                        readonly="true">
                        <md-chip-template>
                            <div style="display: inline-block;" ng-init="$ctrl.selectProviderOnChipsInit($index, $mdChipsCtrl)" ng-click="$ctrl.onProviderSelect($chip)">
                                <img class="custom-filter__img" ng-if="$chip.icon" ng-src="{{$chip.icon}}"/>
                                <span>{{$chip.name}}</span>
                            </div>
                        </md-chip-template>
                    </md-chips>
                </div>
                <div class="ci-runner-container__platforms" ng-if="!$ctrl.providers.length && !$ctrl.failedProvider">
                    <div class="warning-block">
                        No available providers.
                    </div>
                </div>
                <div class="ci-runner-container__platforms" ng-if="$ctrl.failedProvider">
                    <div class="warning-block">
                        Unable to load provider's config, contact your administrator!
                    </div>
                </div>
                <div class="ci-runner-container__platforms"
                    ng-class="{'_with-controls': $ctrl.platformControls.length}"
                    ng-if="$ctrl.platforms.length">
                    <div class="ci-runner-container__platforms-header">
                        <md-radio-group ng-model="$ctrl.platformModel[$ctrl.platformsConfig.rootKey]"
                            layout="row"
                            layout-wrap
                            ng-change="$ctrl.onPlatformSelect()">
                            <md-radio-button ng-value="$ctrl.noPlatformValue">None</md-radio-button>
                            <md-radio-button ng-value="platform"
                                ng-repeat="platform in $ctrl.platforms track by platform.id">
                                {{ platform.name }}
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="ci-runner-container__platforms-controls"
                        ng-if="$ctrl.platformControls.length">
                        <div class="ci-runner-container_content_builder_container builder-{{launcherControl.type}}"
                            ng-repeat="platformControl in $ctrl.platformControls track by platformControl.key">
                            <div class="zf-label" flex="none">
                                <show-part text="platformControl.label" limit="30">
                                    <md-tooltip md-direction="top">{{platformControl.label}}</md-tooltip>
                                </show-part>
                            </div>
                            <div class="ci-runner-container_content_builder_container_item">
                                <md-input-container class="no-margin _gray-bg"
                                    ng-if="platformControl.type === 'select' && platformControl.items.length">
                                    <label>{{platformControl.label}}</label>
                                    <md-select required
                                        name="{{platformControl.key}}"
                                        ng-model="$ctrl.platformModel[platformControl.key]"
                                        ng-model-options="{trackBy: '$value.id'}"
                                        ng-change="platformControl.onChange(platformControl)">
                                        <md-option ng-repeat="item in platformControl.items"
                                            ng-value="item">
                                            {{item.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="no-margin _gray-bg"
                                    ng-if="platformControl.type === 'input'">
                                    <label>{{platformControl.label}}</label>
                                    <input
                                        type="text"
                                        name="{{platformControl.key}}"
                                        ng-model="$ctrl.platformModel[platformControl.key].value"
                                        ng-model-options="{debounce: 700}"/>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ci-runner-container_content_builder" ng-if="$ctrl.launcherControls.length">
                    <div class="ci-runner-container_content_builder_container builder-{{launcherControl.type}}"
                        ng-repeat="launcherControl in $ctrl.launcherControls track by launcherControl.key">
                        <div class="zf-label" flex="none">
                            <show-part text="launcherControl.label" limit="25">
                                <md-tooltip md-direction="top">{{ launcherControl.label }}</md-tooltip>
                            </show-part>
                        </div>
                        <div class="ci-runner-container_content_builder_container_item">
                            <md-input-container class="_gray-bg no-margin" ng-if="launcherControl.type === 'number'">
                                <label>{{ launcherControl.label }}</label>
                                <input type="number" min="1" step="1" pattern="^[0-9]+$" ng-model="$ctrl.launcherModel[launcherControl.key]" ng-disabled="$ctrl.activeLauncher.isSavedConfig"/>
                            </md-input-container>
                            <md-input-container class="_gray-bg no-margin" ng-if="launcherControl.type === 'text'">
                                <label>{{ launcherControl.label }}</label>
                                <input type="text" ng-model="$ctrl.launcherModel[launcherControl.key]" ng-disabled="$ctrl.activeLauncher.isSavedConfig"/>
                            </md-input-container>
                            <md-input-container class="no-margin _gray-bg" ng-if="launcherControl.type === 'select'">
                                <label>{{ launcherControl.label }}</label>
                                <md-select ng-model="$ctrl.launcherModel[launcherControl.key]"
                                    ng-disabled="$ctrl.activeLauncher.isSavedConfig">
                                    <md-option ng-repeat="optionItem in launcherControl.value"
                                        ng-value="optionItem.value">
                                        {{ optionItem.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-checkbox ng-model="$ctrl.launcherModel[launcherControl.key]"
                                ng-if="launcherControl.type === 'checkbox'"
                                aria-label="checkbox"
                                ng-disabled="$ctrl.activeLauncher.isSavedConfig"></md-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ci-runner-container_content_actions">
                <md-button ng-click="cancelLauncher();" class="md-raised" ng-if="$ctrl.cardNumber === 2">
                    Cancel
                </md-button>
                <md-button class="md-raised _less-width-button" ng-click="navigateBack();" ng-if="$ctrl.cardNumber === 3 && $ctrl.isMobile">
                    Back
                </md-button>
                <md-button class="md-raised" ng-click="$ctrl.prepareLauncherConfigForSave();" ng-if="($ctrl.cardNumber === 2 || $ctrl.cardNumber === 3) && !$ctrl.isMobile && !$ctrl.activeLauncher.isSavedConfig">
                    Save config
                </md-button>
                <md-button class="md-raised" ng-click="$ctrl.getWebHook($ctrl.activeLauncher);" ng-if="($ctrl.cardNumber === 2 || $ctrl.cardNumber === 3) && $ctrl.activeLauncher.isSavedConfig">
                    Copy webhook
                </md-button>
                <md-button class="md-raised md-primary pull-right" ng-click="build($ctrl.activeLauncher, launcher_form);" ng-disabled="!$ctrl.activeLauncher.job.jobURL" ng-if="$ctrl.cardNumber === 2 || $ctrl.cardNumber === 3">
                    Launch
                </md-button>
                <div ng-if="!$ctrl.activeLauncher.job.jobURL" class="ci-runner-container_content_actions_error">Launcher job is not configured, contact admin.</div>
            </div>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="$ctrl.shouldBeDisplayed('welcome')">
            <div class="ci-runner-container_content_title no-data">
                <div ng-if="!$ctrl.loadingScm && !scmAccounts.length">
                    <div>There is nothing to launch:(</div>
                    <div>Add repository to start.</div>
                </div>
                <div ng-if="!$ctrl.loadingScm && scmAccounts.length">
                    <div>Choose template to launch.</div>
                </div>
            </div>
        </zf-modal-content-container>
        <zf-modal-content-container class="ci-runner-container_content" ng-if="$ctrl.shouldBeDisplayed('ci-error')">
            <div class="ci-runner-container_content_title _mobile-message no-data">
                <div>
                    <div>Opps, integration with CI is broken...</div>
                    <div>Please, contact admin.</div>
                </div>
            </div>
            <div class="ci-runner-container_content_actions">
                <md-button class="md-raised md-primary pull-right" ng-click="$ctrl.hideCIErrorPage()" ng-if="$ctrl.cardNumber === 4">
                    Ok
                </md-button>
            </div>
        </zf-modal-content-container>
        <md-icon class="close-button" ng-click="cancel()" aria-label="Close dialog">close</md-icon>
        <div class="ci-runner-container_loader" ng-if="$ctrl.shouldBeDisplayed('waiting')">
            <div class="ci-runner-container_loader_container">
                <div class="ci-runner-container_loader_container_title">
                    <div ng-if="launcherLoaderStatus.started">Keep calm and have a cup of tea.</div>
                    <div ng-if="launcherLoaderStatus.started">It may take a few minutes.</div>
                    <div ng-if="launcherLoaderStatus.finished && !launcherLoaderStatus.failed">Done!</div>
                    <div ng-if="launcherLoaderStatus.finished && launcherLoaderStatus.failed">Sorry, we were not able to scan the repository, contact support or try again later.</div>
                </div>
                <div class="ci-runner-container_loader_container_bar">
                    <div class="ci-runner-container_loader_container_bar_progress">
                        <md-progress-linear md-mode="{{launcherLoaderStatus.finished ? 'determinate' : 'indeterminate'}}" value="{{launcherLoaderStatus.determinateValue}}"></md-progress-linear>
                    </div>
                    <div class="ci-runner-container_loader_container_bar_status" ng-if="launcherLoaderStatus.started">
                        Adding data...
                    </div>
                    <div class="ci-runner-container_loader_container_bar_status" ng-if="launcherLoaderStatus.finished && !launcherLoaderStatus.failed">
                        Now you can start launching!
                    </div>
                </div>
                <div class="ci-runner-container_loader_container_action">
                    <md-button ng-click="cancelScanRepository()" class="md-raised" ng-if="launcherLoaderStatus.started">
                        CANCEL
                    </md-button>
                    <md-button ng-click="backToLaunchersList();" class="md-raised md-primary" ng-if="launcherLoaderStatus.finished">
                        BACK TO LIST
                    </md-button>
                </div>
            </div>
        </div>
    </zf-modal>
</form>
