<div id="search"
     class="md-row tests-runs-search"
     layout="row"
     layout-md="column"
     layout-sm="column"
     layout-xs="column"
     ng-class="{ '_mobile': $ctrl.isMobile(), '_active': $ctrl.isMobile() && $ctrl.showAdvancedSearchFilters }">
    <div ng-class="{'disable-layer': $ctrl.isFilterActive()}"></div>
    <div class="tests-runs-search__top-section" flex="auto" layout="row" ng-if="!$ctrl.isMobile()">
        <ng-transclude ng-if="!$ctrl.isMobile()"></ng-transclude>
        <md-input-container class="tests-runs-search__input-label _with-icon _without-animation">
            <label class="placeholder-label">Search items</label>
            <input ng-model-options="{debounce: 700}"
                   type="text"
                   ng-model="$ctrl.searchParams.query"
                   ng-change="$ctrl.onChangeSearchCriteria()"
                   aria-label="Search items"
                   aria-describedby="basic-addon2">
            <i class="material-icons">
                search
            </i>
        </md-input-container>
    </div>

    <div class="tests-runs-search__bottom-section" ng-if="!$ctrl.isMobile()"
         layout="row"
         layout-sm="column"
         layout-xs="column">
        <div layout="row" class="tests-runs-search__helpers search-fields _main">
            <button class="reviewed" data-ng-class="{'label-blank': !$ctrl.searchParams.reviewed, 'label-primary': !!$ctrl.searchParams.reviewed}"
                    ng-click="$ctrl.searchParams.reviewed = !$ctrl.searchParams.reviewed; $ctrl.onChangeSearchCriteria()">R
                <md-tooltip ng-if="!$ctrl.isMobile()" md-direction="bottom">Reviewed</md-tooltip>
            </button>
            <md-input-container class="select-wrapper no-padding without-animation" flex="grow">
                <md-select id="searchStatus" ng-model="$ctrl.searchParams.status" class="form-fields__select" ng-change="$ctrl.onChangeSearchCriteria()" name="status" placeholder="Status">
                    <md-option value="">None</md-option>
                    <md-option ng-repeat="status in ::$ctrl.statuses" ng-value="::status">{{ status }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="select-wrapper no-padding no-margin-l without-animation" flex="grow">
                <md-select id="searchEnv" ng-model="$ctrl.searchParams.environment" class="form-fields__select"
                           ng-change="$ctrl.onChangeSearchCriteria()"
                           name="environment" placeholder="Environment">
                    <md-option value="">None</md-option>
                    <md-option ng-repeat="env in $ctrl.environments" ng-value="env">{{env}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="select-wrapper selectPlatform no-padding without-animation" flex="grow">
                <md-select id="searchPlatform" ng-model="$ctrl.searchParams.platform" class="form-fields__select" name="platform" placeholder="Platform" ng-change="$ctrl.onChangeSearchCriteria()">
                    <md-option value="">None</md-option>
                    <md-option ng-repeat="platform in $ctrl.platforms" ng-value="platform">{{platform}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" layout-align="none end" layout-align-sm="space-between end" class="tests-runs-search__helpers search-fields _additional" layout-xs="column">
            <md-input-container class="date-picker-container select-wrapper no-padding form-fields__input" flex="grow" flex-sm="33" flex-xs="100">
                <span data-ng-if="!$ctrl.selectedRange.dateStart && !$ctrl.selectedRange.dateEnd">Date</span>
                <span data-ng-if="$ctrl.selectedRange.dateStart && $ctrl.selectedRange.dateEnd && !$ctrl.isEqualDate()">{{$ctrl.selectedRange.dateStart | date : 'dd MMM'}} - </span>
                <span>{{$ctrl.selectedRange.dateEnd | date : 'dd MMM'}}</span>
                <i class="material-icons">date_range</i>
                <md-button id="searchCalendar" ng-click="$ctrl.openDatePicker($event, true)"></md-button>
            </md-input-container>
            <md-button ng-show="$ctrl.isSearchActive()" class="md-raised pull-right" type="button" ng-click="$ctrl.onReset();"><span>RESET</span></md-button>
        </div>
    </div>
    <md-fab-speed-dial id="main-fab" ng-if="$ctrl.isMobile() && !$ctrl.isFilterActive()" md-direction="up" class="md-scale md-fab-bottom-right">
        <md-fab-trigger>
            <md-button id="mainFab" aria-label="menu" class="md-fab md-primary" ng-click="$ctrl.showSearchDialog($event)" md-visible="tooltipVisible">
                <div class="search-fab" ng-class="{' _list': !$ctrl.isModalSearchActive(), '_checked-list': $ctrl.isModalSearchActive()}" aria-hidden="true"></div>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>
