<div id="search"
     class="md-row tests-runs-search"
     layout="row"
     layout-md="column"
     layout-sm="column"
     layout-xs="column"
     ng-class="{ '_mobile': $ctrl.isMobile() }">
    <div ng-class="{'disable-layer': $ctrl.isFilterActive()}"></div>
    <div class="tests-runs-search__top-section" flex="auto" layout="row">
        <ng-transclude></ng-transclude>
        <div layout="row" flex="auto" layout-xs="column" class="tests-runs-search__input-wrapper">
            <label class="tests-runs-search__input-label">
                <input class="form-control pull-left tests-runs-search__input-field"
                       placeholder="Search items"
                       ng-model-options="{debounce: 700}"
                       ng-model="$ctrl.searchParams.query"
                       ng-change="$ctrl.onChangeSearchCriteria('query')"
                       aria-label="Search items"
                       aria-describedby="basic-addon2">
                <i class="material-icons tests-runs-search__input-icon">
                    search
                </i>
            </label>
            <div class="tests-runs-search__input-btn _close search-wrapper_close" role="button" ng-show="$ctrl.searchParams.query && $ctrl.searchParams.query.length" ng-click="$ctrl.resetSearchQuery()" ng-if="$ctrl.isMobile()">
                <i class="material-icons">
                    close
                </i>
            </div>
            <div class="tests-runs-search__input-btn _expand search-wrapper_filters" ng-class="{'__active' : $ctrl.showAdvancedSearchFilters}" role="button" ng-click="$ctrl.showSearchFilters()" ng-if="$ctrl.isMobile()">
                <i class="material-icons">
                    filter_list
                </i>
            </div>
        </div>
    </div>
    <div class="tests-runs-search__bottom-section"
         ng-hide="$ctrl.isMobile() && !$ctrl.showAdvancedSearchFilters"
         layout="row"
         layout-md="column"
         layout-sm="column"
         layout-xs="column">
        <div class="row-wrapper" layout="row" layout-sm="column" layout-xs="column">
            <div layout="row" class="search-fields _main" layout-xs="column">
                <div layout="row">
                    <button class="quadro-btn pull-left reviewed" data-ng-class="{'label-blank': !$ctrl.searchParams.reviewed, 'label-primary': !!$ctrl.searchParams.reviewed}"
                            ng-click="$ctrl.searchParams.reviewed = !$ctrl.searchParams.reviewed; $ctrl.onChangeSearchCriteria()">R
                        <md-tooltip md-direction="bottom">Reviewed</md-tooltip>
                    </button>
                    <md-input-container class="searchable select pull-left no-padding" flex="nogrow">
                        <md-select id="searchStatus" ng-model="$ctrl.searchParams.status" ng-change="$ctrl.onChangeSearchCriteria()" name="status" placeholder="Status">
                            <md-option value="">None</md-option>
                            <md-option ng-repeat="status in ::$ctrl.statuses" ng-value="::status">{{ status }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-input-container class="searchable select pull-left no-padding no-margin-l" flex="grow">
                    <md-select id="searchEnv" ng-model="$ctrl.searchParams.environment"
                               ng-change="$ctrl.onChangeSearchCriteria()"
                               name="environment" placeholder="Environment">
                        <md-option value="">None</md-option>
                        <md-option ng-repeat="env in $ctrl.environments" ng-value="env">{{env}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="searchable select selectPlatform pull-left" flex="grow">
                    <md-select id="searchPlatform" ng-model="$ctrl.searchParams.platform" name="platform" placeholder="Platform" ng-change="$ctrl.onChangeSearchCriteria()">
                        <md-option value="">None</md-option>
                        <md-option ng-repeat="platform in $ctrl.platforms" ng-value="platform">{{platform}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="none end" class="search-fields _additional">
                <md-input-container class="date-picker-container pull-left" flex="grow">
                    <span data-ng-if="!$ctrl.selectedRange.dateStart && !$ctrl.selectedRange.dateEnd">Date</span>
                    <span data-ng-if="$ctrl.selectedRange.dateStart && $ctrl.selectedRange.dateEnd && !$ctrl.isEqualDate()">{{$ctrl.selectedRange.dateStart | date : 'dd MMM'}} - </span>
                    <span>{{$ctrl.selectedRange.dateEnd | date : 'dd MMM'}}</span>
                    <md-button id="searchCalendar" ng-click="$ctrl.openDatePicker($event, true)">
                    </md-button>
                </md-input-container>
                <button class="tests-runs-search__reset-btn md-button md-ink-ripple pull-right" type="button" ng-click="$ctrl.onReset();"><span>RESET</span></button>
            </div>
        </div>
    </div>
</div>
