@import '../../../global/var';

.review-modal {
    md-dialog-actions {
        padding-top: 16px;
        padding-bottom: 16px;
        min-height: 36px;
        flex-shrink: 0;

        @media screen and (max-width: $md-screen-phone) {
            padding: 16px;
        }
    }
}
