@import '../../../global/var';

.zf-md-dialog-container.ci-runner {
    .zf-modal-container {
        &_content,
        &_helper {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.1px;
        }
    }
    .ci-runner-container {
        &_content {
            &_builder {
                &_container {
                    margin-bottom: 16px;
                    min-height: 36px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    md-checkbox {
                        margin-bottom: 0;
                    }

                    .zf-label {
                        width: 190px;
                        margin-right: 20px;
                        padding-right: 0;
                    }
                    .zf-show-part {
                        max-width: 100%;
                        white-space: nowrap;
                    }
                }
            }
        }
        &__platforms {
            .warning-block {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (min-width: 769px) {
        .ci-runner-container {
            &_content {
                &_builder {
                    &_container {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .ci-runner-container {
            &_content {
                &_builder {
                    &_container {
                        &_item {
                            width: 100%;
                        }
                        &.builder-boolean {
                            display: flex;
                            align-items: center;
                            .zf-label {
                                margin-right: 20px;
                                flex: 1 1 auto;
                            }
                            .ci-runner-container_content_builder_container_item {
                                width: auto;
                                flex: none;
                            }
                        }
                        .zf-label {
                            width: auto;
                            margin-right: 0;
                        }
                        md-input-container label {
                            letter-spacing: 0.2px;
                            opacity: 0.6;
                        }
                        .zf-show-part {
                            letter-spacing: 0.2px;
                            font-size: 11px;
                            opacity: 0.6;
                        }
                        input, md-input-container, md-select {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $md-screen-phone) {
        overflow: hidden !important;
        padding: 0 !important;

        .ci-runner-container {
            height: 100% !important;

            &__scrollable {
                height: 100%;
                overflow: auto;
                padding: 20px 16px;
            }
            &_content {
                padding: 56px 0 68px !important;
                height: 100%;

                &_builder {
                    padding-bottom: 0;
                    &_container {
                        margin-bottom: 18px;
                    }
                }

                &_title {
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        > form {
            height: 100%;
        }
    }
}
