<md-dialog flex="80" aria-label="User profile" class="groups-modal modal-default _hasShadows" zafira-background-theme="modal">
    <form class="form-validation" name="group_form" ng-submit="createGroup(group); switchMode(false); UtilService.untouchForm(group_form)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 id="modalTitle"><span ng-if="!group.id">New</span><span ng-if="group.id">Edit</span> group</h2>
                <span flex></span>
                <md-button id="close" class="md-icon-button _default-md-style" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="groups-modal__content-wrapper">
                <div layout class="groups-modal__form-fields">
                    <md-input-container>
                        <label>Group name</label>
                        <input id="groupName" type="text" name="name" data-ng-model="group.name" required>
                    </md-input-container>
                    <md-input-container>
                        <label>User role</label>
                        <md-select id="groupRole" class="form-fields__select" name="role" ng-model="group.role" required>
                            <md-option ng-repeat="role in roles" value="{{role}}">
                                {{role}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>
                <div>
                    <div ng-repeat="(key, value) in blocks" ng-if="(group.role !== 'ROLE_ADMIN' && ['users', 'invitations'].indexOf(key.toLowerCase()) === -1) || group.role === 'ROLE_ADMIN'" class="checkbox-clear-inline">
                        <div flex layout='row' class="groups-modal__block" layout-align="start start">
                            <div layout="row" class="groups-modal__block__name-wrapper">
                                <div class="groups-modal__block__name">
                                    <h5 class="text-capitalize">{{ key.split('_').join(' ') }}</h5>
                                </div>
                                <md-switch class="md-primary" ng-model="blocksChecked[key]" ng-change="toggleAllPermissions(key)" ng-required aria-label="integr-switch"></md-switch>
                            </div>
                            <div layout="row" class="groups-modal__block__permissions" ng-class="{'hidden-permissions': !blocksChecked[key]}">
                                <div class="groups-modal__block__permissions__item" ng-repeat="permission in value.permissions">
                                    <md-checkbox ng-true-value="true" ng-false-value="false" ng-model="permission.value" aria-label="Block"></md-checkbox>
                                    <span name="permissionName" class="text-capitalize">{{ permission.name.split('_').join(' ') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button id="cancel" class="cancel md-raised btn-w-md" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button id="create" type="submit" class="md-button md-raised btn-w-md md-primary md-ink-ripple pull-right" ng-disabled="group_form.$invalid" ng-if="! group.id">
                Create
            </md-button>
            <md-button id="update" class="md-raised btn-w-md md-primary" ng-disabled="group_form.$invalid" ng-click="updateGroup(group)" ng-if="group.id">
                Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
