@media print {
   .no-print{
        display:none;
    }
}

input {
    &[type="password"],
    &[type="text"],
    &[type="search"] {
        appearance: none;
    }
}

.no-animate {
    -webkit-transition: none !important;
    transition: none !important;
}

body._touch-device md-tooltip {
    display: none !important;
}
