.zeb-tutorials-slider {
    &__dots {
        display: flex;
        justify-content: center;
        align-items: center;

        &-item {
            width: 20px;
            height: 20px;
            position: relative;
            cursor: pointer;
            margin: 0 2px;
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                border-radius: 50%;
            }
            &:before {
                width: 8px;
                height: 8px;
                background: #011627;
            }
            &._active {
                cursor: default;
                &:after {
                    width: 14px;
                    height: 14px;
                    border: 1px solid #011627;
                }
            }
        }
    }

    &__item {
        width: 100%;
        flex-shrink: 0;
        width: 100%;
        flex-grow: 1;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;
        &-content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            &._image {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &-wrapper {
            width: 100%;
            display: flex;
            transition: transform .2s ease-in-out;
            transform: translateX(0);
        }
    }
    &__slides {
        display: flex;
        overflow: hidden;
        margin-bottom: 8px;
        position: relative;
    }

    &__arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: 32px;
        width: 32px;
        border-radius: 4px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        outline: none;
        border: 0;
        cursor: pointer;
        opacity: 0;
        transition: opacity .15s ease-in-out;
        &._left {
            left: 8px;
        }
        &._right {
            right: 8px
        }
        .material-icons {
            color: #011627;
        }
    }
    &__slides:hover &__arrow {
        opacity: 1;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #011627;
        margin-bottom: 8px;
        margin-top: 12px;
    }
    &__description {
        font-size: 14px;
        line-height: 24px;
        color: #011627;
        margin: 0 0 12px;
    }
}
