<div class="page-wrapper">
    <zf-sub-header>
        <zf-sub-header-title>
            {{ $ctrl.currentTitle }}
            <small id="itemsCount" class="fixed-page-header__additional-text">({{$ctrl.totalResults}})</small>
        </zf-sub-header-title>
        <zf-sub-header-button ng-if="$ctrl.userHasAnyPermission(['MODIFY_LAUNCHERS', 'VIEW_LAUNCHERS'])">
            <button class="fixed-page-header__btn _launcher zf-primary-button"
                    ng-click="$ctrl.showCiHelperDialog($event);">
                <md-icon class="material-icons">play_arrow</md-icon>
                <span>Test launcher</span>
            </button>
        </zf-sub-header-button>
    </zf-sub-header>

    <div class="page">
        <md-fab-speed-dial id="main-fab"
            ng-if="$ctrl.isTablet && $ctrl.userHasAnyPermission(['MODIFY_TEST_RUNS', 'TEST_RUNS_CI']) && $ctrl.selectedTestRuns.length && !$ctrl.scrollTicking"
            md-direction="up"
            class="tests-runs-options md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button id="mainFab" aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button id="compareTestRuns" aria-label="menu" class="md-fab md-raised md-fab-sm" ng-if="$ctrl.selectedTestRuns.length > 1 && $ctrl.areTestRunsFromOneSuite()" ng-click="$ctrl.showCompareDialog($event)">
                    <md-tooltip md-direction="top">Compare</md-tooltip>
                    <span class="fa fa-columns" aria-hidden="true"></span>
                </md-button>
                <md-button id="rerunTestRuns"
                    ng-if="$ctrl.userHasAnyPermission(['TEST_RUNS_CI']) && $ctrl.isToolConnected('JENKINS')"
                    aria-label="menu"
                    class="md-fab md-raised md-fab-sm"
                    data-ng-really-message="Do you really want to rerun multiple test runs?"
                    data-ng-really-click="$ctrl.batchRerun()">
                    <md-tooltip md-direction="top">Rerun</md-tooltip>
                    <span class="fa fa-undo" aria-hidden="true"></span>
                </md-button>
                <md-button id="deleteTestRuns"
                    ng-if="$ctrl.userHasAnyPermission(['MODIFY_TEST_RUNS'])"
                    aria-label="menu"
                    class="md-fab md-raised md-fab-sm"
                    data-ng-really-message="Do you really want to delete multiple test runs?"
                    data-ng-really-click="$ctrl.batchDelete()">
                    <md-tooltip md-direction="top">Delete</md-tooltip>
                    <span class="fa fa-trash" aria-hidden="true"></span>
                </md-button>
                <md-button id="abortTestRuns"
                    ng-if="$ctrl.userHasAnyPermission(['TEST_RUNS_CI'])"
                    aria-label="menu"
                    class="md-fab md-raised md-fab-sm"
                    data-ng-really-message="Do you really want to abort multiple test runs?"
                    data-ng-really-click="$ctrl.abortSelectedTestRuns()">
                    <md-tooltip md-direction="top">Abort</md-tooltip>
                    <span class="fa fa-ban" aria-hidden="true"></span>
                </md-button>
                <md-button id="sendTestRunsAsEmail" aria-label="menu" class="md-fab md-raised md-fab-sm" ng-click="$ctrl.batchEmail($event)">
                    <md-tooltip md-direction="top">Send as email</md-tooltip>
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>

        <tests-runs-filter on-filter-change="$ctrl.getTestRuns(1)" switcher-state="$ctrl.switcherState"
            on-switcher-change="$ctrl.onViewChange($value)" is-switcher-disabled="$ctrl.isUserParamSaving"></tests-runs-filter>

        <div class="p-tests-runs__content-wrapper"
            blur-filter
            blur-radius="1px"
            blur-active="{{$ctrl.isUserParamSaving}}">
            <div class="p-tests-runs__section _header test-runs__header">
                <tests-runs-search on-filter-change="$ctrl.getTestRuns(1)">
                    <span>
                        <md-checkbox name="testRunSearchCheckbox"
                            data-ng-model="$ctrl.selectedAll"
                            ng-change="$ctrl.selectAllTestRuns()"
                            aria-label="Select"
                            data-ng-true-value="true"
                            data-ng-false-value="false">
                        </md-checkbox>
                    </span>
                </tests-runs-search>
                <div class="test-runs__bulk"
                    layout="row"
                    layout-align="start center"
                    ng-if="!$ctrl.isTablet && $ctrl.userHasAnyPermission(['MODIFY_TEST_RUNS', 'TEST_RUNS_CI']) && $ctrl.selectedTestRuns.length">
                    <div class="test-runs__test-selection _all" flex="none">
                        <md-checkbox name="testCheckbox"
                            class="test-runs__test-checkbox"
                            aria-label="Select"
                            data-ng-model="$ctrl.selectedAll"
                            ng-change="$ctrl.selectAllTestRuns()"
                            ng-true-value="true"
                            ng-false-value="false">
                        </md-checkbox>
                    </div>
                    <div flex="auto" layout="row" class="test-runs__header-actions-btns">
                        <md-button id="bulkDeleteTestRuns"
                            ng-if="$ctrl.userHasAnyPermission(['MODIFY_TEST_RUNS'])"
                            aria-label="menu"
                            class="zb-slim-btn _left-icon"
                            data-ng-really-message="Do you really want to delete multiple test runs?"
                            data-ng-really-click="$ctrl.batchDelete()">
                            <span class="zb-slim-btn__icon fa fa-trash"></span>
                            <span class="zb-slim-btn__txt">Delete</span>
                        </md-button>
                        <md-button id="bulkSendTestRunsAsEmail"
                            aria-label="menu"
                            class="zb-slim-btn _left-icon"
                            ng-click="$ctrl.batchEmail($event)">
                            <span class="zb-slim-btn__icon fa fa-envelope-o"></span>
                            <span class="zb-slim-btn__txt">Send as email</span>
                        </md-button>

                        <md-menu md-offset="30 20" class="tab-additional__menu">
                            <div class="menu__button" aria-label="Additional menu" ng-click="$mdMenu.open($event)">
                                <span class="button-text">More</span>
                                <span class="material-icons button-icon">arrow_drop_down</span>
                            </div>
                            <md-menu-content class="tab-additional__menu-content">
                                <md-menu-item class="menu__item" ng-if="$ctrl.userHasAnyPermission(['TEST_RUNS_CI']) && $ctrl.isToolConnected('JENKINS')">
                                    <md-button id="bulkRerunTestRuns"
                                        aria-label="menu"
                                        data-ng-really-message="Do you really want to rerun multiple test runs?"
                                        data-ng-really-click="$ctrl.batchRerun()">
                                        <span class="fa fa-undo" aria-hidden="true"></span>
                                        <span class="item-text" md-menu-align-target>Rerun</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="menu__item" ng-if="$ctrl.userHasAnyPermission(['TEST_RUNS_CI'])">
                                    <md-button id="bulkAbortTestRuns"
                                        aria-label="menu"
                                        data-ng-really-message="Do you really want to abort multiple test runs?"
                                        data-ng-really-click="$ctrl.abortSelectedTestRuns()">
                                        <span class="fa fa-ban" aria-hidden="true"></span>
                                        <span class="item-text" md-menu-align-target>Abort</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="menu__item" ng-if="$ctrl.selectedTestRuns.length > 1 && $ctrl.areTestRunsFromOneSuite()">
                                    <md-button id="bulkCompareTestRuns"
                                        aria-label="menu"
                                        ng-click="$ctrl.showCompareDialog($event)">
                                        <span class="fa fa-columns" aria-hidden="true"></span>
                                        <span class="item-text" md-menu-align-target>Compare</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <md-button id="close"
                        flex="none"
                        class="md-icon-button _default-md-style"
                        ng-click="$ctrl.clearTestRunsSelection()">
                        <md-icon aria-label="Reset selection">close</md-icon>
                    </md-button>
                </div>
            </div>
            <div class="p-tests-runs__section _content row ui-section no-margin">
                <div class="col-md-12 no-padding">
                    <article class="article">
                        <md-card class="no-margin-h">
                            <test-run-card test-run="launcher"
                                is-notification-available="$ctrl.isNotificationAvailable"
                                ng-repeat="launcher in $ctrl.launchers | orderObjectBy:'startedAt':true track by launcher.ciRunId"
                                single-mode="false"></test-run-card>
                            <test-run-card test-run="testRun"
                                ng-repeat="testRun in $ctrl.testRuns | orderObjectBy:'startedAt':true track by testRun.id"
                                is-notification-available="$ctrl.isNotificationAvailable"
                                single-mode="false" on-select="$ctrl.selectTestRun(testRun)"
                                on-delete="$ctrl.deleteSingleTestRun(testRun)"></test-run-card>
                            <div ng-if="($ctrl.testRuns && !$ctrl.testRuns.length)">
                                <div id="noData" class="text-center p-tests-runs__no-content">No test runs</div>
                            </div>
                            <md-table-pagination id="pagination" zafira-background-theme="pagination" ng-if="!$ctrl.isTestRunsEmpty()" md-limit="$ctrl.pageSize" md-limit-options=false md-page="$ctrl.currentPage" md-total="{{$ctrl.totalResults}}" md-page-select=false md-boundary-links=true md-on-paginate="$ctrl.getTestRuns"></md-table-pagination>
                        </md-card>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
