@import "../../../styles/global/var";

.test-runs {
    &__header {
        position: relative;
        &-actions {
            &-btns {
                padding: 0 5px;
                .menu__button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 24px;
                    min-height: 24px;
                    font-size: 0;
                    line-height: 1;
                    padding: 3px 8px;
                    color: $dark-coal-light-new;
                    border-radius: 12px;
                    border: 1px solid #e9e9e9;
                    background-color: white;
                    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;
                    position: relative;
                    margin-right: 12px;
                    min-width: 80px;

                    .button-text {
                        font-size: 14px;
                        line-height: 1;
                        text-transform: none;
                        font-weight: 400;
                    }
                    .material-icons {
                        margin-right: -6px;
                        margin-left: auto;
                    }
                }
            }
        }
    }
    &__bulk {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        background-color: white;
        padding: 18px 12px 18px 8px;
        .md-button.md-icon-button {
            margin: 0;
        }
    }
    &__test {
        &-selection {
            width: 50px;
            display: flex;
            justify-content: center;
            md-checkbox {
                margin: 0 auto;
                width: 40px;
                height: 40px;
                .md-container {
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    backface-visibility: hidden;
                }
            }
        }
    }
}
