<div class="test-run-group_group-itemss">
    <div name="failed" class="test-run-group_group-items_item FAILED" ng-click="changeStatus($event);"></div>
    <div name="skipped" class="test-run-group_group-items_item SKIPPED" ng-click="changeStatus($event);"></div>
    <div name="passed" class="test-run-group_group-items_item PASSED" ng-click="changeStatus($event);"></div>
    <div name="aborted" class="test-run-group_group-items_item ABORTED" ng-click="changeStatus($event);"></div>
    <div name="queued" class="test-run-group_group-items_item QUEUED" ng-click="changeStatus($event);"></div>
    <div name="in_progress" class="test-run-group_group-items_item IN_PROGRESS" ng-click="changeStatus($event);"></div>
</div>