$standart-padding:      24px;
$inner-padding:         16px;
$wizard-dark-gray:      #7f7f7f;
$wizard-white:          #ffffff;

.widget-wizard {
    min-width: $screen-tablet !important;
    > .md-dialog-content {
        > *[ng-transclude] {
            overflow-y: hidden !important;
        }
    }
    &_container {
        min-height: 718px !important;
        min-width: 300px !important;
        height: 576px;
        overflow-y: auto !important;
        padding: 28px 8px 34px 24px !important;

        @media(max-width: $screen-phone) {
            height: 100%;
        }

        &_title {
            padding-bottom: $standart-padding;
            line-height: 20px;

            &_common, &_search {
                display: inline-block;
            }

            &_common {
                font-size: 20px;
                letter-spacing: 0.2px;
                color: black;
            }

            &_search {
                height: 28px;
                position: absolute;
                right: 24px;
                top: 20px;

                label, md-icon {
                    color: rgba(78, 82, 89, 0.5);
                }

                label {
                    font-size: 12px;
                    letter-spacing: 0.1px;
                }

                input {
                    width: 160px;
                }

                md-icon {
                    font-size: 18px;
                }
            }
        }

        $wizard-item-height: 164px;

        &_elements {
            font-size: 0;
            &_item {
                width: calc((100% - (#{$inner-padding} * 2)) / 2);
                //max-width: 252px;
                height: $wizard-item-height;
                margin: 0 $inner-padding $inner-padding 0;

                $parent: &;
                &:not(.zf-checked):hover {
                    > label::before {
                        border: 2px solid rgba(1, 22, 39, 0.4) !important;
                    }
                    #{$parent}_icon {
                        i, md-icon {
                            color: rgba(1, 22, 39, 0.4);
                        }
                    }
                }

                &_add {

                    &:hover {
                        &:before {
                            display: block;
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            border: 2px solid rgba(1, 22, 39, 0.4) !important;
                        }
                    }

                    background-color: rgba(31,36,42, 0.1) !important;
                    border-radius: 4px;

                    &_icon, &_title {
                        text-align: center;
                    }

                    &_icon {
                        height: 74%;
                        position: relative;

                        md-icon {
                            width: 48px !important;
                            height: 48px !important;
                            position: absolute;
                            right: calc((100% - 48px) / 2);
                            top: 28px;
                            color: rgba(1, 22, 39, 0.4) !important;
                        }

                        &.item-icon-back {
                            height: 100%;
                            top: 0;
                            position: relative;
                            display: inline;

                            md-icon {
                                position: relative;
                                height: 29px !important;
                                right: 8px;
                                top: 0;
                                width: 18px !important;
                                min-width: 18px;
                                color: rgba(1, 22, 39, 0.4) !important;
                            }
                        }
                    }

                    &_title {
                        position: absolute;
                        top: 36px;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: normal;
                        color: rgba(1, 22, 39, 0.6);
                        opacity: 0.6;
                        line-height: $wizard-item-height;

                        &.item-title-back {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }

                    label {
                        *[ng-transclude] {
                            width: 100%;
                            i, md-icon {
                                color: black;
                                font-size: 64px;
                                height: 64px;
                                width: 64px;
                            }
                        }
                        &::before {
                            display: none;
                        }
                    }
                }

                &_container {
                    height: 86px;
                    overflow: hidden;
                    &_title, &_description {
                        word-wrap: break-word;
                    }

                    &_title {
                        width: 96%;
                        margin-bottom: 12px;
                    }

                    &_description {
                        font-size: 12px;
                        font-weight: normal;
                        letter-spacing: 0.1px;
                        line-height: 1.33;
                        color: $wizard-dark-gray;
                    }
                }

                &_action {
                    position: absolute;
                    top: 14px;
                    right: 8px;
                    i {
                        color: rgba(1, 22, 39, 0.6);
                    }
                }

                $parent: &;

                &:not(:hover) {
                    #{$parent}_action {
                        i, md-icon {
                            display: none;
                        }
                    }
                }

                &_icon {
                    position: absolute;
                    bottom: -3px;
                    left: -3px;
                    padding: 0 0 $inner-padding $inner-padding;

                    md-icon, i {
                        width: 26px;
                        height: 26px;
                        font-size: 26px;
                        color: rgba(0, 0, 0, 0.2);
                    }

                }

                &_additional {
                    position: absolute;
                    bottom: -2px;
                    right: 13px;
                    padding: 0 0 $inner-padding $inner-padding;
                    letter-spacing: 0.1px;
                    font-size: 12px;
                    font-weight: 500;
                    color: $brand-light;

                    i {
                        line-height: 17px;
                        vertical-align: bottom;
                    }
                }

                label {
                    &:before {
                        background-color: $wizard-white !important;
                        opacity: 1;
                        border: none;
                    }

                    div[ng-transclude] {
                        width: 100%;
                        transform: none;
                        line-height: 14px;
                        font-weight: 500;
                        padding: $inner-padding;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }

                    &:hover {
                        &:before {
                            opacity: 1;
                        }
                    }
                }

                $parent: &;

                &.zf-checked {
                    label {
                        &:before {
                            border: 2px solid $brand-light;
                            opacity: 1;
                        }
                        i, md-icon {
                            color: $brand-light;
                        }
                    }

                    #{$parent}_description {
                        color: black !important;
                    }

                    #{$parent}_icon {
                        md-icon {
                            color: $brand-light;
                        }
                    }
                }
            }

            &_input {
                margin-bottom: $inner-padding;
                > *:not(md-switch) {
                    padding-bottom: $inner-padding;
                    vertical-align: middle;
                }
                .zf-label {
                    text-transform: capitalize;
                    line-height: 0;
                    min-width: 151px;
                    padding-right: 24px;
                }
                md-switch {
                    padding-left: 16px;
                    margin: 0;
                }
                md-select[disabled] > md-select-value {
                    background-image: none;
                }
                md-radio-group {
                    height: 34px;
                    md-radio-button {
                        margin-bottom: 0;
                        font-size: 14px;
                        display: inline-block;

                        &:not(:first-child) {
                            margin-left: 16px;
                        }
                    }
                }

                &.type-title {
                    font-size: 14px;
                    .zf-label {
                        line-height: 16px;
                        text-transform: none;
                    }
                }
            }

            &_show-more {
                button {
                    margin-left: -11px;
                }
            }

            &_warning {

                padding: 24px 24px 20px 20px;
                margin-bottom: 30px;
                margin-right: 16px;
                background-color: rgba(#eb4454, 0.1);

                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.1px;
                color: #bf3744;

                &_body {

                }

                &_list {
                    margin-top: 8px;
                    ul {
                        padding-left: 16px;
                        margin: 0;

                        li {
                            color: #000000;
                        }
                    }
                }
            }

            &_personal {
                margin-bottom: 40px;
                &_item {
                    > * {
                        padding-bottom: $inner-padding;
                        vertical-align: middle;
                    }
                    .zf-label {
                        line-height: 0;
                        min-width: 151px;
                        padding-right: 24px;
                    }

                    &.__description {
                        .zf-label {
                            line-height: 14px;
                            vertical-align: sub;
                        }
                        textarea {
                            resize: none;
                            border-radius: 4px;
                            background-color: #ffffff;
                            border: 1px solid #ffffff;
                            font-size: 14px;
                            padding: 11px;
                            color: inherit;
                        }
                    }
                }
            }
            &_additional {
                .zf-input-container {
                    > label {
                        margin-bottom: 20px;
                    }
                }

                &_legend-container {
                    width: 100%;
                    &_item {
                        width: 33%;
                        display: inline-block;
                        md-checkbox {
                            margin-bottom: $standart-padding;

                            > *[ng-transclude] {
                                font-size: 14px;
                                font-weight: 500;
                                margin-left: 32px;
                            }
                        }
                    }
                }
            }

            .divider {
                background-color: rgba(0, 0, 0, 0.15);
                margin: 14px 16px 30px 0;
            }
        }
    }

    &_container-helper {
        overflow-y: hidden;
        padding-left: 0 !important;
        display: flex;
        align-items: center;
        min-width: 240px;
        &_picture {
            width: 100%;
            min-height: 180px;

            &_item {

                margin-bottom: 18px;

                &.item-table {
                    margin: 0 10px 18px 10px;
                    height: 149px;
                }
                overflow: auto;

                *[data-echarts] {
                    margin: auto !important;
                }
            }
            &_caption {
                font-size: 12px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: rgba(0, 0, 0, 0.5);
            }
            &_empty-caption {
                color: rgba(0, 0, 0, 0.15);
                letter-spacing: 0.6px;
                font-weight: 300;
                font-size: 20px;
                text-align: center;
                line-height: 180px;
                vertical-align: middle;
            }
        }
        &_actions {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 $inner-padding $inner-padding $inner-padding;
        }
    }

    @media(min-width: $screen-desktop) {
        min-width: 864px;
    }
}
